In [2]:
# 1.	Read your .csv with pd.read_csv()
# The goal of this first step is to get your csv file into a dataframe to use it with Python.
# -	Use the pandas function read_csv to read your .csv file 
# -	Add the option to automatically change the date to datetime object


import csv
import pandas as pd

df = pd.read_csv(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\practice3\CL.csv",parse_dates=["Date"])
# print(df)

# print(type(df['Date'][0]))
print(df)

            Date       Open       High        Low      Close  Adj Close  \
0     1973-05-02   0.000000   2.000000   1.966146   2.000000   0.470298
1     1973-05-03   0.000000   2.013021   1.953125   2.005208   0.471523
2     1973-05-04   0.000000   2.028646   1.989583   2.000000   0.470298
3     1973-05-07   0.000000   2.015625   1.984375   1.989583   0.467849
4     1973-05-08   0.000000   1.989583   1.947917   1.986979   0.467236
...          ...        ...        ...        ...        ...        ...
12443 2022-08-31  79.250000  79.570000  78.139999  78.209999  78.209999
12444 2022-09-01  78.129997  79.800003  77.769997  79.800003  79.800003
12445 2022-09-02  80.139999  80.419998  77.910004  78.169998  78.169998
12446 2022-09-06  77.680000  79.110001  77.559998  77.769997  77.769997
12447 2022-09-07  78.089996  78.660004  77.910004  78.550003  78.550003

        Volume
0       672000
1       739200
2      1339200
3       316800
4       619200
...        ...
12443  4054100
12444  5924100
12445  3111700
12446  4137000
12447  4264500

[12448 rows x 7 columns]

In [3]:
# 2.	Modify your dataframe
# The goal of this second step is to add information on your dataframe for later use.
# -	Add three columns (like practice 2):
# “Name” with your name (same for every line)
# “Surname” with your surname (same for every line)
# “Date_of_download” with the date of practice 1 (same for every line)


# df["Name"] = "Leila"   можно так 
import datetime


df["Name"] = ["Leila" for _ in range(0, len(df))]  # можно так
df["Surname"] = "Bekturgan"
df["Date_of_dowload"] = datetime.datetime(year = 2022, month= 9, day = 15)




print(df)

            Date       Open       High        Low      Close  Adj Close  \
0     1973-05-02   0.000000   2.000000   1.966146   2.000000   0.470298
1     1973-05-03   0.000000   2.013021   1.953125   2.005208   0.471523
2     1973-05-04   0.000000   2.028646   1.989583   2.000000   0.470298
3     1973-05-07   0.000000   2.015625   1.984375   1.989583   0.467849
4     1973-05-08   0.000000   1.989583   1.947917   1.986979   0.467236
...          ...        ...        ...        ...        ...        ...
12443 2022-08-31  79.250000  79.570000  78.139999  78.209999  78.209999
12444 2022-09-01  78.129997  79.800003  77.769997  79.800003  79.800003
12445 2022-09-02  80.139999  80.419998  77.910004  78.169998  78.169998
12446 2022-09-06  77.680000  79.110001  77.559998  77.769997  77.769997
12447 2022-09-07  78.089996  78.660004  77.910004  78.550003  78.550003

        Volume   Name    Surname Date_of_dowload
0       672000  Leila  Bekturgan      2022-09-15
1       739200  Leila  Bekturgan      2022-09-15
2      1339200  Leila  Bekturgan      2022-09-15
3       316800  Leila  Bekturgan      2022-09-15
4       619200  Leila  Bekturgan      2022-09-15
...        ...    ...        ...             ...
12443  4054100  Leila  Bekturgan      2022-09-15
12444  5924100  Leila  Bekturgan      2022-09-15
12445  3111700  Leila  Bekturgan      2022-09-15
12446  4137000  Leila  Bekturgan      2022-09-15
12447  4264500  Leila  Bekturgan      2022-09-15

[12448 rows x 10 columns]

In [10]:
# 3.	Modify your dataframe
# The goal of this third step is to get stock market variation instead of price. This will make all stocks to the same range. Later in this course, we will try to predict the stock variation and not the stock price.

percentage_change = [0]



# for i, row in df.iterrows():
#     print(df['Open'][i])

for index, item in df.iterrows():
    if index == 0:
        continue
    else:
        if(df["Open"][index] != 0):
            percentage_change.append((df["Open"][index] - df["Open"][index - 1]) / df["Open"][index] * 100)
        else:
            percentage_change.append(0)


    
# print(percentage_change)
df["percentage_change"] = percentage_change
print(df)

            Date       Open       High        Low      Close  Adj Close  \
0     1973-05-02   0.000000   2.000000   1.966146   2.000000   0.470298
1     1973-05-03   0.000000   2.013021   1.953125   2.005208   0.471523
2     1973-05-04   0.000000   2.028646   1.989583   2.000000   0.470298
3     1973-05-07   0.000000   2.015625   1.984375   1.989583   0.467849
4     1973-05-08   0.000000   1.989583   1.947917   1.986979   0.467236
...          ...        ...        ...        ...        ...        ...
12443 2022-08-31  79.250000  79.570000  78.139999  78.209999  78.209999
12444 2022-09-01  78.129997  79.800003  77.769997  79.800003  79.800003
12445 2022-09-02  80.139999  80.419998  77.910004  78.169998  78.169998
12446 2022-09-06  77.680000  79.110001  77.559998  77.769997  77.769997
12447 2022-09-07  78.089996  78.660004  77.910004  78.550003  78.550003

        Volume   Name    Surname Date_of_dowload  percentage_change
0       672000  Leila  Bekturgan      2022-09-15           0.000000
1       739200  Leila  Bekturgan      2022-09-15           0.000000
2      1339200  Leila  Bekturgan      2022-09-15           0.000000
3       316800  Leila  Bekturgan      2022-09-15           0.000000
4       619200  Leila  Bekturgan      2022-09-15           0.000000
...        ...    ...        ...             ...                ...
12443  4054100  Leila  Bekturgan      2022-09-15          -0.630915
12444  5924100  Leila  Bekturgan      2022-09-15          -1.433512
12445  3111700  Leila  Bekturgan      2022-09-15           2.508113
12446  4137000  Leila  Bekturgan      2022-09-15          -3.166837
12447  4264500  Leila  Bekturgan      2022-09-15           0.525030

[12448 rows x 11 columns]

In [11]:
# 4.	Save your dataframe to json
# The goal of this fourth step is to save and share your data with other students.
# -	Save your dataframe in JSON format
# -	Reopen your dataframe to validate than the dataframe is the same
# -	Rename your JSON file with the symbol of the company
# -	Upload your file on the shared folder: https://drive.google.com/drive/folders/1I9PAswCIzcpNeOM-N6nWXEf4MgqxWp-w?usp=sharing


df.to_json(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\practice3\CL.json", date_format='iso')

In [12]:
df = pd.read_json(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\practice3\CL.json")
print(df)

                           Date       Open       High        Low      Close  \
0     1973-05-02 00:00:00+00:00   0.000000   2.000000   1.966146   2.000000
1     1973-05-03 00:00:00+00:00   0.000000   2.013021   1.953125   2.005208
2     1973-05-04 00:00:00+00:00   0.000000   2.028646   1.989583   2.000000
3     1973-05-07 00:00:00+00:00   0.000000   2.015625   1.984375   1.989583
4     1973-05-08 00:00:00+00:00   0.000000   1.989583   1.947917   1.986979
...                         ...        ...        ...        ...        ...
12443 2022-08-31 00:00:00+00:00  79.250000  79.570000  78.139999  78.209999
12444 2022-09-01 00:00:00+00:00  78.129997  79.800003  77.769997  79.800003
12445 2022-09-02 00:00:00+00:00  80.139999  80.419998  77.910004  78.169998
12446 2022-09-06 00:00:00+00:00  77.680000  79.110001  77.559998  77.769997
12447 2022-09-07 00:00:00+00:00  78.089996  78.660004  77.910004  78.550003

       Adj Close   Volume   Name    Surname           Date_of_dowload  \
0       0.470298   672000  Leila  Bekturgan  2022-09-15T00:00:00.000Z
1       0.471523   739200  Leila  Bekturgan  2022-09-15T00:00:00.000Z
2       0.470298  1339200  Leila  Bekturgan  2022-09-15T00:00:00.000Z
3       0.467849   316800  Leila  Bekturgan  2022-09-15T00:00:00.000Z
4       0.467236   619200  Leila  Bekturgan  2022-09-15T00:00:00.000Z
...          ...      ...    ...        ...                       ...
12443  78.209999  4054100  Leila  Bekturgan  2022-09-15T00:00:00.000Z
12444  79.800003  5924100  Leila  Bekturgan  2022-09-15T00:00:00.000Z
12445  78.169998  3111700  Leila  Bekturgan  2022-09-15T00:00:00.000Z
12446  77.769997  4137000  Leila  Bekturgan  2022-09-15T00:00:00.000Z
12447  78.550003  4264500  Leila  Bekturgan  2022-09-15T00:00:00.000Z

       percentage_change
0               0.000000
1               0.000000
2               0.000000
3               0.000000
4               0.000000
...                  ...
12443          -0.630915
12444          -1.433512
12445           2.508113
12446          -3.166837
12447           0.525030

[12448 rows x 11 columns]

In [13]:



df1 = pd.read_json(r'C:\Users\leila\OneDrive\Рабочий стол\IKT\practice3\ETSY.json')
df1.to_csv(r'C:\Users\leila\OneDrive\Рабочий стол\IKT\practice3\ETSY.csv', index = None)

df2 = pd.read_json(r'C:\Users\leila\OneDrive\Рабочий стол\IKT\practice3\MRNA.json')
df2.to_csv(r'C:\Users\leila\OneDrive\Рабочий стол\IKT\practice3\MRNA.csv', index = None)

df3 = pd.read_json(r'C:\Users\leila\OneDrive\Рабочий стол\IKT\practice3\ORCL.json')
df3.to_csv(r'C:\Users\leila\OneDrive\Рабочий стол\IKT\practice3\ORCL.csv', index = None)

In [14]:
df = pd.concat([df1, df2, df3])
# print(df)
df = df.reset_index(drop = True)
print(df)

                           Date       Open       High        Low      Close  \
0     2015-04-16 00:00:00+00:00  31.000000  35.740002  28.219999  30.000000
1     2015-04-17 00:00:00+00:00  29.770000  30.299999  26.510000  27.580000
2     2015-04-20 00:00:00+00:00  28.770000  28.900000  24.870001  24.900000
3     2015-04-21 00:00:00+00:00  24.969999  26.040001  24.559999  25.750000
4     2015-04-22 00:00:00+00:00  26.000000  26.240000  24.950001  25.120001
...                         ...        ...        ...        ...        ...
11999 2022-08-31 00:00:00+00:00  74.459999  75.150002  74.040001  74.150002
12000 2022-09-01 00:00:00+00:00  74.120003  75.370003  73.529999  75.300003
12001 2022-09-02 00:00:00+00:00  75.739998  76.769997  74.480003  74.680000
12002 2022-09-06 00:00:00+00:00  74.699997  75.190002  73.550003  73.830002
12003 2022-09-07 00:00:00+00:00  73.680000  74.669998  73.419998  74.489998

       Adj Close    Volume        Name  Surname             Date_Practice  \
0      30.000000  19763300     Aruzhan  Seitkul  2022-09-07T00:00:00.000Z
1      27.580000   3965500     Aruzhan  Seitkul  2022-09-07T00:00:00.000Z
2      24.900000   3076200     Aruzhan  Seitkul  2022-09-07T00:00:00.000Z
3      25.750000   2184700     Aruzhan  Seitkul  2022-09-07T00:00:00.000Z
4      25.120001   1442500     Aruzhan  Seitkul  2022-09-07T00:00:00.000Z
...          ...       ...         ...      ...                       ...
11999  74.150002   8612900  Temirkhan     Seken                       NaN
12000  75.300003   8139800  Temirkhan     Seken                       NaN
12001  74.680000  11027700  Temirkhan     Seken                       NaN
12002  73.830002   7090100  Temirkhan     Seken                       NaN
12003  74.489998   5789800  Temirkhan     Seken                       NaN

       Percentage_change          Date_of_download  percentage_change
0               0.000000                       NaN                NaN
1              -4.131676                       NaN                NaN
2              -3.475843                       NaN                NaN
3             -15.218267                       NaN                NaN
4               3.961542                       NaN                NaN
...                  ...                       ...                ...
11999           0.053721  2022-09-09T00:00:00.000Z                NaN
12000          -0.458710  2022-09-09T00:00:00.000Z                NaN
12001           2.138890  2022-09-09T00:00:00.000Z                NaN
12002          -1.392237  2022-09-09T00:00:00.000Z                NaN
12003          -1.384361  2022-09-09T00:00:00.000Z                NaN

[12004 rows x 13 columns]