In [ ]:
# 1. Create a big list of symbols
# You have two files which contains a list of compagnies’ symbols in Europe and in US. You will merge them to create a complete list of all symbols.
# - Use the “with open()” function to open both csv files.
# - The csv file is only on row with a high number of items
# - Store their content (list of symbols) in two different variables
# - Create the final list with all symbols by merging both lists

import pandas as pd
import numpy as np
import csv

list = []

# df = pd.read_csv(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\practice7\list_symbols_euronext.csv")
with open(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\practice7\list_symbols_euronext.csv") as file:
    csvfile = csv.reader(file)
    for row in csvfile:
        list += row


with open(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\practice7\list_symbols_US.csv") as file:
    csvfile = csv.reader(file)
    for row in csvfile:
        list += row

print(list)
print(len(list))

In [2]:
# 2. Downloading
# You have now a big list of compagnies’ symbols. You will use them and the url of yahoo finance to download csv file of all these compagnies.
# - Create a loop on the 10th first symbols (making a loop on all symbols is extremely long).
# - For every iteration, download the csv file by using the read_csv() function of pandas and the following URL: “https://query1.finance.yahoo.com/v7/finance/download/”SYM”?period1=0&period2=1661904000&interval=1d&events=history&includeAdjustedClose=true”
# o Where “SYM” is the symbol of the company (change at every iteration)
# o The following function: pd.read_csv(url) allow you to directly download data from the url into a dataframe
# - Add a column with the symbol of the company to the created dataframe
# - Add the dataframe to a list of dataframes

import pandas as pd
import numpy as np

list_df = []
for i in range(10):
    print(list[i])
    try:
        url = 'https://query1.finance.yahoo.com/v7/finance/download/' + list[i] + '?period1=0&period2=1661904000&interval=1d&events=history&includeAdjustedClose=true'
        df = pd.read_csv(url)
        df['name'] = list[i]
        list_df.append(df)
        # print(df)
    except:
        print('error')

print(len(list_df))

ALMIL.PA
2020.OL
2CRSI.PA
5PG.OL
MLATV.PA
error
ALAST.PA
AALB.AS
AASB.OL
ABI.BR
AB.PA
9

In [3]:
# 3. Creating the final dataframe
# You have now a list of dataframes, you will merge them into one big dataframe and save it using parquet.
# - Merge the list of dataframes into one big dataframe (use the concat() function of pandas)
# - Save the dataframe into a file using the df.to_parquet() function (install pyarrow and fastparquet package first)
# - Compare the saved file with the file saved with the df.to_csv() function

df_final = pd.concat(list_df, ignore_index=True)
print(df_final)
df_final.to_csv(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\practice7\df_final_US_EUR.csv")
df_final.to_parquet(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\practice7\df_final_US_EUR.parquet")

             Date       Open       High        Low      Close  Adj Close  \
0      2006-02-08  23.299999  23.299999  23.299999  23.299999  20.706812
1      2006-02-09  17.950001  17.950001  17.950001  17.950001  15.952244
2      2006-02-10  16.990000  16.990000  16.990000  16.990000  15.099088
3      2006-02-13  18.059999  18.059999  18.059999  18.059999  16.050003
4      2006-02-14  19.000000  19.000000  19.000000  19.000000  16.885384
...           ...        ...        ...        ...        ...        ...
30232  2022-08-24   7.500000   7.500000   7.280000   7.380000   7.380000
30233  2022-08-25   8.280000   9.400000   8.260000   8.800000   8.800000
30234  2022-08-26   8.640000   9.070000   8.570000   8.910000   8.910000
30235  2022-08-29   8.720000   9.045000   8.600000   8.870000   8.870000
30236  2022-08-30   8.950000   9.095000   8.860000   9.025000   9.025000

         Volume      name
0           0.0  ALMIL.PA
1      177800.0  ALMIL.PA
2       65600.0  ALMIL.PA
3       38200.0  ALMIL.PA
4       23200.0  ALMIL.PA
...         ...       ...
30232   57688.0     AB.PA
30233  327851.0     AB.PA
30234  112173.0     AB.PA
30235   57706.0     AB.PA
30236   42130.0     AB.PA

[30237 rows x 8 columns]

In [2]:
# 4. Cleaning your dataframe
# You have dataframe with a huge amount of data, clean it to remove incorrect entries.
# - Load the final dataframe named ‘df_final_US_EUR.parquet’ with the df.read_parquet() function
# - Look into your dataframe and remove:
# o Empty rows (Nan)
# o Rows with 0 prices
# o Rows with incorrect type
# o Others incorrect rows…


import numpy as np
df = pd.read_parquet(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\practice7\df_final_US_EUR.parquet")
print(df)
print(len(df))


# print(df.isnull().sum())
print(df.isnull().sum().sum())

             Date       Open       High        Low      Close  Adj Close  \
0      2006-02-08  23.299999  23.299999  23.299999  23.299999  20.706812
1      2006-02-09  17.950001  17.950001  17.950001  17.950001  15.952244
2      2006-02-10  16.990000  16.990000  16.990000  16.990000  15.099088
3      2006-02-13  18.059999  18.059999  18.059999  18.059999  16.050003
4      2006-02-14  19.000000  19.000000  19.000000  19.000000  16.885384
...           ...        ...        ...        ...        ...        ...
30232  2022-08-24   7.500000   7.500000   7.280000   7.380000   7.380000
30233  2022-08-25   8.280000   9.400000   8.260000   8.800000   8.800000
30234  2022-08-26   8.640000   9.070000   8.570000   8.910000   8.910000
30235  2022-08-29   8.720000   9.045000   8.600000   8.870000   8.870000
30236  2022-08-30   8.950000   9.095000   8.860000   9.025000   9.025000

         Volume      name
0           0.0  ALMIL.PA
1      177800.0  ALMIL.PA
2       65600.0  ALMIL.PA
3       38200.0  ALMIL.PA
4       23200.0  ALMIL.PA
...         ...       ...
30232   57688.0     AB.PA
30233  327851.0     AB.PA
30234  112173.0     AB.PA
30235   57706.0     AB.PA
30236   42130.0     AB.PA

[30237 rows x 8 columns]
30237
1086

In [3]:
df.dropna(inplace=True)
print(df.isnull().sum().sum())
# print(df)

for index, lines in df.iterrows():
    if(lines['Volume'] == 0):
        df.loc[index, 'Volume'] = np.nan

print(df)
print(len(df))
print(df.isnull().sum().sum())

0
             Date       Open       High        Low      Close  Adj Close  \
0      2006-02-08  23.299999  23.299999  23.299999  23.299999  20.706812
1      2006-02-09  17.950001  17.950001  17.950001  17.950001  15.952244
2      2006-02-10  16.990000  16.990000  16.990000  16.990000  15.099088
3      2006-02-13  18.059999  18.059999  18.059999  18.059999  16.050003
4      2006-02-14  19.000000  19.000000  19.000000  19.000000  16.885384
...           ...        ...        ...        ...        ...        ...
30232  2022-08-24   7.500000   7.500000   7.280000   7.380000   7.380000
30233  2022-08-25   8.280000   9.400000   8.260000   8.800000   8.800000
30234  2022-08-26   8.640000   9.070000   8.570000   8.910000   8.910000
30235  2022-08-29   8.720000   9.045000   8.600000   8.870000   8.870000
30236  2022-08-30   8.950000   9.095000   8.860000   9.025000   9.025000

         Volume      name
0           NaN  ALMIL.PA
1      177800.0  ALMIL.PA
2       65600.0  ALMIL.PA
3       38200.0  ALMIL.PA
4       23200.0  ALMIL.PA
...         ...       ...
30232   57688.0     AB.PA
30233  327851.0     AB.PA
30234  112173.0     AB.PA
30235   57706.0     AB.PA
30236   42130.0     AB.PA

[30056 rows x 8 columns]
30056
1704

In [4]:
df.dropna(inplace=True, subset='Volume')
print(df.isnull().sum().sum())
print(len(df))
df = df.reset_index(drop=True)
print(df)

0
28352
             Date       Open       High        Low      Close  Adj Close  \
0      2006-02-09  17.950001  17.950001  17.950001  17.950001  15.952244
1      2006-02-10  16.990000  16.990000  16.990000  16.990000  15.099088
2      2006-02-13  18.059999  18.059999  18.059999  18.059999  16.050003
3      2006-02-14  19.000000  19.000000  19.000000  19.000000  16.885384
4      2006-02-15  19.000000  19.000000  19.000000  19.000000  16.885384
...           ...        ...        ...        ...        ...        ...
28347  2022-08-24   7.500000   7.500000   7.280000   7.380000   7.380000
28348  2022-08-25   8.280000   9.400000   8.260000   8.800000   8.800000
28349  2022-08-26   8.640000   9.070000   8.570000   8.910000   8.910000
28350  2022-08-29   8.720000   9.045000   8.600000   8.870000   8.870000
28351  2022-08-30   8.950000   9.095000   8.860000   9.025000   9.025000

         Volume      name
0      177800.0  ALMIL.PA
1       65600.0  ALMIL.PA
2       38200.0  ALMIL.PA
3       23200.0  ALMIL.PA
4       16100.0  ALMIL.PA
...         ...       ...
28347   57688.0     AB.PA
28348  327851.0     AB.PA
28349  112173.0     AB.PA
28350   57706.0     AB.PA
28351   42130.0     AB.PA

[28352 rows x 8 columns]