# Work with .csv file

In [1]:
#import package csv to read csv files
import csv

In [2]:
#Open the file in python with the path of the file in your computer
file = open(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\lects\lect1\Apple_price_csv.csv", 'r')
print(file)

<_io.TextIOWrapper name='C:\\Users\\leila\\OneDrive\\Рабочий стол\\IKT\\lects\\lect1\\Apple_price_csv.csv' mode='r' encoding='cp1251'>

In [3]:
#open the file with reader function
csv_file = csv.reader(file)
print(csv_file)

<_csv.reader object at 0x00000217748B53C0>

In [4]:
#print all rows
for row in csv_file:
    print(row)

['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
['2015-08-25', '27.777500', '27.777500', '25.875000', '25.934999', '23.681032', '414406400']
['2015-08-26', '26.772499', '27.472500', '26.262501', '27.422501', '25.039267', '387098400']
['2015-08-27', '28.057501', '28.309999', '27.504999', '28.230000', '25.776581', '338464400']
['2015-08-28', '28.042500', '28.327499', '27.885000', '28.322500', '25.861042', '212657600']
['2015-08-31', '28.007500', '28.632500', '28.000000', '28.190001', '25.740063', '224917200']
['2015-09-01', '27.537500', '27.969999', '26.840000', '26.930000', '24.589561', '307383600']
['2015-09-02', '27.557501', '28.084999', '27.282499', '28.084999', '25.644186', '247555200']
['2015-09-03', '28.122499', '28.195000', '27.510000', '27.592501', '25.194485', '212935600']
['2015-09-04', '27.242500', '27.612499', '27.127501', '27.317499', '24.943384', '199985200']
['2015-09-08', '27.937500', '28.139999', '27.580000', '28.077499', '25.637335', '219374400']
['2015-09-09', '28.440001', '28.504999', '27.442499', '27.537500', '25.144264', '340043200']
['2015-09-10', '27.567499', '28.320000', '27.475000', '28.142500', '25.696684', '251571200']
['2015-09-11', '27.947500', '28.552500', '27.940001', '28.552500', '26.071056', '199662000']
['2015-09-14', '29.145000', '29.222500', '28.715000', '28.827499', '26.322155', '233453600']
['2015-09-15', '28.982500', '29.132500', '28.605000', '29.070000', '26.543575', '173364800']
['2015-09-16', '29.062500', '29.135000', '28.860001', '29.102501', '26.573254', '148694000']
['2015-09-17', '28.915001', '29.122499', '28.430000', '28.480000', '26.004856', '256450400']
['2015-09-18', '28.052500', '28.575001', '27.967501', '28.362499', '25.897564', '297141200']
['2015-09-21', '28.417500', '28.842501', '28.415001', '28.802500', '26.299326', '200888000']
['2015-09-22', '28.344999', '28.545000', '28.129999', '28.350000', '25.886154', '201384800']
['2015-09-23', '28.407499', '28.680000', '28.325001', '28.580000', '26.096163', '143026800']
['2015-09-24', '28.312500', '28.875000', '28.092501', '28.750000', '26.251394', '200878000']
['2015-09-25', '29.110001', '29.172501', '28.504999', '28.677500', '26.185190', '224607600']
['2015-09-28', '28.462500', '28.642500', '28.110001', '28.110001', '25.667015', '208436000']
['2015-09-29', '28.207500', '28.377501', '26.965000', '27.264999', '24.895449', '293461600']
['2015-09-30', '27.542500', '27.885000', '27.182501', '27.575001', '25.178503', '265892000']
['2015-10-01', '27.267500', '27.405001', '26.827499', '27.395000', '25.014153', '255716400']
['2015-10-02', '27.002501', '27.752501', '26.887501', '27.594999', '25.196772', '232079200']
['2015-10-05', '27.469999', '27.842501', '27.267500', '27.695000', '25.288078', '208258800']
['2015-10-06', '27.657499', '27.934999', '27.442499', '27.827499', '25.409065', '192787200']
['2015-10-07', '27.934999', '27.942499', '27.352501', '27.695000', '25.288078', '187062400']
['2015-10-08', '27.547501', '27.547501', '27.052500', '27.375000', '24.995890', '247918400']
['2015-10-09', '27.500000', '28.070000', '27.372499', '28.030001', '25.593964', '211064400']
['2015-10-12', '28.182501', '28.187500', '27.860001', '27.900000', '25.475260', '121868800']
['2015-10-13', '27.705000', '28.112499', '27.670000', '27.947500', '25.518633', '132197200']
['2015-10-14', '27.822500', '27.879999', '27.389999', '27.552500', '25.157961', '177849600']
['2015-10-15', '27.732500', '28.025000', '27.622499', '27.965000', '25.534609', '150694000']
['2015-10-16', '27.945000', '28.000000', '27.632500', '27.760000', '25.347437', '156930400']
['2015-10-19', '27.700001', '27.937500', '27.527500', '27.932501', '25.504932', '119036800']
['2015-10-20', '27.834999', '28.542500', '27.705000', '28.442499', '25.970615', '195871200']
['2015-10-21', '28.500000', '28.895000', '28.424999', '28.440001', '25.968327', '167180800']
['2015-10-22', '28.582500', '28.875000', '28.525000', '28.875000', '26.365528', '166616400']
['2015-10-23', '29.174999', '29.807501', '29.082500', '29.770000', '27.182737', '237467600']
['2015-10-26', '29.520000', '29.532499', '28.730000', '28.820000', '26.315304', '265335200']
['2015-10-27', '28.850000', '29.135000', '28.497499', '28.637501', '26.148668', '279537600']
['2015-10-28', '29.232500', '29.825001', '29.014999', '29.817499', '27.226110', '342205600']
['2015-10-29', '29.674999', '30.172501', '29.567499', '30.132500', '27.513735', '204909200']
['2015-10-30', '30.247499', '30.305000', '29.862499', '29.875000', '27.278614', '197461200']
['2015-11-02', '30.200001', '30.340000', '29.902500', '30.295000', '27.662121', '128813200']
['2015-11-03', '30.197500', '30.872499', '30.174999', '30.642500', '27.979418', '182076000']
['2015-11-04', '30.782499', '30.955000', '30.405001', '30.500000', '27.849297', '179544400']
['2015-11-05', '30.462500', '30.672501', '30.045000', '30.230000', '27.720922', '158210800']
['2015-11-06', '30.277500', '30.452499', '30.155001', '30.264999', '27.753016', '132169200']
['2015-11-09', '30.240000', '30.452499', '30.012501', '30.142500', '27.640682', '135485600']
['2015-11-10', '29.225000', '29.517500', '29.014999', '29.192499', '26.769529', '236511600']
['2015-11-11', '29.092501', '29.355000', '28.802500', '29.027500', '26.618229', '180872000']
['2015-11-12', '29.065001', '29.205000', '28.912500', '28.930000', '26.528822', '130102400']
['2015-11-13', '28.799999', '28.892500', '28.067499', '28.084999', '25.753950', '183249600']
['2015-11-16', '27.844999', '28.559999', '27.750000', '28.545000', '26.175776', '152426800']
['2015-11-17', '28.730000', '28.762501', '28.330000', '28.422501', '26.063444', '110467600']
['2015-11-18', '28.940001', '29.372499', '28.875000', '29.322500', '26.888742', '186698800']
['2015-11-19', '29.410000', '29.937500', '29.190001', '29.695000', '27.230324', '173183200']
['2015-11-20', '29.799999', '29.980000', '29.712500', '29.825001', '27.349535', '137148400']
['2015-11-23', '29.817499', '29.932501', '29.334999', '29.437500', '26.994192', '129930000']
['2015-11-24', '29.332500', '29.837500', '29.280001', '29.719999', '27.253248', '171212800']
['2015-11-25', '29.802500', '29.807501', '29.480000', '29.507500', '27.058388', '85553200']
['2015-11-27', '29.572500', '29.602501', '29.400000', '29.452499', '27.007950', '52185600']
['2015-11-30', '29.497499', '29.852501', '29.437500', '29.575001', '27.120283', '156721200']
['2015-12-01', '29.687500', '29.702499', '29.215000', '29.334999', '26.900200', '139409600']
['2015-12-02', '29.334999', '29.527500', '29.020000', '29.070000', '26.657200', '133546400']
['2015-12-03', '29.137501', '29.197500', '28.555000', '28.799999', '26.409611', '166278000']
['2015-12-04', '28.822500', '29.812500', '28.777500', '29.757500', '27.287638', '231108000']
['2015-12-07', '29.745001', '29.965000', '29.452499', '29.570000', '27.115700', '128336800']
['2015-12-08', '29.379999', '29.650000', '29.215000', '29.557501', '27.104240', '137238000']
['2015-12-09', '29.410000', '29.422501', '28.770000', '28.905001', '26.505894', '185445600']
['2015-12-10', '29.010000', '29.235001', '28.877501', '29.042500', '26.631983', '116850800']
['2015-12-11', '28.797501', '28.847500', '28.212500', '28.295000', '25.946526', '187544800']
['2015-12-14', '28.045000', '28.170000', '27.447500', '28.120001', '25.786051', '257274800']
['2015-12-15', '27.985001', '28.200001', '27.587500', '27.622499', '25.329840', '213292400']
['2015-12-16', '27.767500', '27.997499', '27.200001', '27.834999', '25.524700', '224954000']
['2015-12-17', '28.004999', '28.062500', '27.245001', '27.245001', '24.983675', '179091200']
['2015-12-18', '27.227501', '27.379999', '26.452499', '26.507500', '24.307384', '385813200']
['2015-12-21', '26.820000', '26.842501', '26.392500', '26.832500', '24.605406', '190362400']
['2015-12-22', '26.850000', '26.930000', '26.612499', '26.807501', '24.582485', '131157600']
['2015-12-23', '26.817499', '27.212500', '26.799999', '27.152500', '24.898848', '130629600']
['2015-12-24', '27.250000', '27.250000', '26.987499', '27.007500', '24.765888', '54281600']
['2015-12-28', '26.897499', '26.922501', '26.545000', '26.705000', '24.488493', '106816800']
['2015-12-29', '26.740000', '27.357500', '26.715000', '27.184999', '24.928652', '123724800']
['2015-12-30', '27.145000', '27.174999', '26.795000', '26.830000', '24.603117', '100855200']
['2015-12-31', '26.752501', '26.757500', '26.205000', '26.315001', '24.130867', '163649200']
['2016-01-04', '25.652500', '26.342501', '25.500000', '26.337500', '24.151491', '270597600']
['2016-01-05', '26.437500', '26.462500', '25.602501', '25.677500', '23.546274', '223164000']
['2016-01-06', '25.139999', '25.592501', '24.967501', '25.174999', '23.085487', '273829600']
['2016-01-07', '24.670000', '25.032499', '24.107500', '24.112499', '22.111174', '324377600']
['2016-01-08', '24.637501', '24.777500', '24.190001', '24.240000', '22.228086', '283192000']
['2016-01-11', '24.742500', '24.764999', '24.334999', '24.632500', '22.588009', '198957600']
['2016-01-12', '25.137501', '25.172501', '24.709999', '24.990000', '22.915840', '196616800']
['2016-01-13', '25.080000', '25.297501', '24.325001', '24.347500', '22.326664', '249758400']
['2016-01-14', '24.490000', '25.120001', '23.934999', '24.879999', '22.814966', '252680400']
['2016-01-15', '24.049999', '24.427500', '23.840000', '24.282499', '22.267059', '319335600']
['2016-01-19', '24.602501', '24.662500', '23.875000', '24.165001', '22.159313', '212350800']
['2016-01-20', '23.775000', '24.547501', '23.355000', '24.197500', '22.189110', '289337600']
['2016-01-21', '24.264999', '24.469999', '23.735001', '24.075001', '22.076786', '208646000']
['2016-01-22', '24.657499', '25.365000', '24.592501', '25.355000', '23.250544', '263202000']
['2016-01-25', '25.379999', '25.382500', '24.802500', '24.860001', '22.796629', '207178000']
['2016-01-26', '24.982500', '25.219999', '24.517500', '24.997499', '22.922716', '300308000']
['2016-01-27', '24.010000', '24.157499', '23.334999', '23.355000', '21.416540', '533478800']
['2016-01-28', '23.447500', '23.629999', '23.097500', '23.522499', '21.570145', '222715200']
['2016-01-29', '23.697500', '24.334999', '23.587500', '24.334999', '22.315205', '257666000']
['2016-02-01', '24.117500', '24.177500', '23.850000', '24.107500', '22.106583', '163774000']
['2016-02-02', '23.855000', '24.010000', '23.570000', '23.620001', '21.659550', '149428800']
['2016-02-03', '23.750000', '24.209999', '23.520000', '24.087500', '22.088245', '183857200']
['2016-02-04', '23.965000', '24.332500', '23.797501', '24.150000', '22.265726', '185886800']
['2016-02-05', '24.129999', '24.230000', '23.422501', '23.504999', '21.671049', '185672400']
['2016-02-08', '23.282499', '23.924999', '23.260000', '23.752501', '21.899239', '216085600']
['2016-02-09', '23.572500', '23.985001', '23.482500', '23.747499', '21.894634', '177324800']
['2016-02-10', '23.980000', '24.087500', '23.525000', '23.567499', '21.728678', '169374400']
['2016-02-11', '23.447500', '23.680000', '23.147499', '23.424999', '21.597288', '200298800']
['2016-02-12', '23.547501', '23.625000', '23.252501', '23.497499', '21.664137', '161405600']
['2016-02-16', '23.754999', '24.212500', '23.652500', '24.160000', '22.274950', '196231600']
['2016-02-17', '24.167500', '24.552500', '24.037500', '24.530001', '22.616079', '179452800']
['2016-02-18', '24.709999', '24.722500', '24.022499', '24.065001', '22.187355', '156084000']
['2016-02-19', '24.000000', '24.190001', '23.950001', '24.010000', '22.136646', '141496800']
['2016-02-22', '24.077499', '24.225000', '23.980000', '24.219999', '22.330263', '137123200']
['2016-02-23', '24.100000', '24.125000', '23.637501', '23.672501', '21.825483', '127770400']
['2016-02-24', '23.495001', '24.094999', '23.330000', '24.025000', '22.150480', '145022800']
['2016-02-25', '24.012501', '24.190001', '23.812500', '24.190001', '22.302610', '110330800']
['2016-02-26', '24.299999', '24.504999', '24.145000', '24.227501', '22.337173', '115964400']
['2016-02-29', '24.215000', '24.557501', '24.162500', '24.172501', '22.286469', '140865200']
['2016-03-01', '24.412500', '25.192499', '24.355000', '25.132500', '23.171564', '201628400']
['2016-03-02', '25.127501', '25.222500', '24.910000', '25.187500', '23.222275', '132678400']
['2016-03-03', '25.145000', '25.427500', '25.112499', '25.375000', '23.395145', '147822800']
['2016-03-04', '25.592501', '25.937500', '25.342501', '25.752501', '23.743195', '184220400']
['2016-03-07', '25.597500', '25.707500', '25.240000', '25.467501', '23.480425', '143315600']
['2016-03-08', '25.195000', '25.440001', '25.100000', '25.257500', '23.286812', '126247600']
['2016-03-09', '25.327499', '25.395000', '25.067499', '25.280001', '23.307558', '108806800']
['2016-03-10', '25.352501', '25.559999', '25.037500', '25.292500', '23.319082', '134054400']
['2016-03-11', '25.559999', '25.570000', '25.375000', '25.565001', '23.570320', '109632800']
['2016-03-14', '25.477501', '25.727501', '25.445000', '25.629999', '23.630247', '100304400']
['2016-03-15', '25.990000', '26.295000', '25.962500', '26.145000', '24.105066', '160270800']
['2016-03-16', '26.152500', '26.577499', '26.147499', '26.492500', '24.425457', '153214000']
['2016-03-17', '26.379999', '26.617500', '26.240000', '26.450001', '24.386272', '137682800']
['2016-03-18', '26.584999', '26.625000', '26.297501', '26.480000', '24.413927', '176820800']
['2016-03-21', '26.482500', '26.912500', '26.285000', '26.477501', '24.411627', '142010800']
['2016-03-22', '26.312500', '26.822500', '26.302500', '26.680000', '24.598326', '129777600']
['2016-03-23', '26.620001', '26.767500', '26.475000', '26.532499', '24.462336', '102814000']
['2016-03-24', '26.367500', '26.562500', '26.222500', '26.417500', '24.356300', '104532000']
['2016-03-28', '26.500000', '26.547501', '26.264999', '26.297501', '24.245668', '77645600']
['2016-03-29', '26.222500', '26.947500', '26.219999', '26.920000', '24.819597', '124760400']
['2016-03-30', '27.162500', '27.605000', '27.150000', '27.389999', '25.252924', '182404400']
['2016-03-31', '27.430000', '27.475000', '27.219999', '27.247499', '25.121548', '103553600']
['2016-04-01', '27.195000', '27.500000', '27.049999', '27.497499', '25.352036', '103496000']
['2016-04-04', '27.605000', '28.047501', '27.567499', '27.780001', '25.612495', '149424800']
['2016-04-05', '27.377501', '27.682501', '27.355000', '27.452499', '25.310549', '106314800']
['2016-04-06', '27.557501', '27.745001', '27.299999', '27.740000', '25.575619', '105616400']
['2016-04-07', '27.487499', '27.605000', '27.030001', '27.135000', '25.017824', '127207600']
['2016-04-08', '27.227501', '27.442499', '27.042500', '27.165001', '25.045483', '94326800']
['2016-04-11', '27.242500', '27.652500', '27.207500', '27.254999', '25.128464', '117630000']
['2016-04-12', '27.334999', '27.625000', '27.165001', '27.610001', '25.455765', '108929200']
['2016-04-13', '27.700001', '28.084999', '27.700001', '28.010000', '25.824556', '133029200']
['2016-04-14', '27.905001', '28.097500', '27.832500', '28.025000', '25.838379', '101895600']
['2016-04-15', '28.027500', '28.075001', '27.432501', '27.462500', '25.319773', '187756000']
['2016-04-18', '27.222500', '27.237499', '26.735001', '26.870001', '24.773502', '243286000']
['2016-04-19', '26.969999', '27.000000', '26.557501', '26.727501', '24.642124', '129539600']
['2016-04-20', '26.660000', '27.022499', '26.514999', '26.782499', '24.692831', '122444000']
['2016-04-21', '26.732500', '26.732500', '26.379999', '26.492500', '24.425457', '126210000']
['2016-04-22', '26.252501', '26.620001', '26.155001', '26.420000', '24.358614', '134732400']
['2016-04-25', '26.250000', '26.412500', '26.127501', '26.270000', '24.220312', '112126400']
['2016-04-26', '25.977501', '26.325001', '25.977501', '26.087500', '24.052055', '224064800']
['2016-04-27', '24.000000', '24.677500', '23.920000', '24.455000', '22.546926', '458408400']
['2016-04-28', '24.402500', '24.469999', '23.562500', '23.707500', '21.857750', '328970800']
['2016-04-29', '23.497499', '23.680000', '23.127501', '23.434999', '21.606510', '274126000']
['2016-05-02', '23.492500', '23.520000', '23.100000', '23.410000', '21.583466', '192640400']
['2016-05-03', '23.549999', '23.934999', '23.420000', '23.795000', '21.938423', '227325200']
['2016-05-04', '23.799999', '23.975000', '23.455000', '23.547501', '21.710239', '164102000']
['2016-05-05', '23.500000', '23.517500', '23.170000', '23.309999', '21.622114', '143562000']
['2016-05-06', '23.342501', '23.362499', '22.962500', '23.180000', '21.501528', '174799600']
['2016-05-09', '23.250000', '23.442499', '23.147499', '23.197500', '21.517757', '131745600']
['2016-05-10', '23.332500', '23.392500', '23.027500', '23.355000', '21.663855', '134747200']
['2016-05-11', '23.370001', '23.392500', '23.115000', '23.127501', '21.452829', '114876400']
['2016-05-12', '23.180000', '23.195000', '22.367500', '22.584999', '20.949606', '305258800']
['2016-05-13', '22.500000', '22.917500', '22.500000', '22.629999', '20.991350', '177571200']
['2016-05-16', '23.097500', '23.597500', '22.912500', '23.469999', '21.770531', '245039200']
['2016-05-17', '23.637501', '23.674999', '23.252501', '23.372499', '21.680090', '187667600']
['2016-05-18', '23.540001', '23.802500', '23.472500', '23.639999', '21.928219', '168249600']
['2016-05-19', '23.660000', '23.660000', '23.392500', '23.549999', '21.844738', '121768400']
['2016-05-20', '23.660000', '23.857500', '23.629999', '23.805000', '22.081270', '128104000']
['2016-05-23', '23.967501', '24.297501', '23.917500', '24.107500', '22.361866', '152074400']
['2016-05-24', '24.305000', '24.522499', '24.209999', '24.475000', '22.702759', '140560800']
['2016-05-25', '24.667500', '24.934999', '24.527500', '24.905001', '23.101624', '152675200']
['2016-05-26', '24.920000', '25.182501', '24.660000', '25.102501', '23.284815', '225324800']
['2016-05-27', '24.860001', '25.117500', '24.812500', '25.087500', '23.270901', '145364800']
['2016-05-31', '24.900000', '25.100000', '24.705000', '24.965000', '23.157274', '169228800']
['2016-06-01', '24.754999', '24.885000', '24.582500', '24.615000', '22.832619', '116693200']
['2016-06-02', '24.400000', '24.459999', '24.157499', '24.430000', '22.661015', '160766400']
['2016-06-03', '24.447500', '24.567499', '24.362499', '24.480000', '22.707396', '114019600']
['2016-06-06', '24.497499', '25.472500', '24.387501', '24.657499', '22.872036', '93170000']
['2016-06-07', '24.812500', '24.967501', '24.740000', '24.757500', '22.964802', '89638000']
['2016-06-08', '24.754999', '24.889999', '24.670000', '24.735001', '22.943928', '83392400']
['2016-06-09', '24.625000', '24.997499', '24.615000', '24.912500', '23.108578', '106405600']
['2016-06-10', '24.632500', '24.837500', '24.620001', '24.707500', '22.918423', '126851600']
['2016-06-13', '24.672501', '24.780001', '24.275000', '24.334999', '22.572893', '152082000']
['2016-06-14', '24.330000', '24.620001', '24.187500', '24.365000', '22.600719', '127727600']
['2016-06-15', '24.455000', '24.602501', '24.257500', '24.285000', '22.526516', '117780800']
['2016-06-16', '24.112499', '24.437500', '24.017500', '24.387501', '22.621592', '125307200']
['2016-06-17', '24.155001', '24.162500', '23.825001', '23.832500', '22.106779', '244032800']
['2016-06-20', '24.000000', '24.142500', '23.757500', '23.775000', '22.053440', '137647600']
['2016-06-21', '23.735001', '24.087500', '23.670000', '23.977501', '22.241278', '142185600']
['2016-06-22', '24.062500', '24.222500', '23.837500', '23.887501', '22.157797', '116876400']
['2016-06-23', '23.985001', '24.072500', '23.812500', '24.025000', '22.285337', '128960800']
['2016-06-24', '23.227501', '23.665001', '23.162500', '23.350000', '21.659220', '301245600']
['2016-06-27', '23.250000', '23.262501', '22.875000', '23.010000', '21.343842', '181958400']
['2016-06-28', '23.225000', '23.415001', '23.035000', '23.397499', '21.703278', '161779600']
['2016-06-29', '23.492500', '23.637501', '23.407499', '23.600000', '21.891115', '146124000']

In [22]:
#read the file as a dict
csv_file = csv.DictReader(file)

In [23]:
#print all rows
for row in csv_file:
    print(row)

{'Date': '2015-08-25', 'Open': '27.777500', 'High': '27.777500', 'Low': '25.875000', 'Close': '25.934999', 'Adj Close': '23.681032', 'Volume': '414406400'}
{'Date': '2015-08-26', 'Open': '26.772499', 'High': '27.472500', 'Low': '26.262501', 'Close': '27.422501', 'Adj Close': '25.039267', 'Volume': '387098400'}
{'Date': '2015-08-27', 'Open': '28.057501', 'High': '28.309999', 'Low': '27.504999', 'Close': '28.230000', 'Adj Close': '25.776581', 'Volume': '338464400'}
{'Date': '2015-08-28', 'Open': '28.042500', 'High': '28.327499', 'Low': '27.885000', 'Close': '28.322500', 'Adj Close': '25.861042', 'Volume': '212657600'}
{'Date': '2015-08-31', 'Open': '28.007500', 'High': '28.632500', 'Low': '28.000000', 'Close': '28.190001', 'Adj Close': '25.740063', 'Volume': '224917200'}
{'Date': '2015-09-01', 'Open': '27.537500', 'High': '27.969999', 'Low': '26.840000', 'Close': '26.930000', 'Adj Close': '24.589561', 'Volume': '307383600'}
{'Date': '2015-09-02', 'Open': '27.557501', 'High': '28.084999', 'Low': '27.282499', 'Close': '28.084999', 'Adj Close': '25.644186', 'Volume': '247555200'}
{'Date': '2015-09-03', 'Open': '28.122499', 'High': '28.195000', 'Low': '27.510000', 'Close': '27.592501', 'Adj Close': '25.194485', 'Volume': '212935600'}
{'Date': '2015-09-04', 'Open': '27.242500', 'High': '27.612499', 'Low': '27.127501', 'Close': '27.317499', 'Adj Close': '24.943384', 'Volume': '199985200'}
{'Date': '2015-09-08', 'Open': '27.937500', 'High': '28.139999', 'Low': '27.580000', 'Close': '28.077499', 'Adj Close': '25.637335', 'Volume': '219374400'}
{'Date': '2015-09-09', 'Open': '28.440001', 'High': '28.504999', 'Low': '27.442499', 'Close': '27.537500', 'Adj Close': '25.144264', 'Volume': '340043200'}
{'Date': '2015-09-10', 'Open': '27.567499', 'High': '28.320000', 'Low': '27.475000', 'Close': '28.142500', 'Adj Close': '25.696684', 'Volume': '251571200'}
{'Date': '2015-09-11', 'Open': '27.947500', 'High': '28.552500', 'Low': '27.940001', 'Close': '28.552500', 'Adj Close': '26.071056', 'Volume': '199662000'}
{'Date': '2015-09-14', 'Open': '29.145000', 'High': '29.222500', 'Low': '28.715000', 'Close': '28.827499', 'Adj Close': '26.322155', 'Volume': '233453600'}
{'Date': '2015-09-15', 'Open': '28.982500', 'High': '29.132500', 'Low': '28.605000', 'Close': '29.070000', 'Adj Close': '26.543575', 'Volume': '173364800'}
{'Date': '2015-09-16', 'Open': '29.062500', 'High': '29.135000', 'Low': '28.860001', 'Close': '29.102501', 'Adj Close': '26.573254', 'Volume': '148694000'}
{'Date': '2015-09-17', 'Open': '28.915001', 'High': '29.122499', 'Low': '28.430000', 'Close': '28.480000', 'Adj Close': '26.004856', 'Volume': '256450400'}
{'Date': '2015-09-18', 'Open': '28.052500', 'High': '28.575001', 'Low': '27.967501', 'Close': '28.362499', 'Adj Close': '25.897564', 'Volume': '297141200'}
{'Date': '2015-09-21', 'Open': '28.417500', 'High': '28.842501', 'Low': '28.415001', 'Close': '28.802500', 'Adj Close': '26.299326', 'Volume': '200888000'}
{'Date': '2015-09-22', 'Open': '28.344999', 'High': '28.545000', 'Low': '28.129999', 'Close': '28.350000', 'Adj Close': '25.886154', 'Volume': '201384800'}
{'Date': '2015-09-23', 'Open': '28.407499', 'High': '28.680000', 'Low': '28.325001', 'Close': '28.580000', 'Adj Close': '26.096163', 'Volume': '143026800'}
{'Date': '2015-09-24', 'Open': '28.312500', 'High': '28.875000', 'Low': '28.092501', 'Close': '28.750000', 'Adj Close': '26.251394', 'Volume': '200878000'}
{'Date': '2015-09-25', 'Open': '29.110001', 'High': '29.172501', 'Low': '28.504999', 'Close': '28.677500', 'Adj Close': '26.185190', 'Volume': '224607600'}
{'Date': '2015-09-28', 'Open': '28.462500', 'High': '28.642500', 'Low': '28.110001', 'Close': '28.110001', 'Adj Close': '25.667015', 'Volume': '208436000'}
{'Date': '2015-09-29', 'Open': '28.207500', 'High': '28.377501', 'Low': '26.965000', 'Close': '27.264999', 'Adj Close': '24.895449', 'Volume': '293461600'}
{'Date': '2015-09-30', 'Open': '27.542500', 'High': '27.885000', 'Low': '27.182501', 'Close': '27.575001', 'Adj Close': '25.178503', 'Volume': '265892000'}
{'Date': '2015-10-01', 'Open': '27.267500', 'High': '27.405001', 'Low': '26.827499', 'Close': '27.395000', 'Adj Close': '25.014153', 'Volume': '255716400'}
{'Date': '2015-10-02', 'Open': '27.002501', 'High': '27.752501', 'Low': '26.887501', 'Close': '27.594999', 'Adj Close': '25.196772', 'Volume': '232079200'}
{'Date': '2015-10-05', 'Open': '27.469999', 'High': '27.842501', 'Low': '27.267500', 'Close': '27.695000', 'Adj Close': '25.288078', 'Volume': '208258800'}
{'Date': '2015-10-06', 'Open': '27.657499', 'High': '27.934999', 'Low': '27.442499', 'Close': '27.827499', 'Adj Close': '25.409065', 'Volume': '192787200'}
{'Date': '2015-10-07', 'Open': '27.934999', 'High': '27.942499', 'Low': '27.352501', 'Close': '27.695000', 'Adj Close': '25.288078', 'Volume': '187062400'}
{'Date': '2015-10-08', 'Open': '27.547501', 'High': '27.547501', 'Low': '27.052500', 'Close': '27.375000', 'Adj Close': '24.995890', 'Volume': '247918400'}
{'Date': '2015-10-09', 'Open': '27.500000', 'High': '28.070000', 'Low': '27.372499', 'Close': '28.030001', 'Adj Close': '25.593964', 'Volume': '211064400'}
{'Date': '2015-10-12', 'Open': '28.182501', 'High': '28.187500', 'Low': '27.860001', 'Close': '27.900000', 'Adj Close': '25.475260', 'Volume': '121868800'}
{'Date': '2015-10-13', 'Open': '27.705000', 'High': '28.112499', 'Low': '27.670000', 'Close': '27.947500', 'Adj Close': '25.518633', 'Volume': '132197200'}
{'Date': '2015-10-14', 'Open': '27.822500', 'High': '27.879999', 'Low': '27.389999', 'Close': '27.552500', 'Adj Close': '25.157961', 'Volume': '177849600'}
{'Date': '2015-10-15', 'Open': '27.732500', 'High': '28.025000', 'Low': '27.622499', 'Close': '27.965000', 'Adj Close': '25.534609', 'Volume': '150694000'}
{'Date': '2015-10-16', 'Open': '27.945000', 'High': '28.000000', 'Low': '27.632500', 'Close': '27.760000', 'Adj Close': '25.347437', 'Volume': '156930400'}
{'Date': '2015-10-19', 'Open': '27.700001', 'High': '27.937500', 'Low': '27.527500', 'Close': '27.932501', 'Adj Close': '25.504932', 'Volume': '119036800'}
{'Date': '2015-10-20', 'Open': '27.834999', 'High': '28.542500', 'Low': '27.705000', 'Close': '28.442499', 'Adj Close': '25.970615', 'Volume': '195871200'}
{'Date': '2015-10-21', 'Open': '28.500000', 'High': '28.895000', 'Low': '28.424999', 'Close': '28.440001', 'Adj Close': '25.968327', 'Volume': '167180800'}
{'Date': '2015-10-22', 'Open': '28.582500', 'High': '28.875000', 'Low': '28.525000', 'Close': '28.875000', 'Adj Close': '26.365528', 'Volume': '166616400'}
{'Date': '2015-10-23', 'Open': '29.174999', 'High': '29.807501', 'Low': '29.082500', 'Close': '29.770000', 'Adj Close': '27.182737', 'Volume': '237467600'}
{'Date': '2015-10-26', 'Open': '29.520000', 'High': '29.532499', 'Low': '28.730000', 'Close': '28.820000', 'Adj Close': '26.315304', 'Volume': '265335200'}
{'Date': '2015-10-27', 'Open': '28.850000', 'High': '29.135000', 'Low': '28.497499', 'Close': '28.637501', 'Adj Close': '26.148668', 'Volume': '279537600'}
{'Date': '2015-10-28', 'Open': '29.232500', 'High': '29.825001', 'Low': '29.014999', 'Close': '29.817499', 'Adj Close': '27.226110', 'Volume': '342205600'}
{'Date': '2015-10-29', 'Open': '29.674999', 'High': '30.172501', 'Low': '29.567499', 'Close': '30.132500', 'Adj Close': '27.513735', 'Volume': '204909200'}
{'Date': '2015-10-30', 'Open': '30.247499', 'High': '30.305000', 'Low': '29.862499', 'Close': '29.875000', 'Adj Close': '27.278614', 'Volume': '197461200'}
{'Date': '2015-11-02', 'Open': '30.200001', 'High': '30.340000', 'Low': '29.902500', 'Close': '30.295000', 'Adj Close': '27.662121', 'Volume': '128813200'}
{'Date': '2015-11-03', 'Open': '30.197500', 'High': '30.872499', 'Low': '30.174999', 'Close': '30.642500', 'Adj Close': '27.979418', 'Volume': '182076000'}
{'Date': '2015-11-04', 'Open': '30.782499', 'High': '30.955000', 'Low': '30.405001', 'Close': '30.500000', 'Adj Close': '27.849297', 'Volume': '179544400'}
{'Date': '2015-11-05', 'Open': '30.462500', 'High': '30.672501', 'Low': '30.045000', 'Close': '30.230000', 'Adj Close': '27.720922', 'Volume': '158210800'}
{'Date': '2015-11-06', 'Open': '30.277500', 'High': '30.452499', 'Low': '30.155001', 'Close': '30.264999', 'Adj Close': '27.753016', 'Volume': '132169200'}
{'Date': '2015-11-09', 'Open': '30.240000', 'High': '30.452499', 'Low': '30.012501', 'Close': '30.142500', 'Adj Close': '27.640682', 'Volume': '135485600'}
{'Date': '2015-11-10', 'Open': '29.225000', 'High': '29.517500', 'Low': '29.014999', 'Close': '29.192499', 'Adj Close': '26.769529', 'Volume': '236511600'}
{'Date': '2015-11-11', 'Open': '29.092501', 'High': '29.355000', 'Low': '28.802500', 'Close': '29.027500', 'Adj Close': '26.618229', 'Volume': '180872000'}
{'Date': '2015-11-12', 'Open': '29.065001', 'High': '29.205000', 'Low': '28.912500', 'Close': '28.930000', 'Adj Close': '26.528822', 'Volume': '130102400'}
{'Date': '2015-11-13', 'Open': '28.799999', 'High': '28.892500', 'Low': '28.067499', 'Close': '28.084999', 'Adj Close': '25.753950', 'Volume': '183249600'}
{'Date': '2015-11-16', 'Open': '27.844999', 'High': '28.559999', 'Low': '27.750000', 'Close': '28.545000', 'Adj Close': '26.175776', 'Volume': '152426800'}
{'Date': '2015-11-17', 'Open': '28.730000', 'High': '28.762501', 'Low': '28.330000', 'Close': '28.422501', 'Adj Close': '26.063444', 'Volume': '110467600'}
{'Date': '2015-11-18', 'Open': '28.940001', 'High': '29.372499', 'Low': '28.875000', 'Close': '29.322500', 'Adj Close': '26.888742', 'Volume': '186698800'}
{'Date': '2015-11-19', 'Open': '29.410000', 'High': '29.937500', 'Low': '29.190001', 'Close': '29.695000', 'Adj Close': '27.230324', 'Volume': '173183200'}
{'Date': '2015-11-20', 'Open': '29.799999', 'High': '29.980000', 'Low': '29.712500', 'Close': '29.825001', 'Adj Close': '27.349535', 'Volume': '137148400'}
{'Date': '2015-11-23', 'Open': '29.817499', 'High': '29.932501', 'Low': '29.334999', 'Close': '29.437500', 'Adj Close': '26.994192', 'Volume': '129930000'}
{'Date': '2015-11-24', 'Open': '29.332500', 'High': '29.837500', 'Low': '29.280001', 'Close': '29.719999', 'Adj Close': '27.253248', 'Volume': '171212800'}
{'Date': '2015-11-25', 'Open': '29.802500', 'High': '29.807501', 'Low': '29.480000', 'Close': '29.507500', 'Adj Close': '27.058388', 'Volume': '85553200'}
{'Date': '2015-11-27', 'Open': '29.572500', 'High': '29.602501', 'Low': '29.400000', 'Close': '29.452499', 'Adj Close': '27.007950', 'Volume': '52185600'}
{'Date': '2015-11-30', 'Open': '29.497499', 'High': '29.852501', 'Low': '29.437500', 'Close': '29.575001', 'Adj Close': '27.120283', 'Volume': '156721200'}
{'Date': '2015-12-01', 'Open': '29.687500', 'High': '29.702499', 'Low': '29.215000', 'Close': '29.334999', 'Adj Close': '26.900200', 'Volume': '139409600'}
{'Date': '2015-12-02', 'Open': '29.334999', 'High': '29.527500', 'Low': '29.020000', 'Close': '29.070000', 'Adj Close': '26.657200', 'Volume': '133546400'}
{'Date': '2015-12-03', 'Open': '29.137501', 'High': '29.197500', 'Low': '28.555000', 'Close': '28.799999', 'Adj Close': '26.409611', 'Volume': '166278000'}
{'Date': '2015-12-04', 'Open': '28.822500', 'High': '29.812500', 'Low': '28.777500', 'Close': '29.757500', 'Adj Close': '27.287638', 'Volume': '231108000'}
{'Date': '2015-12-07', 'Open': '29.745001', 'High': '29.965000', 'Low': '29.452499', 'Close': '29.570000', 'Adj Close': '27.115700', 'Volume': '128336800'}
{'Date': '2015-12-08', 'Open': '29.379999', 'High': '29.650000', 'Low': '29.215000', 'Close': '29.557501', 'Adj Close': '27.104240', 'Volume': '137238000'}
{'Date': '2015-12-09', 'Open': '29.410000', 'High': '29.422501', 'Low': '28.770000', 'Close': '28.905001', 'Adj Close': '26.505894', 'Volume': '185445600'}
{'Date': '2015-12-10', 'Open': '29.010000', 'High': '29.235001', 'Low': '28.877501', 'Close': '29.042500', 'Adj Close': '26.631983', 'Volume': '116850800'}
{'Date': '2015-12-11', 'Open': '28.797501', 'High': '28.847500', 'Low': '28.212500', 'Close': '28.295000', 'Adj Close': '25.946526', 'Volume': '187544800'}
{'Date': '2015-12-14', 'Open': '28.045000', 'High': '28.170000', 'Low': '27.447500', 'Close': '28.120001', 'Adj Close': '25.786051', 'Volume': '257274800'}
{'Date': '2015-12-15', 'Open': '27.985001', 'High': '28.200001', 'Low': '27.587500', 'Close': '27.622499', 'Adj Close': '25.329840', 'Volume': '213292400'}
{'Date': '2015-12-16', 'Open': '27.767500', 'High': '27.997499', 'Low': '27.200001', 'Close': '27.834999', 'Adj Close': '25.524700', 'Volume': '224954000'}
{'Date': '2015-12-17', 'Open': '28.004999', 'High': '28.062500', 'Low': '27.245001', 'Close': '27.245001', 'Adj Close': '24.983675', 'Volume': '179091200'}
{'Date': '2015-12-18', 'Open': '27.227501', 'High': '27.379999', 'Low': '26.452499', 'Close': '26.507500', 'Adj Close': '24.307384', 'Volume': '385813200'}
{'Date': '2015-12-21', 'Open': '26.820000', 'High': '26.842501', 'Low': '26.392500', 'Close': '26.832500', 'Adj Close': '24.605406', 'Volume': '190362400'}
{'Date': '2015-12-22', 'Open': '26.850000', 'High': '26.930000', 'Low': '26.612499', 'Close': '26.807501', 'Adj Close': '24.582485', 'Volume': '131157600'}
{'Date': '2015-12-23', 'Open': '26.817499', 'High': '27.212500', 'Low': '26.799999', 'Close': '27.152500', 'Adj Close': '24.898848', 'Volume': '130629600'}
{'Date': '2015-12-24', 'Open': '27.250000', 'High': '27.250000', 'Low': '26.987499', 'Close': '27.007500', 'Adj Close': '24.765888', 'Volume': '54281600'}
{'Date': '2015-12-28', 'Open': '26.897499', 'High': '26.922501', 'Low': '26.545000', 'Close': '26.705000', 'Adj Close': '24.488493', 'Volume': '106816800'}
{'Date': '2015-12-29', 'Open': '26.740000', 'High': '27.357500', 'Low': '26.715000', 'Close': '27.184999', 'Adj Close': '24.928652', 'Volume': '123724800'}
{'Date': '2015-12-30', 'Open': '27.145000', 'High': '27.174999', 'Low': '26.795000', 'Close': '26.830000', 'Adj Close': '24.603117', 'Volume': '100855200'}
{'Date': '2015-12-31', 'Open': '26.752501', 'High': '26.757500', 'Low': '26.205000', 'Close': '26.315001', 'Adj Close': '24.130867', 'Volume': '163649200'}
{'Date': '2016-01-04', 'Open': '25.652500', 'High': '26.342501', 'Low': '25.500000', 'Close': '26.337500', 'Adj Close': '24.151491', 'Volume': '270597600'}
{'Date': '2016-01-05', 'Open': '26.437500', 'High': '26.462500', 'Low': '25.602501', 'Close': '25.677500', 'Adj Close': '23.546274', 'Volume': '223164000'}
{'Date': '2016-01-06', 'Open': '25.139999', 'High': '25.592501', 'Low': '24.967501', 'Close': '25.174999', 'Adj Close': '23.085487', 'Volume': '273829600'}
{'Date': '2016-01-07', 'Open': '24.670000', 'High': '25.032499', 'Low': '24.107500', 'Close': '24.112499', 'Adj Close': '22.111174', 'Volume': '324377600'}
{'Date': '2016-01-08', 'Open': '24.637501', 'High': '24.777500', 'Low': '24.190001', 'Close': '24.240000', 'Adj Close': '22.228086', 'Volume': '283192000'}
{'Date': '2016-01-11', 'Open': '24.742500', 'High': '24.764999', 'Low': '24.334999', 'Close': '24.632500', 'Adj Close': '22.588009', 'Volume': '198957600'}
{'Date': '2016-01-12', 'Open': '25.137501', 'High': '25.172501', 'Low': '24.709999', 'Close': '24.990000', 'Adj Close': '22.915840', 'Volume': '196616800'}
{'Date': '2016-01-13', 'Open': '25.080000', 'High': '25.297501', 'Low': '24.325001', 'Close': '24.347500', 'Adj Close': '22.326664', 'Volume': '249758400'}
{'Date': '2016-01-14', 'Open': '24.490000', 'High': '25.120001', 'Low': '23.934999', 'Close': '24.879999', 'Adj Close': '22.814966', 'Volume': '252680400'}
{'Date': '2016-01-15', 'Open': '24.049999', 'High': '24.427500', 'Low': '23.840000', 'Close': '24.282499', 'Adj Close': '22.267059', 'Volume': '319335600'}
{'Date': '2016-01-19', 'Open': '24.602501', 'High': '24.662500', 'Low': '23.875000', 'Close': '24.165001', 'Adj Close': '22.159313', 'Volume': '212350800'}
{'Date': '2016-01-20', 'Open': '23.775000', 'High': '24.547501', 'Low': '23.355000', 'Close': '24.197500', 'Adj Close': '22.189110', 'Volume': '289337600'}
{'Date': '2016-01-21', 'Open': '24.264999', 'High': '24.469999', 'Low': '23.735001', 'Close': '24.075001', 'Adj Close': '22.076786', 'Volume': '208646000'}
{'Date': '2016-01-22', 'Open': '24.657499', 'High': '25.365000', 'Low': '24.592501', 'Close': '25.355000', 'Adj Close': '23.250544', 'Volume': '263202000'}
{'Date': '2016-01-25', 'Open': '25.379999', 'High': '25.382500', 'Low': '24.802500', 'Close': '24.860001', 'Adj Close': '22.796629', 'Volume': '207178000'}
{'Date': '2016-01-26', 'Open': '24.982500', 'High': '25.219999', 'Low': '24.517500', 'Close': '24.997499', 'Adj Close': '22.922716', 'Volume': '300308000'}
{'Date': '2016-01-27', 'Open': '24.010000', 'High': '24.157499', 'Low': '23.334999', 'Close': '23.355000', 'Adj Close': '21.416540', 'Volume': '533478800'}
{'Date': '2016-01-28', 'Open': '23.447500', 'High': '23.629999', 'Low': '23.097500', 'Close': '23.522499', 'Adj Close': '21.570145', 'Volume': '222715200'}
{'Date': '2016-01-29', 'Open': '23.697500', 'High': '24.334999', 'Low': '23.587500', 'Close': '24.334999', 'Adj Close': '22.315205', 'Volume': '257666000'}
{'Date': '2016-02-01', 'Open': '24.117500', 'High': '24.177500', 'Low': '23.850000', 'Close': '24.107500', 'Adj Close': '22.106583', 'Volume': '163774000'}
{'Date': '2016-02-02', 'Open': '23.855000', 'High': '24.010000', 'Low': '23.570000', 'Close': '23.620001', 'Adj Close': '21.659550', 'Volume': '149428800'}
{'Date': '2016-02-03', 'Open': '23.750000', 'High': '24.209999', 'Low': '23.520000', 'Close': '24.087500', 'Adj Close': '22.088245', 'Volume': '183857200'}
{'Date': '2016-02-04', 'Open': '23.965000', 'High': '24.332500', 'Low': '23.797501', 'Close': '24.150000', 'Adj Close': '22.265726', 'Volume': '185886800'}
{'Date': '2016-02-05', 'Open': '24.129999', 'High': '24.230000', 'Low': '23.422501', 'Close': '23.504999', 'Adj Close': '21.671049', 'Volume': '185672400'}
{'Date': '2016-02-08', 'Open': '23.282499', 'High': '23.924999', 'Low': '23.260000', 'Close': '23.752501', 'Adj Close': '21.899239', 'Volume': '216085600'}
{'Date': '2016-02-09', 'Open': '23.572500', 'High': '23.985001', 'Low': '23.482500', 'Close': '23.747499', 'Adj Close': '21.894634', 'Volume': '177324800'}
{'Date': '2016-02-10', 'Open': '23.980000', 'High': '24.087500', 'Low': '23.525000', 'Close': '23.567499', 'Adj Close': '21.728678', 'Volume': '169374400'}
{'Date': '2016-02-11', 'Open': '23.447500', 'High': '23.680000', 'Low': '23.147499', 'Close': '23.424999', 'Adj Close': '21.597288', 'Volume': '200298800'}
{'Date': '2016-02-12', 'Open': '23.547501', 'High': '23.625000', 'Low': '23.252501', 'Close': '23.497499', 'Adj Close': '21.664137', 'Volume': '161405600'}
{'Date': '2016-02-16', 'Open': '23.754999', 'High': '24.212500', 'Low': '23.652500', 'Close': '24.160000', 'Adj Close': '22.274950', 'Volume': '196231600'}
{'Date': '2016-02-17', 'Open': '24.167500', 'High': '24.552500', 'Low': '24.037500', 'Close': '24.530001', 'Adj Close': '22.616079', 'Volume': '179452800'}
{'Date': '2016-02-18', 'Open': '24.709999', 'High': '24.722500', 'Low': '24.022499', 'Close': '24.065001', 'Adj Close': '22.187355', 'Volume': '156084000'}
{'Date': '2016-02-19', 'Open': '24.000000', 'High': '24.190001', 'Low': '23.950001', 'Close': '24.010000', 'Adj Close': '22.136646', 'Volume': '141496800'}
{'Date': '2016-02-22', 'Open': '24.077499', 'High': '24.225000', 'Low': '23.980000', 'Close': '24.219999', 'Adj Close': '22.330263', 'Volume': '137123200'}
{'Date': '2016-02-23', 'Open': '24.100000', 'High': '24.125000', 'Low': '23.637501', 'Close': '23.672501', 'Adj Close': '21.825483', 'Volume': '127770400'}
{'Date': '2016-02-24', 'Open': '23.495001', 'High': '24.094999', 'Low': '23.330000', 'Close': '24.025000', 'Adj Close': '22.150480', 'Volume': '145022800'}
{'Date': '2016-02-25', 'Open': '24.012501', 'High': '24.190001', 'Low': '23.812500', 'Close': '24.190001', 'Adj Close': '22.302610', 'Volume': '110330800'}
{'Date': '2016-02-26', 'Open': '24.299999', 'High': '24.504999', 'Low': '24.145000', 'Close': '24.227501', 'Adj Close': '22.337173', 'Volume': '115964400'}

In [26]:
#Advanced reading
with open(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\lects\lect1\Apple_price_csv.csv", 'r') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=',')
    for row in spamreader:
        print(', '.join(row))

Date, Open, High, Low, Close, Adj Close, Volume
2015-08-25, 27.777500, 27.777500, 25.875000, 25.934999, 23.681032, 414406400
2015-08-26, 26.772499, 27.472500, 26.262501, 27.422501, 25.039267, 387098400
2015-08-27, 28.057501, 28.309999, 27.504999, 28.230000, 25.776581, 338464400
2015-08-28, 28.042500, 28.327499, 27.885000, 28.322500, 25.861042, 212657600
2015-08-31, 28.007500, 28.632500, 28.000000, 28.190001, 25.740063, 224917200
2015-09-01, 27.537500, 27.969999, 26.840000, 26.930000, 24.589561, 307383600
2015-09-02, 27.557501, 28.084999, 27.282499, 28.084999, 25.644186, 247555200
2015-09-03, 28.122499, 28.195000, 27.510000, 27.592501, 25.194485, 212935600
2015-09-04, 27.242500, 27.612499, 27.127501, 27.317499, 24.943384, 199985200
2015-09-08, 27.937500, 28.139999, 27.580000, 28.077499, 25.637335, 219374400
2015-09-09, 28.440001, 28.504999, 27.442499, 27.537500, 25.144264, 340043200
2015-09-10, 27.567499, 28.320000, 27.475000, 28.142500, 25.696684, 251571200
2015-09-11, 27.947500, 28.552500, 27.940001, 28.552500, 26.071056, 199662000
2015-09-14, 29.145000, 29.222500, 28.715000, 28.827499, 26.322155, 233453600
2015-09-15, 28.982500, 29.132500, 28.605000, 29.070000, 26.543575, 173364800
2015-09-16, 29.062500, 29.135000, 28.860001, 29.102501, 26.573254, 148694000
2015-09-17, 28.915001, 29.122499, 28.430000, 28.480000, 26.004856, 256450400
2015-09-18, 28.052500, 28.575001, 27.967501, 28.362499, 25.897564, 297141200
2015-09-21, 28.417500, 28.842501, 28.415001, 28.802500, 26.299326, 200888000
2015-09-22, 28.344999, 28.545000, 28.129999, 28.350000, 25.886154, 201384800
2015-09-23, 28.407499, 28.680000, 28.325001, 28.580000, 26.096163, 143026800
2015-09-24, 28.312500, 28.875000, 28.092501, 28.750000, 26.251394, 200878000
2015-09-25, 29.110001, 29.172501, 28.504999, 28.677500, 26.185190, 224607600
2015-09-28, 28.462500, 28.642500, 28.110001, 28.110001, 25.667015, 208436000
2015-09-29, 28.207500, 28.377501, 26.965000, 27.264999, 24.895449, 293461600
2015-09-30, 27.542500, 27.885000, 27.182501, 27.575001, 25.178503, 265892000
2015-10-01, 27.267500, 27.405001, 26.827499, 27.395000, 25.014153, 255716400
2015-10-02, 27.002501, 27.752501, 26.887501, 27.594999, 25.196772, 232079200
2015-10-05, 27.469999, 27.842501, 27.267500, 27.695000, 25.288078, 208258800
2015-10-06, 27.657499, 27.934999, 27.442499, 27.827499, 25.409065, 192787200
2015-10-07, 27.934999, 27.942499, 27.352501, 27.695000, 25.288078, 187062400
2015-10-08, 27.547501, 27.547501, 27.052500, 27.375000, 24.995890, 247918400
2015-10-09, 27.500000, 28.070000, 27.372499, 28.030001, 25.593964, 211064400
2015-10-12, 28.182501, 28.187500, 27.860001, 27.900000, 25.475260, 121868800
2015-10-13, 27.705000, 28.112499, 27.670000, 27.947500, 25.518633, 132197200
2015-10-14, 27.822500, 27.879999, 27.389999, 27.552500, 25.157961, 177849600
2015-10-15, 27.732500, 28.025000, 27.622499, 27.965000, 25.534609, 150694000
2015-10-16, 27.945000, 28.000000, 27.632500, 27.760000, 25.347437, 156930400
2015-10-19, 27.700001, 27.937500, 27.527500, 27.932501, 25.504932, 119036800
2015-10-20, 27.834999, 28.542500, 27.705000, 28.442499, 25.970615, 195871200
2015-10-21, 28.500000, 28.895000, 28.424999, 28.440001, 25.968327, 167180800
2015-10-22, 28.582500, 28.875000, 28.525000, 28.875000, 26.365528, 166616400
2015-10-23, 29.174999, 29.807501, 29.082500, 29.770000, 27.182737, 237467600
2015-10-26, 29.520000, 29.532499, 28.730000, 28.820000, 26.315304, 265335200
2015-10-27, 28.850000, 29.135000, 28.497499, 28.637501, 26.148668, 279537600
2015-10-28, 29.232500, 29.825001, 29.014999, 29.817499, 27.226110, 342205600
2015-10-29, 29.674999, 30.172501, 29.567499, 30.132500, 27.513735, 204909200
2015-10-30, 30.247499, 30.305000, 29.862499, 29.875000, 27.278614, 197461200
2015-11-02, 30.200001, 30.340000, 29.902500, 30.295000, 27.662121, 128813200
2015-11-03, 30.197500, 30.872499, 30.174999, 30.642500, 27.979418, 182076000
2015-11-04, 30.782499, 30.955000, 30.405001, 30.500000, 27.849297, 179544400
2015-11-05, 30.462500, 30.672501, 30.045000, 30.230000, 27.720922, 158210800
2015-11-06, 30.277500, 30.452499, 30.155001, 30.264999, 27.753016, 132169200
2015-11-09, 30.240000, 30.452499, 30.012501, 30.142500, 27.640682, 135485600
2015-11-10, 29.225000, 29.517500, 29.014999, 29.192499, 26.769529, 236511600
2015-11-11, 29.092501, 29.355000, 28.802500, 29.027500, 26.618229, 180872000
2015-11-12, 29.065001, 29.205000, 28.912500, 28.930000, 26.528822, 130102400
2015-11-13, 28.799999, 28.892500, 28.067499, 28.084999, 25.753950, 183249600
2015-11-16, 27.844999, 28.559999, 27.750000, 28.545000, 26.175776, 152426800
2015-11-17, 28.730000, 28.762501, 28.330000, 28.422501, 26.063444, 110467600
2015-11-18, 28.940001, 29.372499, 28.875000, 29.322500, 26.888742, 186698800
2015-11-19, 29.410000, 29.937500, 29.190001, 29.695000, 27.230324, 173183200
2015-11-20, 29.799999, 29.980000, 29.712500, 29.825001, 27.349535, 137148400
2015-11-23, 29.817499, 29.932501, 29.334999, 29.437500, 26.994192, 129930000
2015-11-24, 29.332500, 29.837500, 29.280001, 29.719999, 27.253248, 171212800
2015-11-25, 29.802500, 29.807501, 29.480000, 29.507500, 27.058388, 85553200
2015-11-27, 29.572500, 29.602501, 29.400000, 29.452499, 27.007950, 52185600
2015-11-30, 29.497499, 29.852501, 29.437500, 29.575001, 27.120283, 156721200
2015-12-01, 29.687500, 29.702499, 29.215000, 29.334999, 26.900200, 139409600
2015-12-02, 29.334999, 29.527500, 29.020000, 29.070000, 26.657200, 133546400
2015-12-03, 29.137501, 29.197500, 28.555000, 28.799999, 26.409611, 166278000
2015-12-04, 28.822500, 29.812500, 28.777500, 29.757500, 27.287638, 231108000
2015-12-07, 29.745001, 29.965000, 29.452499, 29.570000, 27.115700, 128336800
2015-12-08, 29.379999, 29.650000, 29.215000, 29.557501, 27.104240, 137238000
2015-12-09, 29.410000, 29.422501, 28.770000, 28.905001, 26.505894, 185445600
2015-12-10, 29.010000, 29.235001, 28.877501, 29.042500, 26.631983, 116850800
2015-12-11, 28.797501, 28.847500, 28.212500, 28.295000, 25.946526, 187544800
2015-12-14, 28.045000, 28.170000, 27.447500, 28.120001, 25.786051, 257274800
2015-12-15, 27.985001, 28.200001, 27.587500, 27.622499, 25.329840, 213292400
2015-12-16, 27.767500, 27.997499, 27.200001, 27.834999, 25.524700, 224954000
2015-12-17, 28.004999, 28.062500, 27.245001, 27.245001, 24.983675, 179091200
2015-12-18, 27.227501, 27.379999, 26.452499, 26.507500, 24.307384, 385813200
2015-12-21, 26.820000, 26.842501, 26.392500, 26.832500, 24.605406, 190362400
2015-12-22, 26.850000, 26.930000, 26.612499, 26.807501, 24.582485, 131157600
2015-12-23, 26.817499, 27.212500, 26.799999, 27.152500, 24.898848, 130629600
2015-12-24, 27.250000, 27.250000, 26.987499, 27.007500, 24.765888, 54281600
2015-12-28, 26.897499, 26.922501, 26.545000, 26.705000, 24.488493, 106816800
2015-12-29, 26.740000, 27.357500, 26.715000, 27.184999, 24.928652, 123724800
2015-12-30, 27.145000, 27.174999, 26.795000, 26.830000, 24.603117, 100855200
2015-12-31, 26.752501, 26.757500, 26.205000, 26.315001, 24.130867, 163649200
2016-01-04, 25.652500, 26.342501, 25.500000, 26.337500, 24.151491, 270597600
2016-01-05, 26.437500, 26.462500, 25.602501, 25.677500, 23.546274, 223164000
2016-01-06, 25.139999, 25.592501, 24.967501, 25.174999, 23.085487, 273829600
2016-01-07, 24.670000, 25.032499, 24.107500, 24.112499, 22.111174, 324377600
2016-01-08, 24.637501, 24.777500, 24.190001, 24.240000, 22.228086, 283192000
2016-01-11, 24.742500, 24.764999, 24.334999, 24.632500, 22.588009, 198957600
2016-01-12, 25.137501, 25.172501, 24.709999, 24.990000, 22.915840, 196616800
2016-01-13, 25.080000, 25.297501, 24.325001, 24.347500, 22.326664, 249758400
2016-01-14, 24.490000, 25.120001, 23.934999, 24.879999, 22.814966, 252680400
2016-01-15, 24.049999, 24.427500, 23.840000, 24.282499, 22.267059, 319335600
2016-01-19, 24.602501, 24.662500, 23.875000, 24.165001, 22.159313, 212350800
2016-01-20, 23.775000, 24.547501, 23.355000, 24.197500, 22.189110, 289337600
2016-01-21, 24.264999, 24.469999, 23.735001, 24.075001, 22.076786, 208646000
2016-01-22, 24.657499, 25.365000, 24.592501, 25.355000, 23.250544, 263202000
2016-01-25, 25.379999, 25.382500, 24.802500, 24.860001, 22.796629, 207178000
2016-01-26, 24.982500, 25.219999, 24.517500, 24.997499, 22.922716, 300308000
2016-01-27, 24.010000, 24.157499, 23.334999, 23.355000, 21.416540, 533478800
2016-01-28, 23.447500, 23.629999, 23.097500, 23.522499, 21.570145, 222715200
2016-01-29, 23.697500, 24.334999, 23.587500, 24.334999, 22.315205, 257666000
2016-02-01, 24.117500, 24.177500, 23.850000, 24.107500, 22.106583, 163774000
2016-02-02, 23.855000, 24.010000, 23.570000, 23.620001, 21.659550, 149428800
2016-02-03, 23.750000, 24.209999, 23.520000, 24.087500, 22.088245, 183857200
2016-02-04, 23.965000, 24.332500, 23.797501, 24.150000, 22.265726, 185886800
2016-02-05, 24.129999, 24.230000, 23.422501, 23.504999, 21.671049, 185672400
2016-02-08, 23.282499, 23.924999, 23.260000, 23.752501, 21.899239, 216085600
2016-02-09, 23.572500, 23.985001, 23.482500, 23.747499, 21.894634, 177324800
2016-02-10, 23.980000, 24.087500, 23.525000, 23.567499, 21.728678, 169374400
2016-02-11, 23.447500, 23.680000, 23.147499, 23.424999, 21.597288, 200298800
2016-02-12, 23.547501, 23.625000, 23.252501, 23.497499, 21.664137, 161405600
2016-02-16, 23.754999, 24.212500, 23.652500, 24.160000, 22.274950, 196231600
2016-02-17, 24.167500, 24.552500, 24.037500, 24.530001, 22.616079, 179452800
2016-02-18, 24.709999, 24.722500, 24.022499, 24.065001, 22.187355, 156084000
2016-02-19, 24.000000, 24.190001, 23.950001, 24.010000, 22.136646, 141496800
2016-02-22, 24.077499, 24.225000, 23.980000, 24.219999, 22.330263, 137123200
2016-02-23, 24.100000, 24.125000, 23.637501, 23.672501, 21.825483, 127770400
2016-02-24, 23.495001, 24.094999, 23.330000, 24.025000, 22.150480, 145022800
2016-02-25, 24.012501, 24.190001, 23.812500, 24.190001, 22.302610, 110330800
2016-02-26, 24.299999, 24.504999, 24.145000, 24.227501, 22.337173, 115964400
2016-02-29, 24.215000, 24.557501, 24.162500, 24.172501, 22.286469, 140865200
2016-03-01, 24.412500, 25.192499, 24.355000, 25.132500, 23.171564, 201628400
2016-03-02, 25.127501, 25.222500, 24.910000, 25.187500, 23.222275, 132678400
2016-03-03, 25.145000, 25.427500, 25.112499, 25.375000, 23.395145, 147822800
2016-03-04, 25.592501, 25.937500, 25.342501, 25.752501, 23.743195, 184220400
2016-03-07, 25.597500, 25.707500, 25.240000, 25.467501, 23.480425, 143315600
2016-03-08, 25.195000, 25.440001, 25.100000, 25.257500, 23.286812, 126247600
2016-03-09, 25.327499, 25.395000, 25.067499, 25.280001, 23.307558, 108806800
2016-03-10, 25.352501, 25.559999, 25.037500, 25.292500, 23.319082, 134054400
2016-03-11, 25.559999, 25.570000, 25.375000, 25.565001, 23.570320, 109632800
2016-03-14, 25.477501, 25.727501, 25.445000, 25.629999, 23.630247, 100304400
2016-03-15, 25.990000, 26.295000, 25.962500, 26.145000, 24.105066, 160270800
2016-03-16, 26.152500, 26.577499, 26.147499, 26.492500, 24.425457, 153214000
2016-03-17, 26.379999, 26.617500, 26.240000, 26.450001, 24.386272, 137682800
2016-03-18, 26.584999, 26.625000, 26.297501, 26.480000, 24.413927, 176820800
2016-03-21, 26.482500, 26.912500, 26.285000, 26.477501, 24.411627, 142010800
2016-03-22, 26.312500, 26.822500, 26.302500, 26.680000, 24.598326, 129777600
2016-03-23, 26.620001, 26.767500, 26.475000, 26.532499, 24.462336, 102814000
2016-03-24, 26.367500, 26.562500, 26.222500, 26.417500, 24.356300, 104532000
2016-03-28, 26.500000, 26.547501, 26.264999, 26.297501, 24.245668, 77645600
2016-03-29, 26.222500, 26.947500, 26.219999, 26.920000, 24.819597, 124760400
2016-03-30, 27.162500, 27.605000, 27.150000, 27.389999, 25.252924, 182404400
2016-03-31, 27.430000, 27.475000, 27.219999, 27.247499, 25.121548, 103553600
2016-04-01, 27.195000, 27.500000, 27.049999, 27.497499, 25.352036, 103496000
2016-04-04, 27.605000, 28.047501, 27.567499, 27.780001, 25.612495, 149424800
2016-04-05, 27.377501, 27.682501, 27.355000, 27.452499, 25.310549, 106314800
2016-04-06, 27.557501, 27.745001, 27.299999, 27.740000, 25.575619, 105616400
2016-04-07, 27.487499, 27.605000, 27.030001, 27.135000, 25.017824, 127207600
2016-04-08, 27.227501, 27.442499, 27.042500, 27.165001, 25.045483, 94326800
2016-04-11, 27.242500, 27.652500, 27.207500, 27.254999, 25.128464, 117630000
2016-04-12, 27.334999, 27.625000, 27.165001, 27.610001, 25.455765, 108929200
2016-04-13, 27.700001, 28.084999, 27.700001, 28.010000, 25.824556, 133029200
2016-04-14, 27.905001, 28.097500, 27.832500, 28.025000, 25.838379, 101895600
2016-04-15, 28.027500, 28.075001, 27.432501, 27.462500, 25.319773, 187756000
2016-04-18, 27.222500, 27.237499, 26.735001, 26.870001, 24.773502, 243286000
2016-04-19, 26.969999, 27.000000, 26.557501, 26.727501, 24.642124, 129539600
2016-04-20, 26.660000, 27.022499, 26.514999, 26.782499, 24.692831, 122444000
2016-04-21, 26.732500, 26.732500, 26.379999, 26.492500, 24.425457, 126210000
2016-04-22, 26.252501, 26.620001, 26.155001, 26.420000, 24.358614, 134732400
2016-04-25, 26.250000, 26.412500, 26.127501, 26.270000, 24.220312, 112126400
2016-04-26, 25.977501, 26.325001, 25.977501, 26.087500, 24.052055, 224064800
2016-04-27, 24.000000, 24.677500, 23.920000, 24.455000, 22.546926, 458408400
2016-04-28, 24.402500, 24.469999, 23.562500, 23.707500, 21.857750, 328970800
2016-04-29, 23.497499, 23.680000, 23.127501, 23.434999, 21.606510, 274126000
2016-05-02, 23.492500, 23.520000, 23.100000, 23.410000, 21.583466, 192640400
2016-05-03, 23.549999, 23.934999, 23.420000, 23.795000, 21.938423, 227325200
2016-05-04, 23.799999, 23.975000, 23.455000, 23.547501, 21.710239, 164102000
2016-05-05, 23.500000, 23.517500, 23.170000, 23.309999, 21.622114, 143562000
2016-05-06, 23.342501, 23.362499, 22.962500, 23.180000, 21.501528, 174799600
2016-05-09, 23.250000, 23.442499, 23.147499, 23.197500, 21.517757, 131745600
2016-05-10, 23.332500, 23.392500, 23.027500, 23.355000, 21.663855, 134747200
2016-05-11, 23.370001, 23.392500, 23.115000, 23.127501, 21.452829, 114876400
2016-05-12, 23.180000, 23.195000, 22.367500, 22.584999, 20.949606, 305258800
2016-05-13, 22.500000, 22.917500, 22.500000, 22.629999, 20.991350, 177571200
2016-05-16, 23.097500, 23.597500, 22.912500, 23.469999, 21.770531, 245039200
2016-05-17, 23.637501, 23.674999, 23.252501, 23.372499, 21.680090, 187667600
2016-05-18, 23.540001, 23.802500, 23.472500, 23.639999, 21.928219, 168249600
2016-05-19, 23.660000, 23.660000, 23.392500, 23.549999, 21.844738, 121768400
2016-05-20, 23.660000, 23.857500, 23.629999, 23.805000, 22.081270, 128104000
2016-05-23, 23.967501, 24.297501, 23.917500, 24.107500, 22.361866, 152074400
2016-05-24, 24.305000, 24.522499, 24.209999, 24.475000, 22.702759, 140560800
2016-05-25, 24.667500, 24.934999, 24.527500, 24.905001, 23.101624, 152675200
2016-05-26, 24.920000, 25.182501, 24.660000, 25.102501, 23.284815, 225324800
2016-05-27, 24.860001, 25.117500, 24.812500, 25.087500, 23.270901, 145364800
2016-05-31, 24.900000, 25.100000, 24.705000, 24.965000, 23.157274, 169228800
2016-06-01, 24.754999, 24.885000, 24.582500, 24.615000, 22.832619, 116693200
2016-06-02, 24.400000, 24.459999, 24.157499, 24.430000, 22.661015, 160766400
2016-06-03, 24.447500, 24.567499, 24.362499, 24.480000, 22.707396, 114019600
2016-06-06, 24.497499, 25.472500, 24.387501, 24.657499, 22.872036, 93170000
2016-06-07, 24.812500, 24.967501, 24.740000, 24.757500, 22.964802, 89638000
2016-06-08, 24.754999, 24.889999, 24.670000, 24.735001, 22.943928, 83392400
2016-06-09, 24.625000, 24.997499, 24.615000, 24.912500, 23.108578, 106405600
2016-06-10, 24.632500, 24.837500, 24.620001, 24.707500, 22.918423, 126851600
2016-06-13, 24.672501, 24.780001, 24.275000, 24.334999, 22.572893, 152082000
2016-06-14, 24.330000, 24.620001, 24.187500, 24.365000, 22.600719, 127727600
2016-06-15, 24.455000, 24.602501, 24.257500, 24.285000, 22.526516, 117780800
2016-06-16, 24.112499, 24.437500, 24.017500, 24.387501, 22.621592, 125307200
2016-06-17, 24.155001, 24.162500, 23.825001, 23.832500, 22.106779, 244032800
2016-06-20, 24.000000, 24.142500, 23.757500, 23.775000, 22.053440, 137647600
2016-06-21, 23.735001, 24.087500, 23.670000, 23.977501, 22.241278, 142185600
2016-06-22, 24.062500, 24.222500, 23.837500, 23.887501, 22.157797, 116876400
2016-06-23, 23.985001, 24.072500, 23.812500, 24.025000, 22.285337, 128960800
2016-06-24, 23.227501, 23.665001, 23.162500, 23.350000, 21.659220, 301245600
2016-06-27, 23.250000, 23.262501, 22.875000, 23.010000, 21.343842, 181958400
2016-06-28, 23.225000, 23.415001, 23.035000, 23.397499, 21.703278, 161779600
2016-06-29, 23.492500, 23.637501, 23.407499, 23.600000, 21.891115, 146124000
2016-06-30, 23.610001, 23.942499, 23.575001, 23.900000, 22.169390, 143345600
2016-07-01, 23.872499, 24.117500, 23.832500, 23.972500, 22.236645, 104106000
2016-07-05, 23.847500, 23.850000, 23.615000, 23.747499, 22.027937, 110820800
2016-07-06, 23.650000, 23.915001, 23.592501, 23.882500, 22.153154, 123796400
2016-07-07, 23.924999, 24.125000, 23.905001, 23.985001, 22.248238, 100558400
2016-07-08, 24.122499, 24.222500, 24.012501, 24.170000, 22.419840, 115648400
2016-07-11, 24.187500, 24.412500, 24.182501, 24.245001, 22.489408, 95179600
2016-07-12, 24.292500, 24.424999, 24.280001, 24.355000, 22.591438, 96670000
2016-07-13, 24.352501, 24.417500, 24.209999, 24.217501, 22.463902, 103568800
2016-07-14, 24.347500, 24.747499, 24.330000, 24.697500, 22.909143, 155676000
2016-07-15, 24.730000, 24.825001, 24.625000, 24.695000, 22.906824, 120548000
2016-07-18, 24.674999, 25.032499, 24.650000, 24.957500, 23.150318, 145975600
2016-07-19, 24.889999, 25.000000, 24.834999, 24.967501, 23.159595, 95119600
2016-07-20, 25.000000, 25.115000, 24.934999, 24.990000, 23.180466, 105104000
2016-07-21, 24.957500, 25.250000, 24.782499, 24.857500, 23.057566, 130808000
2016-07-22, 24.815001, 24.825001, 24.577499, 24.665001, 22.879000, 113254800
2016-07-25, 24.562500, 24.709999, 24.230000, 24.334999, 22.572893, 161531600
2016-07-26, 24.205000, 24.492500, 24.105000, 24.167500, 22.417522, 224959200
2016-07-27, 26.067499, 26.087500, 25.687500, 25.737499, 23.873833, 369379200
2016-07-28, 25.707500, 26.112499, 25.705000, 26.084999, 24.196169, 159479200
2016-07-29, 26.047501, 26.137501, 25.920000, 26.052500, 24.166025, 110934800
2016-08-01, 26.102501, 26.537500, 26.102501, 26.512501, 24.592718, 152671600
2016-08-02, 26.512501, 26.517500, 26.000000, 26.120001, 24.228642, 135266400
2016-08-03, 26.202499, 26.459999, 26.192499, 26.447500, 24.532431, 120810400
2016-08-04, 26.395000, 26.500000, 26.320000, 26.467501, 24.683977, 109634800
2016-08-05, 26.567499, 26.912500, 26.545000, 26.870001, 25.059353, 162213600
2016-08-08, 26.879999, 27.092501, 26.790001, 27.092501, 25.266859, 112148800
2016-08-09, 27.057501, 27.235001, 27.002501, 27.202499, 25.369448, 105260800
2016-08-10, 27.177500, 27.225000, 26.940001, 27.000000, 25.180593, 96034000
2016-08-11, 27.129999, 27.232500, 26.962500, 26.982500, 25.164270, 109938000
2016-08-12, 26.945000, 27.110001, 26.945000, 27.045000, 25.222559, 74641600
2016-08-15, 27.035000, 27.385000, 27.020000, 27.370001, 25.525663, 103472800
2016-08-16, 27.407499, 27.557501, 27.302500, 27.344999, 25.502342, 135177600
2016-08-17, 27.275000, 27.342501, 27.084999, 27.305000, 25.465040, 101424000
2016-08-18, 27.307501, 27.400000, 27.254999, 27.270000, 25.432396, 87938800
2016-08-19, 27.192499, 27.422501, 27.090000, 27.340000, 25.497684, 101472400
2016-08-22, 27.215000, 27.275000, 26.962500, 27.127501, 25.299500, 103280800
2016-08-23, 27.147499, 27.330000, 27.132500, 27.212500, 25.378775, 85030800
2016-08-24, 27.142500, 27.187500, 26.920000, 27.007500, 25.187586, 94700400
2016-08-25, 26.847500, 26.969999, 26.670000, 26.892500, 25.080338, 100344800
2016-08-26, 26.852501, 26.987499, 26.577499, 26.735001, 24.933451, 111065200
2016-08-29, 26.655001, 26.860001, 26.572500, 26.705000, 24.905470, 99881200
2016-08-30, 26.450001, 26.625000, 26.375000, 26.500000, 24.714283, 99455600
2016-08-31, 26.415001, 26.642500, 26.410000, 26.525000, 24.737600, 118649600
2016-09-01, 26.535000, 26.700001, 26.405001, 26.682501, 24.884485, 106806000

In [31]:
#Writing is also possible
with open(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\lects\lect1\Test_csv_writer.csv", 'a', newline='') as csvfile:
    spamwriter = csv.writer(csvfile, delimiter=';')
    spamwriter.writerow(['1', '2', '3'])
    spamwriter.writerow(['10', '2', '3'])
    spamwriter.writerow(['11', '2', '3'])

In [32]:
#YOUR TURN
#What is the percentage of student who knows python?
#Open the file
#do number of yes divide by number of answers
#Print the result
# file on teams in the channel Lecture_wednesday_11_13
#time : 10 min => 12:05

import csv

number_of_yes = 0
total_answers = 0

with open(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\lects\lect1\my_turn.xls", 'r') as file:
    csv_file = csv.reader(file)
    for row in csv_file:
        total_answers += 1
        if row[1] == "Yes":
            number_of_yes += 1
            
print(number_of_yes/total_answers *100, '%')

Error: line contains NUL

# Work with .json file

In [5]:
#import json package
import json

In [6]:
#Open Json file
json_data = open(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\lects\lect1\Example_json_data.json").read()

In [8]:
#Load json data into python
data = json.loads(json_data)

In [ ]:
#Print the data (dictionnary)
for item in data:
    print(item)

# Work with XML files

In [38]:
#Import package
from xml.etree import ElementTree as ET

In [8]:
#Open the file
tree = ET.parse(r"D:\KBTU\2022-2023\Python Course\Course\Lecture\Lecture_1\Example_xml_data.xml")

In [9]:
#Get the root of your file
root = tree.getroot()
print(root)

<Element 'CATALOG' at 0x000001E4CDFB3220>

In [10]:
#Browse all items
for item in root:
    print(item)

<Element 'PLANT' at 0x000001E4CDFB3270>
<Element 'PLANT' at 0x000001E4CDFB34F0>
<Element 'PLANT' at 0x000001E4CDFB3770>
<Element 'PLANT' at 0x000001E4CDFB39F0>
<Element 'PLANT' at 0x000001E4CDFB3CC0>
<Element 'PLANT' at 0x000001E4CDFB3F40>
<Element 'PLANT' at 0x000001E4CDFBD220>
<Element 'PLANT' at 0x000001E4CDFBD4A0>
<Element 'PLANT' at 0x000001E4CDFBD770>
<Element 'PLANT' at 0x000001E4CDFBD9F0>
<Element 'PLANT' at 0x000001E4CDFBDC70>
<Element 'PLANT' at 0x000001E4CDFBDEF0>
<Element 'PLANT' at 0x000001E4CDFBF1D0>
<Element 'PLANT' at 0x000001E4CDFBF450>
<Element 'PLANT' at 0x000001E4CDFBF6D0>
<Element 'PLANT' at 0x000001E4CDFBF9A0>
<Element 'PLANT' at 0x000001E4CDFBFC20>
<Element 'PLANT' at 0x000001E4CDFBFEA0>
<Element 'PLANT' at 0x000001E4CDFC0130>
<Element 'PLANT' at 0x000001E4CDFC03B0>
<Element 'PLANT' at 0x000001E4CDFC05E0>
<Element 'PLANT' at 0x000001E4CDFC0810>
<Element 'PLANT' at 0x000001E4CDFC0A90>
<Element 'PLANT' at 0x000001E4CDFC0CC0>
<Element 'PLANT' at 0x000001E4CDFC0EF0>
<Element 'PLANT' at 0x000001E4CDFC21D0>
<Element 'PLANT' at 0x000001E4CDFC2400>
<Element 'PLANT' at 0x000001E4CDFC2630>
<Element 'PLANT' at 0x000001E4CDFC2860>
<Element 'PLANT' at 0x000001E4CDFC2A90>
<Element 'PLANT' at 0x000001E4CDFC2D10>
<Element 'PLANT' at 0x000001E4CDFC2F90>
<Element 'PLANT' at 0x000001E4CDFC42C0>
<Element 'PLANT' at 0x000001E4CDFC44F0>
<Element 'PLANT' at 0x000001E4CDFC4720>

In [12]:
#Browse categories in each item and print its value
item = root[0]
for cat in item:
    print(cat)
    print(cat.text)

<Element 'COMMON' at 0x000001E4CDFB32C0>
Columbine
<Element 'BOTANICAL' at 0x000001E4CDFB3310>
Aquilegia canadensis
<Element 'ZONE' at 0x000001E4CDFB33B0>
3
<Element 'LIGHT' at 0x000001E4CDFB3400>
Mostly Shady
<Element 'PRICE' at 0x000001E4CDFB3450>
$9.37
<Element 'AVAILABILITY' at 0x000001E4CDFB34A0>
030699

In [13]:
#Modify XML file with set function
price_of_ginger = root[4][4]
print(price_of_ginger.text)
price_of_ginger.text = "$10.00"

#save file
tree.write(r"D:\KBTU\2022-2023\Python Course\Course\Lecture\Lecture_1\Example_xml_data_modified.xml")

$9.03

# Work with excel files

## Read excel files

In [41]:
#Import xlrd package
import xlrd

In [42]:
#Open a workbook
book = xlrd.open_workbook(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\lects\lect1\Price_tesla_and_microsoft.xlsx")

XLRDError: Excel xlsx file; not supported

In [16]:
#List a tabs
for sheet in book.sheets():
    print(sheet.name)

Tesla_price
Microsoft_price

In [17]:
#Choose the right tab
sheet = book.sheet_by_name('Tesla_price')
#Or just to get the first tab
sheet = book.sheet_by_index(0)
print(sheet)

<xlrd.sheet.Sheet object at 0x000001E4CF253850>

In [18]:
#iterate on rows
for i in range(sheet.nrows):
    print(sheet.row_values(i))
    
print(sheet.col_values(0))

['Tesla price', '', '', '', '', '', '']
['', '', '', '', '', '', '']
['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %']
['Aug 25, 2022', '296.07', '302.36', 'Hello', '291.60', '53.23M', '-0.35%']
['Aug 24, 2022', '297.10', '297.56', '303.65', '296.50', '57.26M', '0.22%']
['Aug 23, 2022', '296.45', '291.45', '298.83', '287.92', '63.99M', '2.26%']
['Aug 22, 2022', '289.91', '291.91', '292.40', '286.30', '55.84M', '-2.28%']
['Aug 19, 2022', '296.67', '299.00', '300.36', '292.50', '61.40M', '-2.05%']
['Aug 18, 2022', '302.87', '306.00', '306.50', '301.85', '47.50M', '-0.37%']
['Aug 17, 2022', '304.00', '303.40', '309.66', '300.03', '68.77M', '-0.84%']
['Aug 16, 2022', '306.56', '311.67', '314.67', '302.88', '88.14M', '-0.89%']
['Aug 15, 2022', '309.32', '301.79', '313.13', '301.23', '89.36M', '3.10%']
['Aug 12, 2022', '300.03', '289.41', '300.16', '285.03', '79.66M', '4.68%']
['Aug 11, 2022', '286.63', '296.51', '298.24', '285.83', '70.16M', '-2.63%']
['Aug 10, 2022', '294.36', '297.07', '297.51', '283.37', '94.92M', '3.89%']
['Aug 09, 2022', '283.33', '290.29', '292.40', '279.35', '86.24M', '-2.44%']
['Aug 08, 2022', '290.42', '295.00', '305.20', '289.09', '99.37M', '0.78%']
['Aug 05, 2022', '288.17', '302.67', '304.61', '285.54', '113.17M', '-6.63%']
['Aug 04, 2022', '308.63', '311.00', '313.61', '305.00', '72.26M', '0.40%']
['Aug 03, 2022', '307.40', '305.00', '309.55', '301.15', '80.09M', '2.27%']
['Aug 02, 2022', '300.59', '294.00', '307.83', '292.67', '95.58M', '1.11%']
['Aug 01, 2022', '297.28', '301.27', '311.88', '295.00', '117.04M', '0.04%']
['Jul 29, 2022', '297.15', '280.70', '298.32', '279.10', '95.31M', '5.78%']
['Jul 28, 2022', '280.90', '280.07', '283.30', '272.80', '84.72M', '2.21%']
['Jul 27, 2022', '274.82', '263.81', '275.93', '261.79', '88.11M', '6.17%']
['Jul 26, 2022', '258.86', '266.51', '267.31', '256.26', '66.82M', '-3.57%']
['Tesla price', '', 'Date', 'Aug 25, 2022', 'Aug 24, 2022', 'Aug 23, 2022', 'Aug 22, 2022', 'Aug 19, 2022', 'Aug 18, 2022', 'Aug 17, 2022', 'Aug 16, 2022', 'Aug 15, 2022', 'Aug 12, 2022', 'Aug 11, 2022', 'Aug 10, 2022', 'Aug 09, 2022', 'Aug 08, 2022', 'Aug 05, 2022', 'Aug 04, 2022', 'Aug 03, 2022', 'Aug 02, 2022', 'Aug 01, 2022', 'Jul 29, 2022', 'Jul 28, 2022', 'Jul 27, 2022', 'Jul 26, 2022']

In [19]:
#Print on cell in particular
print(sheet.cell_value(rowx=3, colx = 3))

Hello

## Write excel files

In [22]:
#import the package
import xlwt

In [27]:
#Create workbook
book = xlwt.Workbook(r"D:\KBTU\2022-2023\Python Course\Course\Lecture\Lecture_1\Price_tesla_and_microsoft.xlsx")

In [28]:
#Add a sheet
ws = book.add_sheet('A Test Sheet')
ws = book.add_sheet('A Test Sheet1')
ws = book.add_sheet('A Test Sheet2')

In [29]:
#Write the wanted information
for i in range(5,100):
    ws.write(i, 0, 1)
    ws.write(i, 1, 2)
    
ws.write(5, 2, xlwt.Formula("A6+B6"))

In [30]:
#Save your file under xls
book.save(r"D:\KBTU\2022-2023\Python Course\Course\Lecture\Lecture_1\Example_excel_write.xls")

In [ ]:
#YOUR TURN
#Write first columns of the csv file into a excel file
#Open csv file => get the first column => create excel file => write inside the first column => Save
#Time : 10 min => 12:31
#Using .xls is easier

In [31]:
import csv

first_column = []
with open(r"D:\KBTU\2022-2023\Python Course\Course\Lecture\Lecture_1\Skills assessment .csv\Skills assessment_modified.csv", 'r') as csvfile:
    csv_read = csv.reader(csvfile)
    for row in csv_read:
        first_column.append(row[0])
print(first_column)

['Horodateur', '2022/09/05 3:17:48 PM UTC+6', '2022/09/05 3:18:22 PM UTC+6', '2022/09/05 3:18:30 PM UTC+6', '2022/09/05 3:18:55 PM UTC+6', '2022/09/05 3:20:12 PM UTC+6', '2022/09/05 3:24:00 PM UTC+6', '2022/09/05 4:06:43 PM UTC+6', '2022/09/05 5:08:40 PM UTC+6', '2022/09/05 5:08:41 PM UTC+6', '2022/09/05 5:09:06 PM UTC+6', '2022/09/05 5:09:06 PM UTC+6', '2022/09/05 5:09:06 PM UTC+6', '2022/09/05 5:09:06 PM UTC+6', '2022/09/05 5:09:07 PM UTC+6', '2022/09/05 5:09:13 PM UTC+6', '2022/09/05 5:09:18 PM UTC+6', '2022/09/05 5:09:24 PM UTC+6', '2022/09/05 5:09:38 PM UTC+6', '2022/09/05 5:09:52 PM UTC+6', '2022/09/05 5:09:56 PM UTC+6', '2022/09/05 5:09:57 PM UTC+6', '2022/09/05 5:10:01 PM UTC+6', '2022/09/05 5:10:07 PM UTC+6', '2022/09/05 5:10:09 PM UTC+6', '2022/09/05 5:10:10 PM UTC+6', '2022/09/05 5:10:17 PM UTC+6', '2022/09/05 5:10:18 PM UTC+6', '2022/09/05 5:10:22 PM UTC+6', '2022/09/05 5:10:23 PM UTC+6', '2022/09/05 5:10:33 PM UTC+6', '2022/09/05 5:10:36 PM UTC+6', '2022/09/05 5:10:37 PM UTC+6', '2022/09/05 5:10:42 PM UTC+6', '2022/09/05 5:10:44 PM UTC+6', '2022/09/05 5:10:50 PM UTC+6', '2022/09/05 5:10:51 PM UTC+6', '2022/09/05 5:10:52 PM UTC+6', '2022/09/05 5:10:53 PM UTC+6', '2022/09/05 5:10:54 PM UTC+6', '2022/09/05 5:11:02 PM UTC+6', '2022/09/05 5:11:03 PM UTC+6', '2022/09/05 5:11:06 PM UTC+6', '2022/09/05 5:11:09 PM UTC+6', '2022/09/05 5:11:10 PM UTC+6', '2022/09/05 5:11:17 PM UTC+6', '2022/09/05 5:11:24 PM UTC+6', '2022/09/05 5:11:28 PM UTC+6', '2022/09/05 5:11:33 PM UTC+6', '2022/09/05 5:11:35 PM UTC+6', '2022/09/05 5:11:38 PM UTC+6', '2022/09/05 5:11:41 PM UTC+6', '2022/09/05 5:11:42 PM UTC+6', '2022/09/05 5:11:44 PM UTC+6', '2022/09/05 5:11:45 PM UTC+6', '2022/09/05 5:11:53 PM UTC+6', '2022/09/05 5:12:02 PM UTC+6', '2022/09/05 5:12:04 PM UTC+6', '2022/09/05 5:12:16 PM UTC+6', '2022/09/05 5:12:23 PM UTC+6', '2022/09/05 5:12:33 PM UTC+6', '2022/09/05 5:12:37 PM UTC+6', '2022/09/05 5:12:53 PM UTC+6', '2022/09/05 5:12:54 PM UTC+6', '2022/09/05 5:13:04 PM UTC+6', '2022/09/05 5:13:08 PM UTC+6', '2022/09/05 5:13:30 PM UTC+6', '2022/09/05 5:13:43 PM UTC+6', '2022/09/05 5:13:47 PM UTC+6', '2022/09/05 5:14:24 PM UTC+6', '2022/09/05 5:14:29 PM UTC+6', '2022/09/05 5:14:42 PM UTC+6', '2022/09/05 5:14:49 PM UTC+6', '2022/09/05 5:15:18 PM UTC+6', '2022/09/05 5:15:21 PM UTC+6', '2022/09/05 5:15:25 PM UTC+6', '2022/09/05 5:16:04 PM UTC+6', '2022/09/05 5:16:08 PM UTC+6', '2022/09/05 5:16:49 PM UTC+6', '2022/09/05 5:17:29 PM UTC+6', '2022/09/05 5:18:54 PM UTC+6', '2022/09/05 5:28:25 PM UTC+6', '2022/09/05 5:31:02 PM UTC+6', '2022/09/05 5:31:58 PM UTC+6', '2022/09/05 6:11:29 PM UTC+6', '2022/09/05 6:23:26 PM UTC+6', '2022/09/05 6:35:48 PM UTC+6', '2022/09/05 6:39:30 PM UTC+6', '2022/09/05 7:03:20 PM UTC+6', '2022/09/05 7:26:31 PM UTC+6', '2022/09/05 7:42:24 PM UTC+6', '2022/09/05 7:58:39 PM UTC+6', '2022/09/05 8:09:45 PM UTC+6', '2022/09/05 8:13:45 PM UTC+6', '2022/09/05 8:36:40 PM UTC+6', '2022/09/05 8:45:37 PM UTC+6', '2022/09/05 9:10:54 PM UTC+6', '2022/09/05 9:13:28 PM UTC+6', '2022/09/05 9:25:23 PM UTC+6', '2022/09/05 9:58:42 PM UTC+6', '2022/09/05 10:09:51 PM UTC+6', '2022/09/05 10:23:34 PM UTC+6', '2022/09/05 11:03:21 PM UTC+6', '2022/09/06 12:00:17 AM UTC+6', '2022/09/06 1:00:44 AM UTC+6', '2022/09/06 1:27:10 AM UTC+6', '2022/09/06 8:17:50 AM UTC+6']

In [32]:
import xlwt

book = xlwt.Workbook(r"D:\KBTU\2022-2023\Python Course\Course\Lecture\Lecture_1\your_turn.xls")
ws = book.add_sheet('result')
for i in range(0,len(first_column)):
    ws.write(i, 0, first_column[i])
book.save(r"D:\KBTU\2022-2023\Python Course\Course\Lecture\Lecture_1\your_turn.xls")

# Transform the Data

In [13]:
#Load data from your files
import csv
with open(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\lects\lect1\Apple_price_csv.csv", 'r') as f:
    csv_file = csv.reader(f)
    for row in csv_file:
        print(row)

['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
['2015-08-25', '27.777500', '27.777500', '25.875000', '25.934999', '23.681032', '414406400']
['2015-08-26', '26.772499', '27.472500', '26.262501', '27.422501', '25.039267', '387098400']
['2015-08-27', '28.057501', '28.309999', '27.504999', '28.230000', '25.776581', '338464400']
['2015-08-28', '28.042500', '28.327499', '27.885000', '28.322500', '25.861042', '212657600']
['2015-08-31', '28.007500', '28.632500', '28.000000', '28.190001', '25.740063', '224917200']
['2015-09-01', '27.537500', '27.969999', '26.840000', '26.930000', '24.589561', '307383600']
['2015-09-02', '27.557501', '28.084999', '27.282499', '28.084999', '25.644186', '247555200']
['2015-09-03', '28.122499', '28.195000', '27.510000', '27.592501', '25.194485', '212935600']
['2015-09-04', '27.242500', '27.612499', '27.127501', '27.317499', '24.943384', '199985200']
['2015-09-08', '27.937500', '28.139999', '27.580000', '28.077499', '25.637335', '219374400']
['2015-09-09', '28.440001', '28.504999', '27.442499', '27.537500', '25.144264', '340043200']
['2015-09-10', '27.567499', '28.320000', '27.475000', '28.142500', '25.696684', '251571200']
['2015-09-11', '27.947500', '28.552500', '27.940001', '28.552500', '26.071056', '199662000']
['2015-09-14', '29.145000', '29.222500', '28.715000', '28.827499', '26.322155', '233453600']
['2015-09-15', '28.982500', '29.132500', '28.605000', '29.070000', '26.543575', '173364800']
['2015-09-16', '29.062500', '29.135000', '28.860001', '29.102501', '26.573254', '148694000']
['2015-09-17', '28.915001', '29.122499', '28.430000', '28.480000', '26.004856', '256450400']
['2015-09-18', '28.052500', '28.575001', '27.967501', '28.362499', '25.897564', '297141200']
['2015-09-21', '28.417500', '28.842501', '28.415001', '28.802500', '26.299326', '200888000']
['2015-09-22', '28.344999', '28.545000', '28.129999', '28.350000', '25.886154', '201384800']
['2015-09-23', '28.407499', '28.680000', '28.325001', '28.580000', '26.096163', '143026800']
['2015-09-24', '28.312500', '28.875000', '28.092501', '28.750000', '26.251394', '200878000']
['2015-09-25', '29.110001', '29.172501', '28.504999', '28.677500', '26.185190', '224607600']
['2015-09-28', '28.462500', '28.642500', '28.110001', '28.110001', '25.667015', '208436000']
['2015-09-29', '28.207500', '28.377501', '26.965000', '27.264999', '24.895449', '293461600']
['2015-09-30', '27.542500', '27.885000', '27.182501', '27.575001', '25.178503', '265892000']
['2015-10-01', '27.267500', '27.405001', '26.827499', '27.395000', '25.014153', '255716400']
['2015-10-02', '27.002501', '27.752501', '26.887501', '27.594999', '25.196772', '232079200']
['2015-10-05', '27.469999', '27.842501', '27.267500', '27.695000', '25.288078', '208258800']
['2015-10-06', '27.657499', '27.934999', '27.442499', '27.827499', '25.409065', '192787200']
['2015-10-07', '27.934999', '27.942499', '27.352501', '27.695000', '25.288078', '187062400']
['2015-10-08', '27.547501', '27.547501', '27.052500', '27.375000', '24.995890', '247918400']
['2015-10-09', '27.500000', '28.070000', '27.372499', '28.030001', '25.593964', '211064400']
['2015-10-12', '28.182501', '28.187500', '27.860001', '27.900000', '25.475260', '121868800']
['2015-10-13', '27.705000', '28.112499', '27.670000', '27.947500', '25.518633', '132197200']
['2015-10-14', '27.822500', '27.879999', '27.389999', '27.552500', '25.157961', '177849600']
['2015-10-15', '27.732500', '28.025000', '27.622499', '27.965000', '25.534609', '150694000']
['2015-10-16', '27.945000', '28.000000', '27.632500', '27.760000', '25.347437', '156930400']
['2015-10-19', '27.700001', '27.937500', '27.527500', '27.932501', '25.504932', '119036800']
['2015-10-20', '27.834999', '28.542500', '27.705000', '28.442499', '25.970615', '195871200']
['2015-10-21', '28.500000', '28.895000', '28.424999', '28.440001', '25.968327', '167180800']
['2015-10-22', '28.582500', '28.875000', '28.525000', '28.875000', '26.365528', '166616400']
['2015-10-23', '29.174999', '29.807501', '29.082500', '29.770000', '27.182737', '237467600']
['2015-10-26', '29.520000', '29.532499', '28.730000', '28.820000', '26.315304', '265335200']
['2015-10-27', '28.850000', '29.135000', '28.497499', '28.637501', '26.148668', '279537600']
['2015-10-28', '29.232500', '29.825001', '29.014999', '29.817499', '27.226110', '342205600']
['2015-10-29', '29.674999', '30.172501', '29.567499', '30.132500', '27.513735', '204909200']
['2015-10-30', '30.247499', '30.305000', '29.862499', '29.875000', '27.278614', '197461200']
['2015-11-02', '30.200001', '30.340000', '29.902500', '30.295000', '27.662121', '128813200']
['2015-11-03', '30.197500', '30.872499', '30.174999', '30.642500', '27.979418', '182076000']
['2015-11-04', '30.782499', '30.955000', '30.405001', '30.500000', '27.849297', '179544400']
['2015-11-05', '30.462500', '30.672501', '30.045000', '30.230000', '27.720922', '158210800']
['2015-11-06', '30.277500', '30.452499', '30.155001', '30.264999', '27.753016', '132169200']
['2015-11-09', '30.240000', '30.452499', '30.012501', '30.142500', '27.640682', '135485600']
['2015-11-10', '29.225000', '29.517500', '29.014999', '29.192499', '26.769529', '236511600']
['2015-11-11', '29.092501', '29.355000', '28.802500', '29.027500', '26.618229', '180872000']
['2015-11-12', '29.065001', '29.205000', '28.912500', '28.930000', '26.528822', '130102400']
['2015-11-13', '28.799999', '28.892500', '28.067499', '28.084999', '25.753950', '183249600']
['2015-11-16', '27.844999', '28.559999', '27.750000', '28.545000', '26.175776', '152426800']
['2015-11-17', '28.730000', '28.762501', '28.330000', '28.422501', '26.063444', '110467600']
['2015-11-18', '28.940001', '29.372499', '28.875000', '29.322500', '26.888742', '186698800']
['2015-11-19', '29.410000', '29.937500', '29.190001', '29.695000', '27.230324', '173183200']
['2015-11-20', '29.799999', '29.980000', '29.712500', '29.825001', '27.349535', '137148400']
['2015-11-23', '29.817499', '29.932501', '29.334999', '29.437500', '26.994192', '129930000']
['2015-11-24', '29.332500', '29.837500', '29.280001', '29.719999', '27.253248', '171212800']
['2015-11-25', '29.802500', '29.807501', '29.480000', '29.507500', '27.058388', '85553200']
['2015-11-27', '29.572500', '29.602501', '29.400000', '29.452499', '27.007950', '52185600']
['2015-11-30', '29.497499', '29.852501', '29.437500', '29.575001', '27.120283', '156721200']
['2015-12-01', '29.687500', '29.702499', '29.215000', '29.334999', '26.900200', '139409600']
['2015-12-02', '29.334999', '29.527500', '29.020000', '29.070000', '26.657200', '133546400']
['2015-12-03', '29.137501', '29.197500', '28.555000', '28.799999', '26.409611', '166278000']
['2015-12-04', '28.822500', '29.812500', '28.777500', '29.757500', '27.287638', '231108000']
['2015-12-07', '29.745001', '29.965000', '29.452499', '29.570000', '27.115700', '128336800']
['2015-12-08', '29.379999', '29.650000', '29.215000', '29.557501', '27.104240', '137238000']
['2015-12-09', '29.410000', '29.422501', '28.770000', '28.905001', '26.505894', '185445600']
['2015-12-10', '29.010000', '29.235001', '28.877501', '29.042500', '26.631983', '116850800']
['2015-12-11', '28.797501', '28.847500', '28.212500', '28.295000', '25.946526', '187544800']
['2015-12-14', '28.045000', '28.170000', '27.447500', '28.120001', '25.786051', '257274800']
['2015-12-15', '27.985001', '28.200001', '27.587500', '27.622499', '25.329840', '213292400']
['2015-12-16', '27.767500', '27.997499', '27.200001', '27.834999', '25.524700', '224954000']
['2015-12-17', '28.004999', '28.062500', '27.245001', '27.245001', '24.983675', '179091200']
['2015-12-18', '27.227501', '27.379999', '26.452499', '26.507500', '24.307384', '385813200']
['2015-12-21', '26.820000', '26.842501', '26.392500', '26.832500', '24.605406', '190362400']
['2015-12-22', '26.850000', '26.930000', '26.612499', '26.807501', '24.582485', '131157600']
['2015-12-23', '26.817499', '27.212500', '26.799999', '27.152500', '24.898848', '130629600']
['2015-12-24', '27.250000', '27.250000', '26.987499', '27.007500', '24.765888', '54281600']
['2015-12-28', '26.897499', '26.922501', '26.545000', '26.705000', '24.488493', '106816800']
['2015-12-29', '26.740000', '27.357500', '26.715000', '27.184999', '24.928652', '123724800']
['2015-12-30', '27.145000', '27.174999', '26.795000', '26.830000', '24.603117', '100855200']
['2015-12-31', '26.752501', '26.757500', '26.205000', '26.315001', '24.130867', '163649200']
['2016-01-04', '25.652500', '26.342501', '25.500000', '26.337500', '24.151491', '270597600']
['2016-01-05', '26.437500', '26.462500', '25.602501', '25.677500', '23.546274', '223164000']
['2016-01-06', '25.139999', '25.592501', '24.967501', '25.174999', '23.085487', '273829600']
['2016-01-07', '24.670000', '25.032499', '24.107500', '24.112499', '22.111174', '324377600']
['2016-01-08', '24.637501', '24.777500', '24.190001', '24.240000', '22.228086', '283192000']
['2016-01-11', '24.742500', '24.764999', '24.334999', '24.632500', '22.588009', '198957600']
['2016-01-12', '25.137501', '25.172501', '24.709999', '24.990000', '22.915840', '196616800']
['2016-01-13', '25.080000', '25.297501', '24.325001', '24.347500', '22.326664', '249758400']
['2016-01-14', '24.490000', '25.120001', '23.934999', '24.879999', '22.814966', '252680400']
['2016-01-15', '24.049999', '24.427500', '23.840000', '24.282499', '22.267059', '319335600']
['2016-01-19', '24.602501', '24.662500', '23.875000', '24.165001', '22.159313', '212350800']
['2016-01-20', '23.775000', '24.547501', '23.355000', '24.197500', '22.189110', '289337600']
['2016-01-21', '24.264999', '24.469999', '23.735001', '24.075001', '22.076786', '208646000']
['2016-01-22', '24.657499', '25.365000', '24.592501', '25.355000', '23.250544', '263202000']
['2016-01-25', '25.379999', '25.382500', '24.802500', '24.860001', '22.796629', '207178000']
['2016-01-26', '24.982500', '25.219999', '24.517500', '24.997499', '22.922716', '300308000']
['2016-01-27', '24.010000', '24.157499', '23.334999', '23.355000', '21.416540', '533478800']
['2016-01-28', '23.447500', '23.629999', '23.097500', '23.522499', '21.570145', '222715200']
['2016-01-29', '23.697500', '24.334999', '23.587500', '24.334999', '22.315205', '257666000']
['2016-02-01', '24.117500', '24.177500', '23.850000', '24.107500', '22.106583', '163774000']
['2016-02-02', '23.855000', '24.010000', '23.570000', '23.620001', '21.659550', '149428800']
['2016-02-03', '23.750000', '24.209999', '23.520000', '24.087500', '22.088245', '183857200']
['2016-02-04', '23.965000', '24.332500', '23.797501', '24.150000', '22.265726', '185886800']
['2016-02-05', '24.129999', '24.230000', '23.422501', '23.504999', '21.671049', '185672400']
['2016-02-08', '23.282499', '23.924999', '23.260000', '23.752501', '21.899239', '216085600']
['2016-02-09', '23.572500', '23.985001', '23.482500', '23.747499', '21.894634', '177324800']
['2016-02-10', '23.980000', '24.087500', '23.525000', '23.567499', '21.728678', '169374400']
['2016-02-11', '23.447500', '23.680000', '23.147499', '23.424999', '21.597288', '200298800']
['2016-02-12', '23.547501', '23.625000', '23.252501', '23.497499', '21.664137', '161405600']
['2016-02-16', '23.754999', '24.212500', '23.652500', '24.160000', '22.274950', '196231600']
['2016-02-17', '24.167500', '24.552500', '24.037500', '24.530001', '22.616079', '179452800']
['2016-02-18', '24.709999', '24.722500', '24.022499', '24.065001', '22.187355', '156084000']
['2016-02-19', '24.000000', '24.190001', '23.950001', '24.010000', '22.136646', '141496800']
['2016-02-22', '24.077499', '24.225000', '23.980000', '24.219999', '22.330263', '137123200']
['2016-02-23', '24.100000', '24.125000', '23.637501', '23.672501', '21.825483', '127770400']
['2016-02-24', '23.495001', '24.094999', '23.330000', '24.025000', '22.150480', '145022800']
['2016-02-25', '24.012501', '24.190001', '23.812500', '24.190001', '22.302610', '110330800']
['2016-02-26', '24.299999', '24.504999', '24.145000', '24.227501', '22.337173', '115964400']
['2016-02-29', '24.215000', '24.557501', '24.162500', '24.172501', '22.286469', '140865200']
['2016-03-01', '24.412500', '25.192499', '24.355000', '25.132500', '23.171564', '201628400']
['2016-03-02', '25.127501', '25.222500', '24.910000', '25.187500', '23.222275', '132678400']
['2016-03-03', '25.145000', '25.427500', '25.112499', '25.375000', '23.395145', '147822800']
['2016-03-04', '25.592501', '25.937500', '25.342501', '25.752501', '23.743195', '184220400']
['2016-03-07', '25.597500', '25.707500', '25.240000', '25.467501', '23.480425', '143315600']
['2016-03-08', '25.195000', '25.440001', '25.100000', '25.257500', '23.286812', '126247600']
['2016-03-09', '25.327499', '25.395000', '25.067499', '25.280001', '23.307558', '108806800']
['2016-03-10', '25.352501', '25.559999', '25.037500', '25.292500', '23.319082', '134054400']
['2016-03-11', '25.559999', '25.570000', '25.375000', '25.565001', '23.570320', '109632800']
['2016-03-14', '25.477501', '25.727501', '25.445000', '25.629999', '23.630247', '100304400']
['2016-03-15', '25.990000', '26.295000', '25.962500', '26.145000', '24.105066', '160270800']
['2016-03-16', '26.152500', '26.577499', '26.147499', '26.492500', '24.425457', '153214000']
['2016-03-17', '26.379999', '26.617500', '26.240000', '26.450001', '24.386272', '137682800']
['2016-03-18', '26.584999', '26.625000', '26.297501', '26.480000', '24.413927', '176820800']
['2016-03-21', '26.482500', '26.912500', '26.285000', '26.477501', '24.411627', '142010800']
['2016-03-22', '26.312500', '26.822500', '26.302500', '26.680000', '24.598326', '129777600']
['2016-03-23', '26.620001', '26.767500', '26.475000', '26.532499', '24.462336', '102814000']
['2016-03-24', '26.367500', '26.562500', '26.222500', '26.417500', '24.356300', '104532000']
['2016-03-28', '26.500000', '26.547501', '26.264999', '26.297501', '24.245668', '77645600']
['2016-03-29', '26.222500', '26.947500', '26.219999', '26.920000', '24.819597', '124760400']
['2016-03-30', '27.162500', '27.605000', '27.150000', '27.389999', '25.252924', '182404400']
['2016-03-31', '27.430000', '27.475000', '27.219999', '27.247499', '25.121548', '103553600']
['2016-04-01', '27.195000', '27.500000', '27.049999', '27.497499', '25.352036', '103496000']
['2016-04-04', '27.605000', '28.047501', '27.567499', '27.780001', '25.612495', '149424800']
['2016-04-05', '27.377501', '27.682501', '27.355000', '27.452499', '25.310549', '106314800']
['2016-04-06', '27.557501', '27.745001', '27.299999', '27.740000', '25.575619', '105616400']
['2016-04-07', '27.487499', '27.605000', '27.030001', '27.135000', '25.017824', '127207600']
['2016-04-08', '27.227501', '27.442499', '27.042500', '27.165001', '25.045483', '94326800']
['2016-04-11', '27.242500', '27.652500', '27.207500', '27.254999', '25.128464', '117630000']
['2016-04-12', '27.334999', '27.625000', '27.165001', '27.610001', '25.455765', '108929200']
['2016-04-13', '27.700001', '28.084999', '27.700001', '28.010000', '25.824556', '133029200']
['2016-04-14', '27.905001', '28.097500', '27.832500', '28.025000', '25.838379', '101895600']
['2016-04-15', '28.027500', '28.075001', '27.432501', '27.462500', '25.319773', '187756000']
['2016-04-18', '27.222500', '27.237499', '26.735001', '26.870001', '24.773502', '243286000']
['2016-04-19', '26.969999', '27.000000', '26.557501', '26.727501', '24.642124', '129539600']
['2016-04-20', '26.660000', '27.022499', '26.514999', '26.782499', '24.692831', '122444000']
['2016-04-21', '26.732500', '26.732500', '26.379999', '26.492500', '24.425457', '126210000']
['2016-04-22', '26.252501', '26.620001', '26.155001', '26.420000', '24.358614', '134732400']
['2016-04-25', '26.250000', '26.412500', '26.127501', '26.270000', '24.220312', '112126400']
['2016-04-26', '25.977501', '26.325001', '25.977501', '26.087500', '24.052055', '224064800']
['2016-04-27', '24.000000', '24.677500', '23.920000', '24.455000', '22.546926', '458408400']
['2016-04-28', '24.402500', '24.469999', '23.562500', '23.707500', '21.857750', '328970800']
['2016-04-29', '23.497499', '23.680000', '23.127501', '23.434999', '21.606510', '274126000']
['2016-05-02', '23.492500', '23.520000', '23.100000', '23.410000', '21.583466', '192640400']
['2016-05-03', '23.549999', '23.934999', '23.420000', '23.795000', '21.938423', '227325200']
['2016-05-04', '23.799999', '23.975000', '23.455000', '23.547501', '21.710239', '164102000']
['2016-05-05', '23.500000', '23.517500', '23.170000', '23.309999', '21.622114', '143562000']
['2016-05-06', '23.342501', '23.362499', '22.962500', '23.180000', '21.501528', '174799600']
['2016-05-09', '23.250000', '23.442499', '23.147499', '23.197500', '21.517757', '131745600']
['2016-05-10', '23.332500', '23.392500', '23.027500', '23.355000', '21.663855', '134747200']
['2016-05-11', '23.370001', '23.392500', '23.115000', '23.127501', '21.452829', '114876400']
['2016-05-12', '23.180000', '23.195000', '22.367500', '22.584999', '20.949606', '305258800']
['2016-05-13', '22.500000', '22.917500', '22.500000', '22.629999', '20.991350', '177571200']
['2016-05-16', '23.097500', '23.597500', '22.912500', '23.469999', '21.770531', '245039200']
['2016-05-17', '23.637501', '23.674999', '23.252501', '23.372499', '21.680090', '187667600']
['2016-05-18', '23.540001', '23.802500', '23.472500', '23.639999', '21.928219', '168249600']
['2016-05-19', '23.660000', '23.660000', '23.392500', '23.549999', '21.844738', '121768400']
['2016-05-20', '23.660000', '23.857500', '23.629999', '23.805000', '22.081270', '128104000']
['2016-05-23', '23.967501', '24.297501', '23.917500', '24.107500', '22.361866', '152074400']
['2016-05-24', '24.305000', '24.522499', '24.209999', '24.475000', '22.702759', '140560800']
['2016-05-25', '24.667500', '24.934999', '24.527500', '24.905001', '23.101624', '152675200']
['2016-05-26', '24.920000', '25.182501', '24.660000', '25.102501', '23.284815', '225324800']
['2016-05-27', '24.860001', '25.117500', '24.812500', '25.087500', '23.270901', '145364800']
['2016-05-31', '24.900000', '25.100000', '24.705000', '24.965000', '23.157274', '169228800']
['2016-06-01', '24.754999', '24.885000', '24.582500', '24.615000', '22.832619', '116693200']
['2016-06-02', '24.400000', '24.459999', '24.157499', '24.430000', '22.661015', '160766400']
['2016-06-03', '24.447500', '24.567499', '24.362499', '24.480000', '22.707396', '114019600']
['2016-06-06', '24.497499', '25.472500', '24.387501', '24.657499', '22.872036', '93170000']
['2016-06-07', '24.812500', '24.967501', '24.740000', '24.757500', '22.964802', '89638000']
['2016-06-08', '24.754999', '24.889999', '24.670000', '24.735001', '22.943928', '83392400']
['2016-06-09', '24.625000', '24.997499', '24.615000', '24.912500', '23.108578', '106405600']
['2016-06-10', '24.632500', '24.837500', '24.620001', '24.707500', '22.918423', '126851600']
['2016-06-13', '24.672501', '24.780001', '24.275000', '24.334999', '22.572893', '152082000']
['2016-06-14', '24.330000', '24.620001', '24.187500', '24.365000', '22.600719', '127727600']
['2016-06-15', '24.455000', '24.602501', '24.257500', '24.285000', '22.526516', '117780800']
['2016-06-16', '24.112499', '24.437500', '24.017500', '24.387501', '22.621592', '125307200']
['2016-06-17', '24.155001', '24.162500', '23.825001', '23.832500', '22.106779', '244032800']
['2016-06-20', '24.000000', '24.142500', '23.757500', '23.775000', '22.053440', '137647600']
['2016-06-21', '23.735001', '24.087500', '23.670000', '23.977501', '22.241278', '142185600']
['2016-06-22', '24.062500', '24.222500', '23.837500', '23.887501', '22.157797', '116876400']
['2016-06-23', '23.985001', '24.072500', '23.812500', '24.025000', '22.285337', '128960800']
['2016-06-24', '23.227501', '23.665001', '23.162500', '23.350000', '21.659220', '301245600']
['2016-06-27', '23.250000', '23.262501', '22.875000', '23.010000', '21.343842', '181958400']
['2016-06-28', '23.225000', '23.415001', '23.035000', '23.397499', '21.703278', '161779600']
['2016-06-29', '23.492500', '23.637501', '23.407499', '23.600000', '21.891115', '146124000']

In [14]:
#Use your data with lists
date = []
open_list = []
high = []
with open(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\lects\lect1\Apple_price_csv.csv", 'r') as f:
    csv_file = csv.reader(f)
    for row in csv_file:
        date.append(row[0])
        open_list.append(row[1])
        high.append(row[2])
print(date[0:10])
print(open_list[0:10])

['Date', '2015-08-25', '2015-08-26', '2015-08-27', '2015-08-28', '2015-08-31', '2015-09-01', '2015-09-02', '2015-09-03', '2015-09-04']
['Open', '27.777500', '26.772499', '28.057501', '28.042500', '28.007500', '27.537500', '27.557501', '28.122499', '27.242500']

In [15]:
#use Dicitonary
new_dict = {date[0] : date[1:], open_list[0]: open_list[1:], "High": high[1:]}
print(new_dict)

{'Date': ['2015-08-25', '2015-08-26', '2015-08-27', '2015-08-28', '2015-08-31', '2015-09-01', '2015-09-02', '2015-09-03', '2015-09-04', '2015-09-08', '2015-09-09', '2015-09-10', '2015-09-11', '2015-09-14', '2015-09-15', '2015-09-16', '2015-09-17', '2015-09-18', '2015-09-21', '2015-09-22', '2015-09-23', '2015-09-24', '2015-09-25', '2015-09-28', '2015-09-29', '2015-09-30', '2015-10-01', '2015-10-02', '2015-10-05', '2015-10-06', '2015-10-07', '2015-10-08', '2015-10-09', '2015-10-12', '2015-10-13', '2015-10-14', '2015-10-15', '2015-10-16', '2015-10-19', '2015-10-20', '2015-10-21', '2015-10-22', '2015-10-23', '2015-10-26', '2015-10-27', '2015-10-28', '2015-10-29', '2015-10-30', '2015-11-02', '2015-11-03', '2015-11-04', '2015-11-05', '2015-11-06', '2015-11-09', '2015-11-10', '2015-11-11', '2015-11-12', '2015-11-13', '2015-11-16', '2015-11-17', '2015-11-18', '2015-11-19', '2015-11-20', '2015-11-23', '2015-11-24', '2015-11-25', '2015-11-27', '2015-11-30', '2015-12-01', '2015-12-02', '2015-12-03', '2015-12-04', '2015-12-07', '2015-12-08', '2015-12-09', '2015-12-10', '2015-12-11', '2015-12-14', '2015-12-15', '2015-12-16', '2015-12-17', '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23', '2015-12-24', '2015-12-28', '2015-12-29', '2015-12-30', '2015-12-31', '2016-01-04', '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12', '2016-01-13', '2016-01-14', '2016-01-15', '2016-01-19', '2016-01-20', '2016-01-21', '2016-01-22', '2016-01-25', '2016-01-26', '2016-01-27', '2016-01-28', '2016-01-29', '2016-02-01', '2016-02-02', '2016-02-03', '2016-02-04', '2016-02-05', '2016-02-08', '2016-02-09', '2016-02-10', '2016-02-11', '2016-02-12', '2016-02-16', '2016-02-17', '2016-02-18', '2016-02-19', '2016-02-22', '2016-02-23', '2016-02-24', '2016-02-25', '2016-02-26', '2016-02-29', '2016-03-01', '2016-03-02', '2016-03-03', '2016-03-04', '2016-03-07', '2016-03-08', '2016-03-09', '2016-03-10', '2016-03-11', '2016-03-14', '2016-03-15', '2016-03-16', '2016-03-17', '2016-03-18', '2016-03-21', '2016-03-22', '2016-03-23', '2016-03-24', '2016-03-28', '2016-03-29', '2016-03-30', '2016-03-31', '2016-04-01', '2016-04-04', '2016-04-05', '2016-04-06', '2016-04-07', '2016-04-08', '2016-04-11', '2016-04-12', '2016-04-13', '2016-04-14', '2016-04-15', '2016-04-18', '2016-04-19', '2016-04-20', '2016-04-21', '2016-04-22', '2016-04-25', '2016-04-26', '2016-04-27', '2016-04-28', '2016-04-29', '2016-05-02', '2016-05-03', '2016-05-04', '2016-05-05', '2016-05-06', '2016-05-09', '2016-05-10', '2016-05-11', '2016-05-12', '2016-05-13', '2016-05-16', '2016-05-17', '2016-05-18', '2016-05-19', '2016-05-20', '2016-05-23', '2016-05-24', '2016-05-25', '2016-05-26', '2016-05-27', '2016-05-31', '2016-06-01', '2016-06-02', '2016-06-03', '2016-06-06', '2016-06-07', '2016-06-08', '2016-06-09', '2016-06-10', '2016-06-13', '2016-06-14', '2016-06-15', '2016-06-16', '2016-06-17', '2016-06-20', '2016-06-21', '2016-06-22', '2016-06-23', '2016-06-24', '2016-06-27', '2016-06-28', '2016-06-29', '2016-06-30', '2016-07-01', '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08', '2016-07-11', '2016-07-12', '2016-07-13', '2016-07-14', '2016-07-15', '2016-07-18', '2016-07-19', '2016-07-20', '2016-07-21', '2016-07-22', '2016-07-25', '2016-07-26', '2016-07-27', '2016-07-28', '2016-07-29', '2016-08-01', '2016-08-02', '2016-08-03', '2016-08-04', '2016-08-05', '2016-08-08', '2016-08-09', '2016-08-10', '2016-08-11', '2016-08-12', '2016-08-15', '2016-08-16', '2016-08-17', '2016-08-18', '2016-08-19', '2016-08-22', '2016-08-23', '2016-08-24', '2016-08-25', '2016-08-26', '2016-08-29', '2016-08-30', '2016-08-31', '2016-09-01', '2016-09-02', '2016-09-06', '2016-09-07', '2016-09-08', '2016-09-09', '2016-09-12', '2016-09-13', '2016-09-14', '2016-09-15', '2016-09-16', '2016-09-19', '2016-09-20', '2016-09-21', '2016-09-22', '2016-09-23', '2016-09-26', '2016-09-27', '2016-09-28', '2016-09-29', '2016-09-30', '2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06', '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12', '2016-10-13', '2016-10-14', '2016-10-17', '2016-10-18', '2016-10-19', '2016-10-20', '2016-10-21', '2016-10-24', '2016-10-25', '2016-10-26', '2016-10-27', '2016-10-28', '2016-10-31', '2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04', '2016-11-07', '2016-11-08', '2016-11-09', '2016-11-10', '2016-11-11', '2016-11-14', '2016-11-15', '2016-11-16', '2016-11-17', '2016-11-18', '2016-11-21', '2016-11-22', '2016-11-23', '2016-11-25', '2016-11-28', '2016-11-29', '2016-11-30', '2016-12-01', '2016-12-02', '2016-12-05', '2016-12-06', '2016-12-07', '2016-12-08', '2016-12-09', '2016-12-12', '2016-12-13', '2016-12-14', '2016-12-15', '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21', '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28', '2016-12-29', '2016-12-30', '2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06', '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12', '2017-01-13', '2017-01-17', '2017-01-18', '2017-01-19', '2017-01-20', '2017-01-23', '2017-01-24', '2017-01-25', '2017-01-26', '2017-01-27', '2017-01-30', '2017-01-31', '2017-02-01', '2017-02-02', '2017-02-03', '2017-02-06', '2017-02-07', '2017-02-08', '2017-02-09', '2017-02-10', '2017-02-13', '2017-02-14', '2017-02-15', '2017-02-16', '2017-02-17', '2017-02-21', '2017-02-22', '2017-02-23', '2017-02-24', '2017-02-27', '2017-02-28', '2017-03-01', '2017-03-02', '2017-03-03', '2017-03-06', '2017-03-07', '2017-03-08', '2017-03-09', '2017-03-10', '2017-03-13', '2017-03-14', '2017-03-15', '2017-03-16', '2017-03-17', '2017-03-20', '2017-03-21', '2017-03-22', '2017-03-23', '2017-03-24', '2017-03-27', '2017-03-28', '2017-03-29', '2017-03-30', '2017-03-31', '2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06', '2017-04-07', '2017-04-10', '2017-04-11', '2017-04-12', '2017-04-13', '2017-04-17', '2017-04-18', '2017-04-19', '2017-04-20', '2017-04-21', '2017-04-24', '2017-04-25', '2017-04-26', '2017-04-27', '2017-04-28', '2017-05-01', '2017-05-02', '2017-05-03', '2017-05-04', '2017-05-05', '2017-05-08', '2017-05-09', '2017-05-10', '2017-05-11', '2017-05-12', '2017-05-15', '2017-05-16', '2017-05-17', '2017-05-18', '2017-05-19', '2017-05-22', '2017-05-23', '2017-05-24', '2017-05-25', '2017-05-26', '2017-05-30', '2017-05-31', '2017-06-01', '2017-06-02', '2017-06-05', '2017-06-06', '2017-06-07', '2017-06-08', '2017-06-09', '2017-06-12', '2017-06-13', '2017-06-14', '2017-06-15', '2017-06-16', '2017-06-19', '2017-06-20', '2017-06-21', '2017-06-22', '2017-06-23', '2017-06-26', '2017-06-27', '2017-06-28', '2017-06-29', '2017-06-30', '2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19', '2017-07-20', '2017-07-21', '2017-07-24', '2017-07-25', '2017-07-26', '2017-07-27', '2017-07-28', '2017-07-31', '2017-08-01', '2017-08-02', '2017-08-03', '2017-08-04', '2017-08-07', '2017-08-08', '2017-08-09', '2017-08-10', '2017-08-11', '2017-08-14', '2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18', '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24', '2017-08-25', '2017-08-28', '2017-08-29', '2017-08-30', '2017-08-31', '2017-09-01', '2017-09-05', '2017-09-06', '2017-09-07', '2017-09-08', '2017-09-11', '2017-09-12', '2017-09-13', '2017-09-14', '2017-09-15', '2017-09-18', '2017-09-19', '2017-09-20', '2017-09-21', '2017-09-22', '2017-09-25', '2017-09-26', '2017-09-27', '2017-09-28', '2017-09-29', '2017-10-02', '2017-10-03', '2017-10-04', '2017-10-05', '2017-10-06', '2017-10-09', '2017-10-10', '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-16', '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20', '2017-10-23', '2017-10-24', '2017-10-25', '2017-10-26', '2017-10-27', '2017-10-30', '2017-10-31', '2017-11-01', '2017-11-02', '2017-11-03', '2017-11-06', '2017-11-07', '2017-11-08', '2017-11-09', '2017-11-10', '2017-11-13', '2017-11-14', '2017-11-15', '2017-11-16', '2017-11-17', '2017-11-20', '2017-11-21', '2017-11-22', '2017-11-24', '2017-11-27', '2017-11-28', '2017-11-29', '2017-11-30', '2017-12-01', '2017-12-04', '2017-12-05', '2017-12-06', '2017-12-07', '2017-12-08', '2017-12-11', '2017-12-12', '2017-12-13', '2017-12-14', '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20', '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-16', '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-22', '2018-01-23', '2018-01-24', '2018-01-25', '2018-01-26', '2018-01-29', '2018-01-30', '2018-01-31', '2018-02-01', '2018-02-02', '2018-02-05', '2018-02-06', '2018-02-07', '2018-02-08', '2018-02-09', '2018-02-12', '2018-02-13', '2018-02-14', '2018-02-15', '2018-02-16', '2018-02-20', '2018-02-21', '2018-02-22', '2018-02-23', '2018-02-26', '2018-02-27', '2018-02-28', '2018-03-01', '2018-03-02', '2018-03-05', '2018-03-06', '2018-03-07', '2018-03-08', '2018-03-09', '2018-03-12', '2018-03-13', '2018-03-14', '2018-03-15', '2018-03-16', '2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22', '2018-03-23', '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29', '2018-04-02', '2018-04-03', '2018-04-04', '2018-04-05', '2018-04-06', '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12', '2018-04-13', '2018-04-16', '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20', '2018-04-23', '2018-04-24', '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-30', '2018-05-01', '2018-05-02', '2018-05-03', '2018-05-04', '2018-05-07', '2018-05-08', '2018-05-09', '2018-05-10', '2018-05-11', '2018-05-14', '2018-05-15', '2018-05-16', '2018-05-17', '2018-05-18', '2018-05-21', '2018-05-22', '2018-05-23', '2018-05-24', '2018-05-25', '2018-05-29', '2018-05-30', '2018-05-31', '2018-06-01', '2018-06-04', '2018-06-05', '2018-06-06', '2018-06-07', '2018-06-08', '2018-06-11', '2018-06-12', '2018-06-13', '2018-06-14', '2018-06-15', '2018-06-18', '2018-06-19', '2018-06-20', '2018-06-21', '2018-06-22', '2018-06-25', '2018-06-26', '2018-06-27', '2018-06-28', '2018-06-29', '2018-07-02', '2018-07-03', '2018-07-05', '2018-07-06', '2018-07-09', '2018-07-10', '2018-07-11', '2018-07-12', '2018-07-13', '2018-07-16', '2018-07-17', '2018-07-18', '2018-07-19', '2018-07-20', '2018-07-23', '2018-07-24', '2018-07-25', '2018-07-26', '2018-07-27', '2018-07-30', '2018-07-31', '2018-08-01', '2018-08-02', '2018-08-03', '2018-08-06', '2018-08-07', '2018-08-08', '2018-08-09', '2018-08-10', '2018-08-13', '2018-08-14', '2018-08-15', '2018-08-16', '2018-08-17', '2018-08-20', '2018-08-21', '2018-08-22', '2018-08-23', '2018-08-24', '2018-08-27', '2018-08-28', '2018-08-29', '2018-08-30', '2018-08-31', '2018-09-04', '2018-09-05', '2018-09-06', '2018-09-07', '2018-09-10', '2018-09-11', '2018-09-12', '2018-09-13', '2018-09-14', '2018-09-17', '2018-09-18', '2018-09-19', '2018-09-20', '2018-09-21', '2018-09-24', '2018-09-25', '2018-09-26', '2018-09-27', '2018-09-28', '2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04', '2018-10-05', '2018-10-08', '2018-10-09', '2018-10-10', '2018-10-11', '2018-10-12', '2018-10-15', '2018-10-16', '2018-10-17', '2018-10-18', '2018-10-19', '2018-10-22', '2018-10-23', '2018-10-24', '2018-10-25', '2018-10-26', '2018-10-29', '2018-10-30', '2018-10-31', '2018-11-01', '2018-11-02', '2018-11-05', '2018-11-06', '2018-11-07', '2018-11-08', '2018-11-09', '2018-11-12', '2018-11-13', '2018-11-14', '2018-11-15', '2018-11-16', '2018-11-19', '2018-11-20', '2018-11-21', '2018-11-23', '2018-11-26', '2018-11-27', '2018-11-28', '2018-11-29', '2018-11-30', '2018-12-03', '2018-12-04', '2018-12-06', '2018-12-07', '2018-12-10', '2018-12-11', '2018-12-12', '2018-12-13', '2018-12-14', '2018-12-17', '2018-12-18', '2018-12-19', '2018-12-20', '2018-12-21', '2018-12-24', '2018-12-26', '2018-12-27', '2018-12-28', '2018-12-31', '2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-14', '2019-01-15', '2019-01-16', '2019-01-17', '2019-01-18', '2019-01-22', '2019-01-23', '2019-01-24', '2019-01-25', '2019-01-28', '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01', '2019-02-04', '2019-02-05', '2019-02-06', '2019-02-07', '2019-02-08', '2019-02-11', '2019-02-12', '2019-02-13', '2019-02-14', '2019-02-15', '2019-02-19', '2019-02-20', '2019-02-21', '2019-02-22', '2019-02-25', '2019-02-26', '2019-02-27', '2019-02-28', '2019-03-01', '2019-03-04', '2019-03-05', '2019-03-06', '2019-03-07', '2019-03-08', '2019-03-11', '2019-03-12', '2019-03-13', '2019-03-14', '2019-03-15', '2019-03-18', '2019-03-19', '2019-03-20', '2019-03-21', '2019-03-22', '2019-03-25', '2019-03-26', '2019-03-27', '2019-03-28', '2019-03-29', '2019-04-01', '2019-04-02', '2019-04-03', '2019-04-04', '2019-04-05', '2019-04-08', '2019-04-09', '2019-04-10', '2019-04-11', '2019-04-12', '2019-04-15', '2019-04-16', '2019-04-17', '2019-04-18', '2019-04-22', '2019-04-23', '2019-04-24', '2019-04-25', '2019-04-26', '2019-04-29', '2019-04-30', '2019-05-01', '2019-05-02', '2019-05-03', '2019-05-06', '2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10', '2019-05-13', '2019-05-14', '2019-05-15', '2019-05-16', '2019-05-17', '2019-05-20', '2019-05-21', '2019-05-22', '2019-05-23', '2019-05-24', '2019-05-28', '2019-05-29', '2019-05-30', '2019-05-31', '2019-06-03', '2019-06-04', '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-10', '2019-06-11', '2019-06-12', '2019-06-13', '2019-06-14', '2019-06-17', '2019-06-18', '2019-06-19', '2019-06-20', '2019-06-21', '2019-06-24', '2019-06-25', '2019-06-26', '2019-06-27', '2019-06-28', '2019-07-01', '2019-07-02', '2019-07-03', '2019-07-05', '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11', '2019-07-12', '2019-07-15', '2019-07-16', '2019-07-17', '2019-07-18', '2019-07-19', '2019-07-22', '2019-07-23', '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-29', '2019-07-30', '2019-07-31', '2019-08-01', '2019-08-02', '2019-08-05', '2019-08-06', '2019-08-07', '2019-08-08', '2019-08-09', '2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-19', '2019-08-20', '2019-08-21', '2019-08-22', '2019-08-23', '2019-08-26', '2019-08-27', '2019-08-28', '2019-08-29', '2019-08-30', '2019-09-03', '2019-09-04', '2019-09-05', '2019-09-06', '2019-09-09', '2019-09-10', '2019-09-11', '2019-09-12', '2019-09-13', '2019-09-16', '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20', '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26', '2019-09-27', '2019-09-30', '2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04', '2019-10-07', '2019-10-08', '2019-10-09', '2019-10-10', '2019-10-11', '2019-10-14', '2019-10-15', '2019-10-16', '2019-10-17', '2019-10-18', '2019-10-21', '2019-10-22', '2019-10-23', '2019-10-24', '2019-10-25', '2019-10-28', '2019-10-29', '2019-10-30', '2019-10-31', '2019-11-01', '2019-11-04', '2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08', '2019-11-11', '2019-11-12', '2019-11-13', '2019-11-14', '2019-11-15', '2019-11-18', '2019-11-19', '2019-11-20', '2019-11-21', '2019-11-22', '2019-11-25', '2019-11-26', '2019-11-27', '2019-11-29', '2019-12-02', '2019-12-03', '2019-12-04', '2019-12-05', '2019-12-06', '2019-12-09', '2019-12-10', '2019-12-11', '2019-12-12', '2019-12-13', '2019-12-16', '2019-12-17', '2019-12-18', '2019-12-19', '2019-12-20', '2019-12-23', '2019-12-24', '2019-12-26', '2019-12-27', '2019-12-30', '2019-12-31', '2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16', '2020-01-17', '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24', '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14', '2020-05-15', '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22', '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29', '2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12', '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-27', '2020-07-28', '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06', '2020-08-07', '2020-08-10', '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14', '2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04', '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11', '2020-09-14', '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-21', '2020-09-22', '2020-09-23', '2020-09-24', '2020-09-25', '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01', '2020-10-02', '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09', '2020-10-12', '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16', '2020-10-19', '2020-10-20', '2020-10-21', '2020-10-22', '2020-10-23', '2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29', '2020-10-30', '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06', '2020-11-09', '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-13', '2020-11-16', '2020-11-17', '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-23', '2020-11-24', '2020-11-25', '2020-11-27', '2020-11-30', '2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04', '2020-12-07', '2020-12-08', '2020-12-09', '2020-12-10', '2020-12-11', '2020-12-14', '2020-12-15', '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-11', '2021-01-12', '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-19', '2021-01-20', '2021-01-21', '2021-01-22', '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29', '2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05', '2021-02-08', '2021-02-09', '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-16', '2021-02-17', '2021-02-18', '2021-02-19', '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25', '2021-02-26', '2021-03-01', '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11', '2021-03-12', '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26', '2021-03-29', '2021-03-30', '2021-03-31', '2021-04-01', '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-16', '2021-04-19', '2021-04-20', '2021-04-21', '2021-04-22', '2021-04-23', '2021-04-26', '2021-04-27'

In [36]:
#Use pprint to improve display
import pprint
pprint.pprint(new_dict)

{'Date': ['2015-08-25',
          '2015-08-26',
          '2015-08-27',
          '2015-08-28',
          '2015-08-31',
          '2015-09-01',
          '2015-09-02',
          '2015-09-03',
          '2015-09-04',
          '2015-09-08',
          '2015-09-09',
          '2015-09-10',
          '2015-09-11',
          '2015-09-14',
          '2015-09-15',
          '2015-09-16',
          '2015-09-17',
          '2015-09-18',
          '2015-09-21',
          '2015-09-22',
          '2015-09-23',
          '2015-09-24',
          '2015-09-25',
          '2015-09-28',
          '2015-09-29',
          '2015-09-30',
          '2015-10-01',
          '2015-10-02',
          '2015-10-05',
          '2015-10-06',
          '2015-10-07',
          '2015-10-08',
          '2015-10-09',
          '2015-10-12',
          '2015-10-13',
          '2015-10-14',
          '2015-10-15',
          '2015-10-16',
          '2015-10-19',
          '2015-10-20',
          '2015-10-21',
          '2015-10-22',
          '2015-10-23',
          '2015-10-26',
          '2015-10-27',
          '2015-10-28',
          '2015-10-29',
          '2015-10-30',
          '2015-11-02',
          '2015-11-03',
          '2015-11-04',
          '2015-11-05',
          '2015-11-06',
          '2015-11-09',
          '2015-11-10',
          '2015-11-11',
          '2015-11-12',
          '2015-11-13',
          '2015-11-16',
          '2015-11-17',
          '2015-11-18',
          '2015-11-19',
          '2015-11-20',
          '2015-11-23',
          '2015-11-24',
          '2015-11-25',
          '2015-11-27',
          '2015-11-30',
          '2015-12-01',
          '2015-12-02',
          '2015-12-03',
          '2015-12-04',
          '2015-12-07',
          '2015-12-08',
          '2015-12-09',
          '2015-12-10',
          '2015-12-11',
          '2015-12-14',
          '2015-12-15',
          '2015-12-16',
          '2015-12-17',
          '2015-12-18',
          '2015-12-21',
          '2015-12-22',
          '2015-12-23',
          '2015-12-24',
          '2015-12-28',
          '2015-12-29',
          '2015-12-30',
          '2015-12-31',
          '2016-01-04',
          '2016-01-05',
          '2016-01-06',
          '2016-01-07',
          '2016-01-08',
          '2016-01-11',
          '2016-01-12',
          '2016-01-13',
          '2016-01-14',
          '2016-01-15',
          '2016-01-19',
          '2016-01-20',
          '2016-01-21',
          '2016-01-22',
          '2016-01-25',
          '2016-01-26',
          '2016-01-27',
          '2016-01-28',
          '2016-01-29',
          '2016-02-01',
          '2016-02-02',
          '2016-02-03',
          '2016-02-04',
          '2016-02-05',
          '2016-02-08',
          '2016-02-09',
          '2016-02-10',
          '2016-02-11',
          '2016-02-12',
          '2016-02-16',
          '2016-02-17',
          '2016-02-18',
          '2016-02-19',
          '2016-02-22',
          '2016-02-23',
          '2016-02-24',
          '2016-02-25',
          '2016-02-26',
          '2016-02-29',
          '2016-03-01',
          '2016-03-02',
          '2016-03-03',
          '2016-03-04',
          '2016-03-07',
          '2016-03-08',
          '2016-03-09',
          '2016-03-10',
          '2016-03-11',
          '2016-03-14',
          '2016-03-15',
          '2016-03-16',
          '2016-03-17',
          '2016-03-18',
          '2016-03-21',
          '2016-03-22',
          '2016-03-23',
          '2016-03-24',
          '2016-03-28',
          '2016-03-29',
          '2016-03-30',
          '2016-03-31',
          '2016-04-01',
          '2016-04-04',
          '2016-04-05',
          '2016-04-06',
          '2016-04-07',
          '2016-04-08',
          '2016-04-11',
          '2016-04-12',
          '2016-04-13',
          '2016-04-14',
          '2016-04-15',
          '2016-04-18',
          '2016-04-19',
          '2016-04-20',
          '2016-04-21',
          '2016-04-22',
          '2016-04-25',
          '2016-04-26',
          '2016-04-27',
          '2016-04-28',
          '2016-04-29',
          '2016-05-02',
          '2016-05-03',
          '2016-05-04',
          '2016-05-05',
          '2016-05-06',
          '2016-05-09',
          '2016-05-10',
          '2016-05-11',
          '2016-05-12',
          '2016-05-13',
          '2016-05-16',
          '2016-05-17',
          '2016-05-18',
          '2016-05-19',
          '2016-05-20',
          '2016-05-23',
          '2016-05-24',
          '2016-05-25',
          '2016-05-26',
          '2016-05-27',
          '2016-05-31',
          '2016-06-01',
          '2016-06-02',
          '2016-06-03',
          '2016-06-06',
          '2016-06-07',
          '2016-06-08',
          '2016-06-09',
          '2016-06-10',
          '2016-06-13',
          '2016-06-14',
          '2016-06-15',
          '2016-06-16',
          '2016-06-17',
          '2016-06-20',
          '2016-06-21',
          '2016-06-22',
          '2016-06-23',
          '2016-06-24',
          '2016-06-27',
          '2016-06-28',
          '2016-06-29',
          '2016-06-30',
          '2016-07-01',
          '2016-07-05',
          '2016-07-06',
          '2016-07-07',
          '2016-07-08',
          '2016-07-11',
          '2016-07-12',
          '2016-07-13',
          '2016-07-14',
          '2016-07-15',
          '2016-07-18',
          '2016-07-19',
          '2016-07-20',
          '2016-07-21',
          '2016-07-22',
          '2016-07-25',
          '2016-07-26',
          '2016-07-27',
          '2016-07-28',
          '2016-07-29',
          '2016-08-01',
          '2016-08-02',
          '2016-08-03',
          '2016-08-04',
          '2016-08-05',
          '2016-08-08',
          '2016-08-09',
          '2016-08-10',
          '2016-08-11',
          '2016-08-12',
          '2016-08-15',
          '2016-08-16',
          '2016-08-17',
          '2016-08-18',
          '2016-08-19',
          '2016-08-22',
          '2016-08-23',
          '2016-08-24',
          '2016-08-25',
          '2016-08-26',
          '2016-08-29',
          '2016-08-30',
          '2016-08-31',
          '2016-09-01',
          '2016-09-02',
          '2016-09-06',
          '2016-09-07',
          '2016-09-08',
          '2016-09-09',
          '2016-09-12',
          '2016-09-13',
          '2016-09-14',
          '2016-09-15',
          '2016-09-16',
          '2016-09-19',
          '2016-09-20',
          '2016-09-21',
          '2016-09-22',
          '2016-09-23',
          '2016-09-26',
          '2016-09-27',
          '2016-09-28',
          '2016-09-29',
          '2016-09-30',
          '2016-10-03',
          '2016-10-04',
          '2016-10-05',
          '2016-10-06',
          '2016-10-07',
          '2016-10-10',
          '2016-10-11',
          '2016-10-12',
          '2016-10-13',
          '2016-10-14',
          '2016-10-17',
          '2016-10-18',
          '2016-10-19',
          '2016-10-20',
          '2016-10-21',
          '2016-10-24',
          '2016-10-25',
          '2016-10-26',
          '2016-10-27',
          '2016-10-28',
          '2016-10-31',
          '2016-11-01',
          '2016-11-02',
          '2016-11-03',
          '2016-11-04',
          '2016-11-07',
          '2016-11-08',
          '2016-11-09',
          '2016-11-10',
          '2016-11-11',
          '2016-11-14',
          '2016-11-15',
          '2016-11-16',
          '2016-11-17',
          '2016-11-18',
          '2016-11-21',
          '2016-11-22',
          '2016-11-23',
          '2016-11-25',
          '2016-11-28',
          '2016-11-29',
          '2016-11-30',
          '2016-12-01',
          '2016-12-02',
          '2016-12-05',
          '2016-12-06',
          '2016-12-07',
          '2016-12-08',
          '2016-12-09',
          '2016-12-12',
          '2016-12-13',
          '2016-12-14',
          '2016-12-15',
          '2016-12-16',
          '2016-12-19',
          '2016-12-20',
          '2016-12-21',
          '2016-12-22',
          '2016-12-23',
          '2016-12-27',
          '2016-12-28',
          '2016-12-29',
          '2016-12-30',
          '2017-01-03',
          '2017-01-04',
          '2017-01-05',
          '2017-01-06',
          '2017-01-09',
          '2017-01-10',
          '2017-01-11',
          '2017-01-12',
          '2017-01-13',
          '2017-01-17',
          '2017-01-18',
          '2017-01-19',
          '2017-01-20',
          '2017-01-23',
          '2017-01-24',
          '2017-01-25',
          '2017-01-26',
          '2017-01-27',
          '2017-01-30',
          '2017-01-31',
          '2017-02-01',
          '2017-02-02',
          '2017-02-03',
          '2017-02-06',
          '2017-02-07',
          '2017-02-08',
          '2017-02-09',
          '2017-02-10',
          '2017-02-13',
          '2017-02-14',
          '2017-02-15',
          '2017-02-16',
          '2017-02-17',
          '2017-02-21',
          '2017-02-22',
          '2017-02-23',
          '2017-02-24',
          '2017-02-27',
          '2017-02-28',
          '2017-03-01',
          '2017-03-02',
          '2017-03-03',
          '2017-03-06',
          '2017-03-07',
          '2017-03-08',
          '2017-03-09',
          '2017-03-10',
          '2017-03-13',
          '2017-03-14',
          '2017-03-15',
          '2017-03-16',
          '2017-03-17',
          '2017-03-20',
          '2017-03-21',
          '2017-03-22',
          '2017-03-23',
          '2017-03-24',
          '2017-03-27',
          '2017-03-28',
          '2017-03-29',
          '2017-03-30',
          '2017-03-31',
          '2017-04-03',
          '2017-04-04',
          '2017-04-05',
          '2017-04-06',
          '2017-04-07',
          '2017-04-10',
          '2017-04-11',
          '2017-04-12',
          '2017-04-13',
          '2017-04-17',
          '2017-04-18',
          '2017-04-19',
          '2017-04-20',
          '2017-04-21',
          '2017-04-24',
          '2017-04-25',
          '2017-04-26',
          '2017-04-27',
          '2017-04-28',
          '2017-05-01',
          '2017-05-02',
          '2017-05-03',
          '2017-05-04',
          '2017-05-05',
          '2017-05-08',
          '2017-05-09',
          '2017-05-10',
          '2017-05-11',
          '2017-05-12',
          '2017-05-15',
          '2017-05-16',
          '2017-05-17',
          '2017-05-18',
          '2017-05-19',
          '2017-05-22',
          '2017-05-23',
          '2017-05-24',
          '2017-05-25',
          '2017-05-26',
          '2017-05-30',
          '2017-05-31',
          '2017-06-01',
          '2017-06-02',
          '2017-06-05',
          '2017-06-06',
          '2017-06-07',
          '2017-06-08',
          '2017-06-09',
          '2017-06-12',
          '2017-06-13',
          '2017-06-14',
          '2017-06-15',
          '2017-06-16',
          '2017-06-19',
          '2017-06-20',
          '2017-06-21',
          '2017-06-22',
          '2017-06-23',
          '2017-06-26',
          '2017-06-27',
          '2017-06-28',
          '2017-06-29',
          '2017-06-30',
          '2017-07-03',
          '2017-07-05',
          '2017-07-06',
          '2017-07-07',
          '2017-07-10',
          '2017-07-11',
          '2017-07-12',
          '2017-07-13',
          '2017-07-14',
          '2017-07-17',
          '2017-07-18',
          '2017-07-19',
          '2017-07-20',
          '2017-07-21',
          '2017-07-24',
          '2017-07-25',
          '2017-07-26',
          '2017-07-27',
          '2017-07-28',
          '2017-07-31',
          '2017-08-01',
          '2017-08-02',
          '2017-08-03',
          '2017-08-04',
          '2017-08-07',
          '2017-08-08',
          '2017-08-09',
          '2017-08-10',
          '2017-08-11',
          '2017-08-14',
          '2017-08-15',
          '2017-08-16',
          '2017-08-17',
          '2017-08-18',
          '2017-08-21',
          '2017-08-22',
          '2017-08-23',
          '2017-08-24',
          '2017-08-25',
          '2017-08-28',
          '2017-08-29',
          '2017-08-30',
          '2017-08-31',
          '2017-09-01',
          '2017-09-05',
          '2017-09-06',
          '2017-09-07',
          '2017-09-08',
          '2017-09-11',
          '2017-09-12',
          '2017-09-13',
          '2017-09-14',
          '2017-09-15',
          '2017-09-18',
          '2017-09-19',
          '2017-09-20',
          '2017-09-21',
          '2017-09-22',
          '2017-09-25',
          '2017-09-26',
          '2017-09-27',
          '2017-09-28',
          '2017-09-29',
          '2017-10-02',
          '2017-10-03',
          '2017-10-04',
          '2017-10-05',
          '2017-10-06',
          '2017-10-09',
          '2017-10-10',
          '2017-10-11',
          '2017-10-12',
          '2017-10-13',
          '2017-10-16',
          '2017-10-17',
          '2017-10-18',
          '2017-10-19',
          '2017-10-20',
          '2017-10-23',
          '2017-10-24',
          '2017-10-25',
          '2017-10-26',
          '2017-10-27',
          '2017-10-30',
          '2017-10-31',
          '2017-11-01',
          '2017-11-02',
          '2017-11-03',
          '2017-11-06',
          '2017-11-07',
          '2017-11-08',
          '2017-11-09',
          '2017-11-10',
          '2017-11-13',
          '2017-11-14',
          '2017-11-15',
          '2017-11-16',
          '2017-11-17',
          '2017-11-20',
          '2017-11-21',
          '2017-11-22',
          '2017-11-24',
          '2017-11-27',
          '2017-11-28',
          '2017-11-29',
          '2017-11-30',
          '2017-12-01',
          '2017-12-04',
          '2017-12-05',
          '2017-12-06',
          '2017-12-07',
          '2017-12-08',
          '2017-12-11',
          '2017-12-12',
          '2017-12-13',
          '2017-12-14',
          '2017-12-15',
          '2017-12-18',
          '2017-12-19',
          '2017-12-20',
          '2017-12-21',
          '2017-12-22',
          '2017-12-26',
          '2017-12-27',
          '2017-12-28',
          '2017-12-29',
          '2018-01-02',
          '2018-01-03',
          '2018-01-04',
          '2018-01-05',
          '2018-01-08',
          '2018-01-09',
          '2018-01-10',
          '2018-01-11',
          '2018-01-12',
          '2018-01-16',
          '2018-01-17',
          '2018-01-18',
          '2018-01-19',
          '2018-01-22',
          '2018-01-23',
          '2018-01-24',
          '2018-01-25',
          '2018-01-26',
          '2018-01-29',
          '2018-01-30',
          '2018-01-31',
          '2018-02-01',
          '2018-02-02',
          '2018-02-05',
          '2018-02-06',
          '2018-02-07',
          '2018-02-08',
          '2018-02-09',
          '2018-02-12',
          '2018-02-13',
          '2018-02-14',
          '2018-02-15',
          '2018-02-16',
          '2018-02-20',
          '2018-02-21',
          '2018-02-22',
          '2018-02-23',
          '2018-02-26',
          '2018-02-27',
          '2018-02-28',
          '2018-03-01',
          '2018-03-02',
          '2018-03-05',
          '2018-03-06',
          '2018-03-07',
          '2018-03-08',
          '2018-03-09',
          '2018-03-12',
          '2018-03-13',
          '2018-03-14',
          '2018-03-15',
          '2018-03-16',
          '2018-03-19',
          '2018-03-20',
          '2018-03-21',
          '2018-03-22',
          '2018-03-23',
          '2018-03-26',
          '2018-03-27',
          '2018-03-28',
          '2018-03-29',
          '2018-04-02',
          '2018-04-03',
          '2018-04-04',
          '2018-04-05',
          '2018-04-06',
          '2018-04-09',
          '2018-04-10',
          '2018-04-11',
          '2018-04-12',
          '2018-04-13',
          '2018-04-16',
          '2018-04-17',
          '2018-04-18',
          '2018-04-19',
          '2018-04-20',
          '2018-04-23',
          '2018-04-24',
          '2018-04-25',
          '2018-04-26',
          '2018-04-27',
          '2018-04-30',
          '2018-05-01',
          '2018-05-02',
          '2018-05-03',
          '2018-05-04',
          '2018-05-07',
          '2018-05-08',
          '2018-05-09',
          '2018-05-10',
          '2018-05-11',
          '2018-05-14',
          '2018-05-15',
          '2018-05-16',
          '2018-05-17',
          '2018-05-18',
          '2018-05-21',
          '2018-05-22',
          '2018-05-23',
          '2018-05-24',
          '2018-05-25',
          '2018-05-29',
          '2018-05-30',
          '2018-05-31',
          '2018-06-01',
          '2018-06-04',
          '2018-06-05',
          '2018-06-06',
          '2018-06-07',
          '2018-06-08',
          '2018-06-11',
          '2018-06-12',
          '2018-06-13',
          '2018-06-14',
          '2018-06-15',
          '2018-06-18',
          '2018-06-19',
          '2018-06-20',
          '2018-06-21',
          '2018-06-22',
          '2018-06-25',
          '2018-06-26',
          '2018-06-27',
          '2018-06-28',
          '2018-06-29',
          '2018-07-02',
          '2018-07-03',
          '2018-07-05',
          '2018-07-06',
          '2018-07-09',
          '2018-07-10',
          '2018-07-11',
          '2018-07-12',
          '2018-07-13',
          '2018-07-16',
          '2018-07-17',
          '2018-07-18',
          '2018-07-19',
          '2018-07-20',
          '2018-07-23',
          '2018-07-24',
          '2018-07-25',
          '2018-07-26',
          '2018-07-27',
          '2018-07-30',
          '2018-07-31',
          '2018-08-01',
          '2018-08-02',
          '2018-08-03',
          '2018-08-06',
          '2018-08-07',
          '2018-08-08',
          '2018-08-09',
          '2018-08-10',
          '2018-08-13',
          '2018-08-14',
          '2018-08-15',
          '2018-08-16',
          '2018-08-17',
          '2018-08-20',
          '2018-08-21',
          '2018-08-22',
          '2018-08-23',
          '2018-08-24',
          '2018-08-27',
          '2018-08-28',
          '2018-08-29',
          '2018-08-30',
          '2018-08-31',
          '2018-09-04',
          '2018-09-05',
          '2018-09-06',
          '2018-09-07',
          '2018-09-10',
          '2018-09-11',
          '2018-09-12',
          '2018-09-13',
          '2018-09-14',
          '2018-09-17',
          '2018-09-18',
          '2018-09-19',
          '2018-09-20',
          '2018-09-21',
          '2018-09-24',
          '2018-09-25',
          '2018-09-26',
          '2018-09-27',
          '2018-09-28',
          '2018-10-01',
          '2018-10-02',
          '2018-10-03',
          '2018-10-04',
          '2018-10-05',
          '2018-10-08',
          '2018-10-09',
          '2018-10-10',
          '2018-10-11',
          '2018-10-12',
          '2018-10-15',
          '2018-10-16',
          '2018-10-17',
          '2018-10-18',
          '2018-10-19',
          '2018-10-22',
          '2018-10-23',
          '2018-10-24',
          '2018-10-25',
          '2018-10-26',
          '2018-10-29',
          '2018-10-30',
          '2018-10-31',
          '2018-11-01',
          '2018-11-02',
          '2018-11-05',
          '2018-11-06',
          '2018-11-07',
          '2018-11-08',
          '2018-11-09',
          '2018-11-12',
          '2018-11-13',
          '2018-11-14',
          '2018-11-15',
          '2018-11-16',
          '2018-11-19',
          '2018-11-20',
          '2018-11-21',
          '2018-11-23',
          '2018-11-26',
          '2018-11-27',
          '2018-11-28',
          '2018-11-29',
          '2018-11-30',
          '2018-12-03',
          '2018-12-04',
          '2018-12-06',
          '2018-12-07',
          '2018-12-10',
          '2018-12-11',
          '2018-12-12',
          '2018-12-13',

          '2022-08-23',
          '2022-08-24'],
 'High': ['27.777500',
          '27.472500',
          '28.309999',
          '28.327499',
          '28.632500',
          '27.969999',
          '28.084999',
          '28.195000',
          '27.612499',
          '28.139999',
          '28.504999',
          '28.320000',
          '28.552500',
          '29.222500',
          '29.132500',
          '29.135000',
          '29.122499',
          '28.575001',
          '28.842501',
          '28.545000',
          '28.680000',
          '28.875000',
          '29.172501',
          '28.642500',
          '28.377501',
          '27.885000',
          '27.405001',
          '27.752501',
          '27.842501',
          '27.934999',
          '27.942499',
          '27.547501',
          '28.070000',
          '28.187500',
          '28.112499',
          '27.879999',
          '28.025000',
          '28.000000',
          '27.937500',
          '28.542500',
          '28.895000',
          '28.875000',
          '29.807501',
          '29.532499',
          '29.135000',
          '29.825001',
          '30.172501',
          '30.305000',
          '30.340000',
          '30.872499',
          '30.955000',
          '30.672501',
          '30.452499',
          '30.452499',
          '29.517500',
          '29.355000',
          '29.205000',
          '28.892500',
          '28.559999',
          '28.762501',
          '29.372499',
          '29.937500',
          '29.980000',
          '29.932501',
          '29.837500',
          '29.807501',
          '29.602501',
          '29.852501',
          '29.702499',
          '29.527500',
          '29.197500',
          '29.812500',
          '29.965000',
          '29.650000',
          '29.422501',
          '29.235001',
          '28.847500',
          '28.170000',
          '28.200001',
          '27.997499',
          '28.062500',
          '27.379999',
          '26.842501',
          '26.930000',
          '27.212500',
          '27.250000',
          '26.922501',
          '27.357500',
          '27.174999',
          '26.757500',
          '26.342501',
          '26.462500',
          '25.592501',
          '25.032499',
          '24.777500',
          '24.764999',
          '25.172501',
          '25.297501',
          '25.120001',
          '24.427500',
          '24.662500',
          '24.547501',
          '24.469999',
          '25.365000',
          '25.382500',
          '25.219999',
          '24.157499',
          '23.629999',
          '24.334999',
          '24.177500',
          '24.010000',
          '24.209999',
          '24.332500',
          '24.230000',
          '23.924999',
          '23.985001',
          '24.087500',
          '23.680000',
          '23.625000',
          '24.212500',
          '24.552500',
          '24.722500',
          '24.190001',
          '24.225000',
          '24.125000',
          '24.094999',
          '24.190001',
          '24.504999',
          '24.557501',
          '25.192499',
          '25.222500',
          '25.427500',
          '25.937500',
          '25.707500',
          '25.440001',
          '25.395000',
          '25.559999',
          '25.570000',
          '25.727501',
          '26.295000',
          '26.577499',
          '26.617500',
          '26.625000',
          '26.912500',
          '26.822500',
          '26.767500',
          '26.562500',
          '26.547501',
          '26.947500',
          '27.605000',
          '27.475000',
          '27.500000',
          '28.047501',
          '27.682501',
          '27.745001',
          '27.605000',
          '27.442499',
          '27.652500',
          '27.625000',
          '28.084999',
          '28.097500',
          '28.075001',
          '27.237499',
          '27.000000',
          '27.022499',
          '26.732500',
          '26.620001',
          '26.412500',
          '26.325001',
          '24.677500',
          '24.469999',
          '23.680000',
          '23.520000',
          '23.934999',
          '23.975000',
          '23.517500',
          '23.362499',
          '23.442499',
          '23.392500',
          '23.392500',
          '23.195000',
          '22.917500',
          '23.597500',
          '23.674999',
          '23.802500',
          '23.660000',
          '23.857500',
          '24.297501',
          '24.522499',
          '24.934999',
          '25.182501',
          '25.117500',
          '25.100000',
          '24.885000',
          '24.459999',
          '24.567499',
          '25.472500',
          '24.967501',
          '24.889999',
          '24.997499',
          '24.837500',
          '24.780001',
          '24.620001',
          '24.602501',
          '24.437500',
          '24.162500',
          '24.142500',
          '24.087500',
          '24.222500',
          '24.072500',
          '23.665001',
          '23.262501',
          '23.415001',
          '23.637501',
          '23.942499',
          '24.117500',
          '23.850000',
          '23.915001',
          '24.125000',
          '24.222500',
          '24.412500',
          '24.424999',
          '24.417500',
          '24.747499',
          '24.825001',
          '25.032499',
          '25.000000',
          '25.115000',
          '25.250000',
          '24.825001',
          '24.709999',
          '24.492500',
          '26.087500',
          '26.112499',
          '26.137501',
          '26.537500',
          '26.517500',
          '26.459999',
          '26.500000',
          '26.912500',
          '27.092501',
          '27.235001',
          '27.225000',
          '27.232500',
          '27.110001',
          '27.385000',
          '27.557501',
          '27.342501',
          '27.400000',
          '27.422501',
          '27.275000',
          '27.330000',
          '27.187500',
          '26.969999',
          '26.987499',
          '26.860001',
          '26.625000',
          '26.642500',
          '26.700001',
          '27.000000',
          '27.075001',
          '27.190001',
          '26.817499',
          '26.430000',
          '26.430000',
          '27.197500',
          '28.257500',
          '28.932501',
          '29.032499',
          '29.045000',
          '28.530001',
          '28.497499',
          '28.735001',
          '28.697500',
          '28.347500',
          '28.295000',
          '28.660000',
          '28.450001',
          '28.342501',
          '28.262501',
          '28.577499',
          '28.415001',
          '28.584999',
          '28.639999',
          '29.187500',
          '29.672501',
          '29.495001',
          '29.360001',
          '29.542500',
          '29.459999',
          '29.552500',
          '29.440001',
          '29.344999',
          '29.227501',
          '29.434999',
          '29.590000',
          '28.924999',
          '28.965000',
          '28.802500',
          '28.557501',
          '28.442499',
          '28.087500',
          '27.865000',
          '27.562500',
          '27.627501',
          '27.930000',
          '27.830000',
          '27.772499',
          '27.217501',
          '26.952499',
          '26.920000',
          '27.557501',
          '27.587500',
          '27.635000',
          '27.997499',
          '28.105000',
          '27.877501',
          '27.967501',
          '28.117500',
          '28.007500',
          '28.049999',
          '27.735001',
          '27.522499',
          '27.507500',
          '27.590000',
          '27.797501',
          '28.107500',
          '28.674999',
          '28.750000',
          '28.980000',
          '29.049999',
          '29.182501',
          '29.125000',
          '29.344999',
          '29.375000',
          '29.350000',
          '29.127501',
          '29.129999',
          '29.450001',
          '29.504999',
          '29.277500',
          '29.299999',
          '29.082500',
          '29.127501',
          '29.215000',
          '29.540001',
          '29.857500',
          '29.844999',
          '29.982500',
          '29.825001',
          '29.905001',
          '30.059999',
          '30.125000',
          '30.022499',
          '30.112499',
          '30.202499',
          '30.025000',
          '30.525000',
          '30.610001',
          '30.587500',
          '30.407499',
          '30.347500',
          '32.622501',
          '32.347500',
          '32.297501',
          '32.625000',
          '33.022499',
          '33.055000',
          '33.112499',
          '33.235001',
          '33.455002',
          '33.772499',
          '34.067501',
          '33.974998',
          '33.957500',
          '34.187500',
          '34.279999',
          '34.369999',
          '34.165001',
          '34.360001',
          '34.360001',
          '35.037498',
          '35.070000',
          '34.957500',
          '34.942501',
          '34.994999',
          '34.950001',
          '34.697498',
          '34.840000',
          '34.857498',
          '34.912498',
          '35.187500',
          '35.255001',
          '35.250000',
          '35.375000',
          '35.700001',
          '35.400002',
          '35.395000',
          '35.435001',
          '35.305000',
          '36.009998',
          '36.122501',
          '36.125000',
          '36.067501',
          '36.029999',
          '36.222500',
          '36.365002',
          '36.130001',
          '36.044998',
          '35.970001',
          '35.837502',
          '35.537498',
          '35.595001',
          '35.470001',
          '35.509998',
          '35.500000',
          '35.730000',
          '35.669998',
          '35.987499',
          '36.224998',
          '36.150002',
          '36.040001',
          '36.075001',
          '36.799999',
          '37.022499',
          '36.872501',
          '36.785000',
          '37.244999',
          '38.424999',
          '38.720001',
          '38.485001',
          '38.517502',
          '39.105000',
          '39.162498',
          '39.014999',
          '38.642502',
          '38.334999',
          '38.494999',
          '38.645000',
          '38.724998',
          '38.542500',
          '38.587502',
          '38.560001',
          '38.607498',
          '38.542500',
          '38.332500',
          '38.862499',
          '38.612499',
          '38.952499',
          '38.994999',
          '38.884998',
          '38.797501',
          '36.522499',
          '36.862499',
          '36.875000',
          '36.119999',
          '36.125000',
          '36.685001',
          '36.717499',
          '36.517502',
          '36.674999',
          '36.790001',
          '37.070000',
          '36.540001',
          '36.527500',
          '36.282501',
          '36.240002',
          '36.325001',
          '36.197498',
          '35.875000',
          '36.187500',
          '36.487499',
          '36.462502',
          '36.544998',
          '37.122501',
          '37.332500',
          '37.724998',
          '37.532501',
          '37.855000',
          '37.935001',
          '37.610001',
          '38.110001',
          '38.459999',
          '38.482498',
          '38.497501',
          '37.557499',
          '37.582500',
          '37.555000',
          '39.937500',
          '39.302502',
          '39.349998',
          '39.730000',
          '40.457500',
          '40.317501',
          '40.000000',
          '39.642502',
          '40.052502',
          '40.549999',
          '40.627499',
          '40.177502',
          '39.875000',
          '39.472500',
          '40.000000',
          '40.117500',
          '40.185001',
          '40.139999',
          '40.500000',
          '40.779999',
          '40.972500',
          '41.130001',
          '41.235001',
          '41.062500',
          '40.747501',
          '40.560001',
          '40.287498',
          '40.512501',
          '40.990002',
          '39.990002',
          '39.849998',
          '40.242500',
          '40.125000',
          '39.942501',
          '39.564999',
          '38.950001',
          '38.067501',
          '37.957500',
          '38.480000',
          '38.680000',
          '38.570000',
          '38.532501',
          '38.612499',
          '38.772499',
          '38.465000',
          '38.860001',
          '38.872501',
          '39.182499',
          '39.500000',
          '39.244999',
          '39.342499',
          '39.320000',
          '40.000000',
          '40.217499',
          '40.177502',
          '39.270000',
          '39.437500',
          '39.422501',
          '39.355000',
          '39.387501',
          '39.457500',
          '40.900002',
          '42.017502',
          '42.412498',
          '42.485001',
          '42.125000',
          '43.564999',
          '43.747501',
          '43.812500',
          '44.060001',
          '44.025002',
          '43.845001',
          '43.625000',
          '43.369999',
          '42.580002',
          '42.967499',
          '42.847500',
          '42.639999',
          '43.424999',
          '43.750000',
          '43.875000',
          '43.770000',
          '43.717499',
          '43.230000',
          '43.035000',
          '42.917500',
          '43.154999',
          '42.880001',
          '42.549999',
          '42.610001',
          '42.750000',
          '43.222500',
          '43.097500',
          '43.384998',
          '43.282501',
          '43.542500',
          '44.299999',
          '43.847500',
          '43.855000',
          '44.005001',
          '43.855000',
          '42.867500',
          '42.695000',
          '42.962502',
          '42.647499',
          '43.075001',
          '43.637501',
          '43.367500',
          '43.842499',
          '43.902500',
          '43.764999',
          '43.575001',
          '43.872501',
          '44.340000',
          '44.847500',
          '44.812500',
          '45.025002',
          '44.895000',
          '44.445000',
          '44.860001',
          '44.325001',
          '43.737499',
          '43.000000',
          '42.540001',
          '41.842499',
          '42.110001',
          '42.154999',
          '41.700001',
          '40.970001',
          '40.930000',
          '40.849998',
          '40.250000',
          '39.472500',
          '40.972500',
          '41.187500',
          '41.884998',
          '43.272499',
          '43.705002',
          '43.564999',
          '43.529999',
          '43.487499',
          '43.912498',
          '44.847500',
          '45.119999',
          '45.154999',
          '44.945000',
          '44.075001',
          '44.435001',
          '44.562500',
          '43.962502',
          '44.279999',
          '45.000000',
          '45.597500',
          '45.875000',
          '45.130001',
          '45.060001',
          '44.779999',
          '44.367500',
          '44.200001',
          '43.772499',
          '43.169998',
          '42.480000',
          '43.275002',
          '43.787498',
          '42.505001',
          '42.937500',
          '42.235001',
          '42.187500',
          '43.002499',
          '43.557499',
          '43.119999',
          '43.272499',
          '43.500000',
          '43.480000',
          '43.750000',
          '43.959999',
          '44.047501',
          '44.735001',
          '44.705002',
          '43.847500',
          '42.805000',
          '41.730000',
          '41.582500',
          '41.355000',
          '41.432499',
          '41.082500',
          '41.814999',
          '42.299999',
          '44.437500',
          '44.375000',
          '46.062500',
          '46.917500',
          '46.555000',
          '46.849998',
          '47.592499',
          '47.514999',
          '47.382500',
          '46.767502',
          '47.115002',
          '47.227501',
          '46.952499',
          '47.317501',
          '47.220001',
          '47.125000',
          '47.209999',
          '47.412498',
          '47.187500',
          '47.000000',
          '47.057499',
          '47.564999',
          '48.355000',
          '48.485001',
          '48.520000',
          '48.549999',
          '48.000000',
          '47.992500',
          '48.152500',
          '48.220001',
          '47.892502',
          '47.540001',
          '47.305000',
          '46.582500',
          '46.799999',
          '47.087502',
          '46.537498',
          '46.230000',
          '46.632500',
          '46.820000',
          '46.552502',
          '46.797501',
          '46.825001',
          '46.987499',
          '46.602501',
          '47.107498',
          '47.669998',
          '47.820000',
          '47.445000',
          '47.852501',
          '47.959999',
          '48.162498',
          '47.967499',
          '47.950001',
          '48.137501',
          '48.107498',
          '47.990002',
          '48.415001',
          '48.712502',
          '48.990002',
          '48.797501',
          '48.049999',
          '48.035000',
          '50.439999',
          '52.095001',
          '52.185001',
          '52.312500',
          '52.375000',
          '51.952499',
          '52.445000',
          '52.275002',
          '52.737499',
          '52.639999',
          '52.685001',
          '53.452499',
          '54.487499',
          '54.794998',
          '54.297501',
          '54.090000',
          '54.262501',
          '54.224998',
          '54.685001',
          '55.134998',
          '55.872501',
          '57.064999',
          '57.217499',
          '57.294998',
          '57.417500',
          '56.837502',
          '56.342499',
          '55.462502',
          '56.075001',
          '56.250000',
          '57.087502',
          '56.709999',
          '55.737499',
          '55.462502',
          '54.904999',
          '55.570000',
          '55.340000',
          '55.314999',
          '55.705002',
          '55.937500',
          '56.610001',
          '56.459999',
          '57.355000',
          '57.500000',
          '58.367500',
          '58.087502',
          '57.102501',
          '56.200001',
          '56.817501',
          '56.587502',
          '54.875000',
          '55.720001',
          '55.457500',
          '55.747501',
          '55.660000',
          '54.935001',
          '55.314999',
          '55.840000',
          '55.812500',
          '56.057499',
          '55.345001',
          '55.047501',
          '54.922501',
          '53.794998',
          '55.112499',
          '55.590000',
          '53.412498',
          '51.097500',
          '51.180000',
          '52.514999',
          '52.529999',
          '51.502499',
          '49.962502',
          '49.294998',
          '48.619999',
          '47.992500',
          '48.742500',
          '47.674999',
          '45.367500',
          '45.067501',
          '44.150002',
          '43.737499',
          '43.692501',
          '45.322498',
          '45.700001',
          '45.082500',
          '46.235001',
          '45.597500',
          '43.695000',
          '43.622501',
          '42.522499',
          '42.947498',
          '42.980000',
          '43.142502',
          '42.270000',
          '42.087502',
          '41.882500',
          '41.862499',
          '40.527500',
          '39.540001',
          '37.887501',
          '39.307499',
          '39.192501',
          '39.630001',
          '39.840000',
          '39.712502',
          '36.430000',
          '37.137501',
          '37.207500',
          '37.955002',
          '38.632500',
          '38.492500',
          '38.424999',
          '37.817501',
          '38.347500',
          '38.970001',
          '39.415001',
          '39.470001',
          '39.182499',
          '38.785000',
          '38.619999',
          '39.532501',
          '39.082500',
          '39.532501',
          '41.537498',
          '42.250000',
          '42.244999',
          '42.915001',

          '148.039993',
          '147.789993',
          '147.839996',
          '147.110001',
          '146.699997',
          '147.710007',
          '146.720001',
          '149.050003',
          '149.440002',
          '151.190002',
          '151.679993',
          '150.720001',
          '148.000000',
          '148.500000',
          '150.190002',
          '150.860001',
          '150.320007',
          '149.119995',
          '148.750000',
          '153.490005',
          '152.800003',
          '154.979996',
          '154.720001',
          '154.630005',
          '157.259995',
          '157.039993',
          '156.110001',
          '155.479996',
          '151.419998',
          '151.070007',
          '149.440002',
          '148.970001',
          '148.820007',
          '144.839996',
          '144.600006',
          '146.429993',
          '147.080002',
          '147.470001',
          '145.960007',
          '144.750000',
          '144.449997',
          '144.380005',
          '142.919998',
          '142.210007',
          '142.240005',
          '142.149994',
          '144.220001',
          '144.179993',
          '144.809998',
          '143.250000',
          '141.399994',
          '143.880005',
          '144.899994',
          '146.839996',
          '149.169998',
          '149.750000',
          '149.639999',
          '150.179993',
          '149.369995',
          '150.839996',
          '149.729996',
          '153.169998',
          '149.940002',
          '149.699997',
          '151.570007',
          '151.970001',
          '152.429993',
          '152.199997',
          '151.570007',
          '151.429993',
          '150.130005',
          '149.429993',
          '150.399994',
          '151.880005',
          '151.490005',
          '155.000000',
          '158.669998',
          '161.020004',
          '165.699997',
          '161.800003',
          '162.139999',
          '160.449997',
          '161.190002',
          '165.520004',
          '170.300003',
          '164.199997',
          '164.960007',
          '167.880005',
          '171.580002',
          '175.960007',
          '176.750000',
          '179.630005',
          '182.130005',
          '177.740005',
          '179.500000',
          '181.139999',
          '173.470001',
          '170.580002',
          '173.199997',
          '175.860001',
          '176.850006',
          '180.419998',
          '181.330002',
          '180.630005',
          '180.570007',
          '179.229996',
          '182.880005',
          '182.940002',
          '180.169998',
          '175.300003',
          '174.139999',
          '172.500000',
          '175.179993',
          '177.179993',
          '176.619995',
          '173.779999',
          '172.539993',
          '171.080002',
          '169.679993',
          '166.330002',
          '162.300003',
          '162.759995',
          '164.389999',
          '163.839996',
          '170.350006',
          '175.000000',
          '174.839996',
          '175.880005',
          '176.240005',
          '174.100006',
          '173.949997',
          '175.350006',
          '176.649994',
          '175.479996',
          '173.080002',
          '169.580002',
          '172.949997',
          '173.339996',
          '171.910004',
          '170.539993',
          '166.690002',
          '166.149994',
          '162.850006',
          '165.119995',
          '165.419998',
          '166.600006',
          '167.360001',
          '168.910004',
          '165.550003',
          '165.020004',
          '162.880005',
          '163.410004',
          '160.389999',
          '159.279999',
          '154.119995',
          '155.570007',
          '160.000000',
          '161.000000',
          '164.479996',
          '166.350006',
          '169.419998',
          '172.639999',
          '174.139999',
          '175.279999',
          '175.729996',
          '179.009995',
          '179.610001',
          '178.029999',
          '174.880005',
          '178.490005',
          '178.300003',
          '173.630005',
          '173.360001',
          '171.779999',
          '169.029999',
          '169.869995',
          '171.039993',
          '171.270004',
          '166.600006',
          '167.820007',
          '168.880005',
          '171.529999',
          '167.869995',
          '163.169998',
          '162.339996',
          '159.789993',
          '164.520004',
          '166.199997',
          '158.229996',
          '160.710007',
          '166.479996',
          '164.080002',
          '159.440002',
          '155.830002',
          '156.740005',
          '155.449997',
          '146.199997',
          '148.100006',
          '147.520004',
          '149.770004',
          '147.360001',
          '141.660004',
          '140.699997',
          '143.259995',
          '141.970001',
          '141.789993',
          '144.339996',
          '149.679993',
          '150.660004',
          '151.740005',
          '151.270004',
          '147.970001',
          '148.570007',
          '149.000000',
          '149.869995',
          '147.949997',
          '140.759995',
          '135.199997',
          '133.889999',
          '137.339996',
          '132.389999',
          '133.080002',
          '137.059998',
          '137.759995',
          '138.589996',
          '141.910004',
          '143.490005',
          '143.419998',
          '140.669998',
          '138.369995',
          '139.039993',
          '141.610001',
          '144.119995',
          '146.550003',
          '147.550003',
          '146.639999',
          '148.449997',
          '146.449997',
          '148.949997',
          '150.860001',
          '151.570007',
          '151.229996',
          '153.720001',
          '155.570007',
          '156.279999',
          '155.039993',
          '153.089996',
          '157.330002',
          '157.639999',
          '163.630005',
          '163.589996',
          '162.410004',
          '166.589996',
          '167.190002',
          '165.850006',
          '167.809998',
          '165.820007',
          '169.339996',
          '170.990005',
          '172.169998',
          '173.389999',
          '173.710007',
          '176.149994',
          '174.899994',
          '173.740005',
          '169.860001',
          '168.710007',
          '168.110001'],
 'Open': ['27.777500',
          '26.772499',
          '28.057501',
          '28.042500',
          '28.007500',
          '27.537500',
          '27.557501',
          '28.122499',
          '27.242500',
          '27.937500',
          '28.440001',
          '27.567499',
          '27.947500',
          '29.145000',
          '28.982500',
          '29.062500',
          '28.915001',
          '28.052500',
          '28.417500',
          '28.344999',
          '28.407499',
          '28.312500',
          '29.110001',
          '28.462500',
          '28.207500',
          '27.542500',
          '27.267500',
          '27.002501',
          '27.469999',
          '27.657499',
          '27.934999',
          '27.547501',
          '27.500000',
          '28.182501',
          '27.705000',
          '27.822500',
          '27.732500',
          '27.945000',
          '27.700001',
          '27.834999',
          '28.500000',
          '28.582500',
          '29.174999',
          '29.520000',
          '28.850000',
          '29.232500',
          '29.674999',
          '30.247499',
          '30.200001',
          '30.197500',
          '30.782499',
          '30.462500',
          '30.277500',
          '30.240000',
          '29.225000',
          '29.092501',
          '29.065001',
          '28.799999',
          '27.844999',
          '28.730000',
          '28.940001',
          '29.410000',
          '29.799999',
          '29.817499',
          '29.332500',
          '29.802500',
          '29.572500',
          '29.497499',
          '29.687500',
          '29.334999',
          '29.137501',
          '28.822500',
          '29.745001',
          '29.379999',
          '29.410000',
          '29.010000',
          '28.797501',
          '28.045000',
          '27.985001',
          '27.767500',
          '28.004999',
          '27.227501',
          '26.820000',
          '26.850000',
          '26.817499',
          '27.250000',
          '26.897499',
          '26.740000',
          '27.145000',
          '26.752501',
          '25.652500',
          '26.437500',
          '25.139999',
          '24.670000',
          '24.637501',
          '24.742500',
          '25.137501',
          '25.080000',
          '24.490000',
          '24.049999',
          '24.602501',
          '23.775000',
          '24.264999',
          '24.657499',
          '25.379999',
          '24.982500',
          '24.010000',
          '23.447500',
          '23.697500',
          '24.117500',
          '23.855000',
          '23.750000',
          '23.965000',
          '24.129999',
          '23.282499',
          '23.572500',
          '23.980000',
          '23.447500',
          '23.547501',
          '23.754999',
          '24.167500',
          '24.709999',
          '24.000000',
          '24.077499',
          '24.100000',
          '23.495001',
          '24.012501',
          '24.299999',
          '24.215000',
          '24.412500',
          '25.127501',
          '25.145000',
          '25.592501',
          '25.597500',
          '25.195000',
          '25.327499',
          '25.352501',
          '25.559999',
          '25.477501',
          '25.990000',
          '26.152500',
          '26.379999',
          '26.584999',
          '26.482500',
          '26.312500',
          '26.620001',
          '26.367500',
          '26.500000',
          '26.222500',
          '27.162500',
          '27.430000',
          '27.195000',
          '27.605000',
          '27.377501',
          '27.557501',
          '27.487499',
          '27.227501',
          '27.242500',
          '27.334999',
          '27.700001',
          '27.905001',
          '28.027500',
          '27.222500',
          '26.969999',
          '26.660000',
          '26.732500',
          '26.252501',
          '26.250000',
          '25.977501',
          '24.000000',
          '24.402500',
          '23.497499',
          '23.492500',
          '23.549999',
          '23.799999',
          '23.500000',
          '23.342501',
          '23.250000',
          '23.332500',
          '23.370001',
          '23.180000',
          '22.500000',
          '23.097500',
          '23.637501',
          '23.540001',
          '23.660000',
          '23.660000',
          '23.967501',
          '24.305000',
          '24.667500',
          '24.920000',
          '24.860001',
          '24.900000',
          '24.754999',
          '24.400000',
          '24.447500',
          '24.497499',
          '24.812500',
          '24.754999',
          '24.625000',
          '24.632500',
          '24.672501',
          '24.330000',
          '24.455000',
          '24.112499',
          '24.155001',
          '24.000000',
          '23.735001',
          '24.062500',
          '23.985001',
          '23.227501',
          '23.250000',
          '23.225000',
          '23.492500',
          '23.610001',
          '23.872499',
          '23.847500',
          '23.650000',
          '23.924999',
          '24.122499',
          '24.187500',
          '24.292500',
          '24.352501',
          '24.347500',
          '24.730000',
          '24.674999',
          '24.889999',
          '25.000000',
          '24.957500',
          '24.815001',
          '24.562500',
          '24.205000',
          '26.067499',
          '25.707500',
          '26.047501',
          '26.102501',
          '26.512501',
          '26.202499',
          '26.395000',
          '26.567499',
          '26.879999',
          '27.057501',
          '27.177500',
          '27.129999',
          '26.945000',
          '27.035000',
          '27.407499',
          '27.275000',
          '27.307501',
          '27.192499',
          '27.215000',
          '27.147499',
          '27.142500',
          '26.847500',
          '26.852501',
          '26.655001',
          '26.450001',
          '26.415001',
          '26.535000',
          '26.924999',
          '26.975000',
          '26.957500',
          '26.812500',
          '26.160000',
          '25.662500',
          '26.877501',
          '27.182501',
          '28.465000',
          '28.780001',
          '28.797501',
          '28.262501',
          '28.462500',
          '28.587500',
          '28.605000',
          '27.910000',
          '28.250000',
          '28.422501',
          '28.290001',
          '28.115000',
          '28.177500',
          '28.264999',
          '28.350000',
          '28.424999',
          '28.577499',
          '28.754999',
          '29.424999',
          '29.337500',
          '29.197500',
          '29.469999',
          '29.332500',
          '29.545000',
          '29.312500',
          '29.215000',
          '29.202499',
          '29.275000',
          '29.487499',
          '28.577499',
          '28.847500',
          '28.467501',
          '28.412500',
          '28.365000',
          '27.850000',
          '27.745001',
          '27.132500',
          '27.520000',
          '27.577499',
          '27.469999',
          '27.772499',
          '26.780001',
          '26.927500',
          '26.642500',
          '26.674999',
          '27.452499',
          '27.430000',
          '27.530001',
          '27.987499',
          '27.840000',
          '27.782499',
          '27.857500',
          '27.695000',
          '27.900000',
          '27.592501',
          '27.292500',
          '27.500000',
          '27.375000',
          '27.315001',
          '27.715000',
          '28.077499',
          '28.322500',
          '28.459999',
          '28.760000',
          '28.844999',
          '29.117500',
          '28.950001',
          '29.184999',
          '29.200001',
          '29.087500',
          '28.897499',
          '29.129999',
          '29.379999',
          '29.112499',
          '29.162500',
          '28.950001',
          '28.962500',
          '28.980000',
          '29.195000',
          '29.487499',
          '29.692499',
          '29.684999',
          '29.725000',
          '29.777500',
          '29.584999',
          '30.000000',
          '29.850000',
          '30.112499',
          '30.000000',
          '29.887501',
          '30.105000',
          '30.417500',
          '30.535000',
          '30.232500',
          '30.287500',
          '31.757500',
          '31.995001',
          '32.077499',
          '32.282501',
          '32.634998',
          '32.837502',
          '32.912498',
          '33.115002',
          '33.270000',
          '33.367500',
          '33.880001',
          '33.917500',
          '33.775002',
          '34.057499',
          '34.107498',
          '34.345001',
          '33.977501',
          '34.285000',
          '34.270000',
          '34.472500',
          '35.000000',
          '34.695000',
          '34.842499',
          '34.764999',
          '34.737499',
          '34.685001',
          '34.812500',
          '34.712502',
          '34.825001',
          '34.852501',
          '35.180000',
          '35.250000',
          '35.099998',
          '35.527500',
          '34.962502',
          '35.314999',
          '35.375000',
          '34.847500',
          '35.227501',
          '35.919998',
          '36.047501',
          '35.930000',
          '35.927502',
          '35.812500',
          '36.055000',
          '36.072498',
          '35.932499',
          '35.900002',
          '35.735001',
          '35.400002',
          '35.477501',
          '35.369999',
          '35.352501',
          '35.470001',
          '35.305000',
          '35.610001',
          '35.875000',
          '35.977501',
          '36.117500',
          '35.980000',
          '36.022499',
          '36.275002',
          '36.884998',
          '36.397499',
          '36.630001',
          '36.689999',
          '37.257500',
          '38.467499',
          '38.407501',
          '38.112499',
          '38.674999',
          '39.002499',
          '38.985001',
          '38.400002',
          '37.817501',
          '38.345001',
          '38.500000',
          '38.724998',
          '38.459999',
          '38.432499',
          '38.500000',
          '38.355000',
          '38.492500',
          '38.292500',
          '38.395000',
          '38.584999',
          '38.474998',
          '38.755001',
          '38.812500',
          '38.797501',
          '36.435001',
          '36.790001',
          '36.875000',
          '35.830002',
          '35.945000',
          '35.915001',
          '36.717499',
          '36.380001',
          '36.442501',
          '36.282501',
          '36.792500',
          '36.252499',
          '36.122501',
          '36.177502',
          '36.112499',
          '36.220001',
          '35.922501',
          '35.755001',
          '35.724998',
          '36.027500',
          '36.182499',
          '36.467499',
          '36.375000',
          '36.992500',
          '37.205002',
          '37.299999',
          '37.619999',
          '37.875000',
          '37.497501',
          '37.645000',
          '37.950001',
          '38.337502',
          '38.437500',
          '37.472500',
          '37.474998',
          '37.275002',
          '39.820000',
          '39.262501',
          '39.017502',
          '39.264999',
          '39.650002',
          '39.814999',
          '39.974998',
          '39.150002',
          '39.830002',
          '40.165001',
          '40.485001',
          '40.130001',
          '39.465000',
          '39.375000',
          '39.557499',
          '39.767502',
          '40.107498',
          '39.912498',
          '40.035000',
          '40.025002',
          '40.950001',
          '40.910000',
          '41.200001',
          '40.937500',
          '40.677502',
          '40.522499',
          '40.215000',
          '40.125000',
          '40.652500',
          '39.967499',
          '39.747501',
          '39.617500',
          '40.027500',
          '39.877499',
          '39.474998',
          '38.950001',
          '37.884998',
          '37.497501',
          '37.945000',
          '38.450001',
          '38.472500',
          '38.302502',
          '38.564999',
          '38.502499',
          '38.407501',
          '38.544998',
          '38.742500',
          '38.952499',
          '39.014999',
          '38.992500',
          '39.087502',
          '39.182499',
          '39.474998',
          '39.945000',
          '40.105000',
          '39.187500',
          '39.152500',
          '39.222500',
          '39.072498',
          '39.227501',
          '39.307499',
          '39.822498',
          '40.972500',
          '41.974998',
          '42.467499',
          '41.650002',
          '43.500000',
          '43.092499',
          '43.477501',
          '43.665001',
          '43.777500',
          '43.777500',
          '43.375000',
          '43.259998',
          '42.492500',
          '42.794998',
          '42.759998',
          '42.572498',
          '42.695000',
          '43.340000',
          '43.775002',
          '43.762501',
          '43.575001',
          '43.157501',
          '42.607498',
          '42.487499',
          '43.119999',
          '42.264999',
          '41.875000',
          '42.257500',
          '42.622501',
          '42.299999',
          '43.037498',
          '43.125000',
          '43.099998',
          '43.407501',
          '43.720001',
          '43.757500',
          '43.717499',
          '43.542500',
          '43.669998',

          '94.839996',
          '98.989998',
          '96.562500',
          '96.987503',
          '96.417503',
          '99.172501',
          '96.692497',
          '96.997498',
          '90.987503',
          '93.709999',
          '94.367500',
          '93.750000',
          '94.187500',
          '102.885002',
          '108.199997',
          '109.132500',
          '109.377502',
          '110.404999',
          '113.205002',
          '112.599998',
          '111.970001',
          '110.497498',
          '114.430000',
          '114.830002',
          '116.062500',
          '114.352501',
          '115.982498',
          '115.750000',
          '119.262497',
          '128.697495',
          '124.697502',
          '126.180000',
          '127.142502',
          '126.012497',
          '127.580002',
          '132.759995',
          '137.589996',
          '126.910004',
          '120.070000',
          '113.949997',
          '117.260002',
          '120.360001',
          '114.570000',
          '114.720001',
          '118.330002',
          '115.230003',
          '109.720001',
          '110.400002',
          '104.540001',
          '112.680000',
          '111.620003',
          '105.169998',
          '108.430000',
          '115.010002',
          '114.550003',
          '113.790001',
          '117.639999',
          '112.889999',
          '113.910004',
          '115.699997',
          '114.620003',
          '116.250000',
          '115.279999',
          '120.059998',
          '125.269997',
          '121.000000',
          '118.720001',
          '121.279999',
          '119.959999',
          '116.199997',
          '116.669998',
          '117.449997',
          '116.389999',
          '114.010002',
          '115.489998',
          '115.050003',
          '112.370003',
          '111.059998',
          '109.110001',
          '109.660004',
          '114.139999',
          '117.949997',
          '118.320000',
          '120.500000',
          '115.550003',
          '117.190002',
          '119.620003',
          '119.440002',
          '118.919998',
          '119.550003',
          '118.610001',
          '117.589996',
          '118.639999',
          '117.180000',
          '113.910004',
          '115.550003',
          '116.570000',
          '116.970001',
          '121.010002',
          '122.019997',
          '123.519997',
          '122.599998',
          '122.309998',
          '124.370003',
          '124.529999',
          '120.500000',
          '122.430000',
          '122.599998',
          '124.339996',
          '127.410004',
          '128.899994',
          '128.960007',
          '125.019997',
          '131.610001',
          '132.160004',
          '131.320007',
          '133.990005',
          '138.050003',
          '135.580002',
          '134.080002',
          '133.520004',
          '128.889999',
          '127.720001',
          '128.360001',
          '132.429993',
          '129.190002',
          '128.500000',
          '128.759995',
          '130.800003',
          '128.779999',
          '127.779999',
          '128.660004',
          '133.800003',
          '136.279999',
          '143.070007',
          '143.600006',
          '143.429993',
          '139.520004',
          '135.830002',
          '133.750000',
          '135.729996',
          '135.759995',
          '136.300003',
          '137.350006',
          '136.029999',
          '136.619995',
          '136.479996',
          '135.899994',
          '134.350006',
          '135.490005',
          '131.250000',
          '129.199997',
          '130.240005',
          '128.009995',
          '123.760002',
          '124.940002',
          '124.680000',
          '122.589996',
          '123.750000',
          '128.410004',
          '124.809998',
          '121.750000',
          '120.980003',
          '120.930000',
          '119.029999',
          '121.690002',
          '122.540001',
          '120.400002',
          '121.410004',
          '125.699997',
          '124.050003',
          '122.879997',
          '119.900002',
          '120.330002',
          '123.330002',
          '122.820000',
          '119.540001',
          '120.349998',
          '121.650002',
          '120.110001',
          '121.650002',
          '123.660004',
          '123.870003',
          '126.500000',
          '125.830002',
          '128.949997',
          '129.800003',
          '132.520004',
          '132.440002',
          '134.940002',
          '133.820007',
          '134.300003',
          '133.509995',
          '135.020004',
          '132.360001',
          '133.039993',
          '132.160004',
          '134.830002',
          '135.009995',
          '134.309998',
          '136.470001',
          '131.779999',
          '132.039993',
          '131.190002',
          '129.199997',
          '127.889999',
          '130.850006',
          '129.410004',
          '123.500000',
          '123.400002',
          '124.580002',
          '126.250000',
          '126.820000',
          '126.559998',
          '123.160004',
          '125.230003',
          '127.820000',
          '126.010002',
          '127.820000',
          '126.959999',
          '126.440002',
          '125.570000',
          '125.080002',
          '124.279999',
          '124.680000',
          '124.070000',
          '126.169998',
          '126.599998',
          '127.209999',
          '127.019997',
          '126.529999',
          '127.820000',
          '129.940002',
          '130.369995',
          '129.800003',
          '130.710007',
          '130.300003',
          '132.130005',
          '133.770004',
          '134.449997',
          '133.460007',
          '133.410004',
          '134.800003',
          '136.169998',
          '136.600006',
          '137.899994',
          '140.070007',
          '143.539993',
          '141.580002',
          '142.750000',
          '146.210007',
          '144.029999',
          '148.100006',
          '149.240005',
          '148.460007',
          '143.750000',
          '143.460007',
          '145.529999',
          '145.940002',
          '147.550003',
          '148.270004',
          '149.119995',
          '144.809998',
          '144.690002',
          '144.380005',
          '146.360001',
          '145.809998',
          '147.270004',
          '146.979996',
          '146.350006',
          '146.199997',
          '146.440002',
          '146.050003',
          '146.190002',
          '148.970001',
          '148.539993',
          '150.229996',
          '149.800003',
          '145.029999',
          '147.440002',
          '148.309998',
          '149.449997',
          '149.809998',
          '148.350006',
          '147.479996',
          '149.000000',
          '152.660004',
          '152.830002',
          '153.869995',
          '153.759995',
          '154.970001',
          '156.979996',
          '155.490005',
          '155.000000',
          '150.630005',
          '150.350006',
          '148.559998',
          '148.440002',
          '148.820007',
          '143.800003',
          '143.929993',
          '144.449997',
          '146.649994',
          '145.660004',
          '145.470001',
          '143.250000',
          '142.470001',
          '143.660004',
          '141.899994',
          '141.759995',
          '139.490005',
          '139.470001',
          '143.059998',
          '144.029999',
          '142.270004',
          '143.229996',
          '141.240005',
          '142.110001',
          '143.770004',
          '143.449997',
          '147.009995',
          '148.699997',
          '148.809998',
          '149.690002',
          '148.679993',
          '149.330002',
          '149.360001',
          '149.820007',
          '147.220001',
          '148.990005',
          '148.660004',
          '150.389999',
          '151.580002',
          '151.889999',
          '151.410004',
          '150.199997',
          '150.020004',
          '148.960007',
          '148.429993',
          '150.369995',
          '149.940002',
          '151.000000',
          '153.710007',
          '157.649994',
          '161.679993',
          '161.119995',
          '160.750000',
          '159.570007',
          '159.369995',
          '159.990005',
          '167.479996',
          '158.740005',
          '164.020004',
          '164.289993',
          '169.080002',
          '172.130005',
          '174.910004',
          '175.210007',
          '181.119995',
          '175.250000',
          '175.110001',
          '179.279999',
          '169.929993',
          '168.279999',
          '171.559998',
          '173.039993',
          '175.850006',
          '177.089996',
          '180.160004',
          '179.330002',
          '179.470001',
          '178.089996',
          '177.830002',
          '182.630005',
          '179.610001',
          '172.699997',
          '172.889999',
          '169.080002',
          '172.320007',
          '176.119995',
          '175.779999',
          '171.339996',
          '171.509995',
          '170.000000',
          '166.979996',
          '164.419998',
          '160.020004',
          '158.979996',
          '163.500000',
          '162.449997',
          '165.710007',
          '170.160004',
          '174.009995',
          '174.750000',
          '174.479996',
          '171.679993',
          '172.860001',
          '171.729996',
          '176.050003',
          '174.139999',
          '172.330002',
          '167.369995',
          '170.970001',
          '171.850006',
          '171.029999',
          '169.820007',
          '164.979996',
          '165.539993',
          '152.580002',
          '163.839996',
          '163.059998',
          '164.699997',
          '164.389999',
          '168.470001',
          '164.490005',
          '163.360001',
          '158.820007',
          '161.479996',
          '160.199997',
          '158.929993',
          '151.449997',
          '150.899994',
          '157.050003',
          '158.610001',
          '160.509995',
          '163.509995',
          '165.509995',
          '167.990005',
          '171.059998',
          '173.880005',
          '172.169998',
          '176.690002',
          '178.550003',
          '177.839996',
          '174.029999',
          '174.570007',
          '177.500000',
          '172.360001',
          '171.160004',
          '171.779999',
          '168.710007',
          '168.020004',
          '167.389999',
          '170.619995',
          '163.919998',
          '165.020004',
          '168.759995',
          '168.910004',
          '166.460007',
          '161.119995',
          '162.250000',
          '155.910004',
          '159.250000',
          '161.839996',
          '156.710007',
          '158.149994',
          '159.669998',
          '163.850006',
          '156.009995',
          '154.929993',
          '155.520004',
          '153.500000',
          '142.770004',
          '144.589996',
          '145.550003',
          '148.860001',
          '146.850006',
          '139.880005',
          '139.089996',
          '137.789993',
          '140.809998',
          '138.429993',
          '137.389999',
          '145.389999',
          '149.070007',
          '149.899994',
          '147.830002',
          '146.899994',
          '147.029999',
          '144.350006',
          '148.580002',
          '147.080002',
          '140.279999',
          '132.869995',
          '133.130005',
          '134.289993',
          '132.080002',
          '130.070007',
          '133.419998',
          '134.789993',
          '136.820007',
          '139.899994',
          '142.699997',
          '142.130005',
          '137.460007',
          '137.250000',
          '136.039993',
          '137.770004',
          '141.350006',
          '143.289993',
          '145.259995',
          '145.669998',
          '145.759995',
          '142.990005',
          '144.080002',
          '149.779999',
          '150.740005',
          '147.919998',
          '151.119995',
          '154.500000',
          '155.389999',
          '154.009995',
          '152.259995',
          '152.580002',
          '156.979996',
          '161.240005',
          '161.009995',
          '160.100006',
          '160.839996',
          '166.009995',
          '163.210007',
          '166.369995',
          '164.020004',
          '167.679993',
          '170.059998',
          '169.820007',
          '171.520004',
          '172.779999',
          '172.770004',
          '173.750000',
          '173.029999',
          '169.690002',
          '167.080002',
          '167.320007']}

# Transform your data

In [38]:
#load your datas
date = []
open_list = []
high = []
with open(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\lects\lect1\Apple_price_csv.csv", 'r') as f:
    csv_file = csv.reader(f)
    for row in csv_file:
        date.append(row[0])
        open_list.append(row[1])
        high.append(row[2])
print(open_list[:10])

['Open', '27.777500', '26.772499', '28.057501', '28.042500', '28.007500', '27.537500', '27.557501', '28.122499', '27.242500']

In [40]:
#Float function for string to number
print(open_list[:10])
open_list = [float(i) for i in open_list[1:]]
# #OR :
# open_list = []
# for i in range(1,len(open_list)):
#     open_list[i] = float(open_list[i])
print(open_list[:10])

[27.7775, 26.772499, 28.057501, 28.0425, 28.0075, 27.5375, 27.557501, 28.122499, 27.2425, 27.9375]
[26.772499, 28.057501, 28.0425, 28.0075, 27.5375, 27.557501, 28.122499, 27.2425, 27.9375, 28.440001]

In [43]:
#Datetime package for string to time
import datetime
print(date[1])
print(type(date[1]))
date_transform = datetime.datetime.strptime(date[1], '%Y-%m-%d')
print(date_transform)

2015-08-25
<class 'str'>
2015-08-25 00:00:00

In [45]:
a = "12-01-2020 02:05"
date_transform = datetime.datetime.strptime(a, '%m-%d-%Y %H:%M')
print(date_transform)

2020-12-01 02:05:00

In [46]:
#do that for all list
date_modified = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in date[1:]]
print(date_modified)

[datetime.datetime(2015, 8, 25, 0, 0), datetime.datetime(2015, 8, 26, 0, 0), datetime.datetime(2015, 8, 27, 0, 0), datetime.datetime(2015, 8, 28, 0, 0), datetime.datetime(2015, 8, 31, 0, 0), datetime.datetime(2015, 9, 1, 0, 0), datetime.datetime(2015, 9, 2, 0, 0), datetime.datetime(2015, 9, 3, 0, 0), datetime.datetime(2015, 9, 4, 0, 0), datetime.datetime(2015, 9, 8, 0, 0), datetime.datetime(2015, 9, 9, 0, 0), datetime.datetime(2015, 9, 10, 0, 0), datetime.datetime(2015, 9, 11, 0, 0), datetime.datetime(2015, 9, 14, 0, 0), datetime.datetime(2015, 9, 15, 0, 0), datetime.datetime(2015, 9, 16, 0, 0), datetime.datetime(2015, 9, 17, 0, 0), datetime.datetime(2015, 9, 18, 0, 0), datetime.datetime(2015, 9, 21, 0, 0), datetime.datetime(2015, 9, 22, 0, 0), datetime.datetime(2015, 9, 23, 0, 0), datetime.datetime(2015, 9, 24, 0, 0), datetime.datetime(2015, 9, 25, 0, 0), datetime.datetime(2015, 9, 28, 0, 0), datetime.datetime(2015, 9, 29, 0, 0), datetime.datetime(2015, 9, 30, 0, 0), datetime.datetime(2015, 10, 1, 0, 0), datetime.datetime(2015, 10, 2, 0, 0), datetime.datetime(2015, 10, 5, 0, 0), datetime.datetime(2015, 10, 6, 0, 0), datetime.datetime(2015, 10, 7, 0, 0), datetime.datetime(2015, 10, 8, 0, 0), datetime.datetime(2015, 10, 9, 0, 0), datetime.datetime(2015, 10, 12, 0, 0), datetime.datetime(2015, 10, 13, 0, 0), datetime.datetime(2015, 10, 14, 0, 0), datetime.datetime(2015, 10, 15, 0, 0), datetime.datetime(2015, 10, 16, 0, 0), datetime.datetime(2015, 10, 19, 0, 0), datetime.datetime(2015, 10, 20, 0, 0), datetime.datetime(2015, 10, 21, 0, 0), datetime.datetime(2015, 10, 22, 0, 0), datetime.datetime(2015, 10, 23, 0, 0), datetime.datetime(2015, 10, 26, 0, 0), datetime.datetime(2015, 10, 27, 0, 0), datetime.datetime(2015, 10, 28, 0, 0), datetime.datetime(2015, 10, 29, 0, 0), datetime.datetime(2015, 10, 30, 0, 0), datetime.datetime(2015, 11, 2, 0, 0), datetime.datetime(2015, 11, 3, 0, 0), datetime.datetime(2015, 11, 4, 0, 0), datetime.datetime(2015, 11, 5, 0, 0), datetime.datetime(2015, 11, 6, 0, 0), datetime.datetime(2015, 11, 9, 0, 0), datetime.datetime(2015, 11, 10, 0, 0), datetime.datetime(2015, 11, 11, 0, 0), datetime.datetime(2015, 11, 12, 0, 0), datetime.datetime(2015, 11, 13, 0, 0), datetime.datetime(2015, 11, 16, 0, 0), datetime.datetime(2015, 11, 17, 0, 0), datetime.datetime(2015, 11, 18, 0, 0), datetime.datetime(2015, 11, 19, 0, 0), datetime.datetime(2015, 11, 20, 0, 0), datetime.datetime(2015, 11, 23, 0, 0), datetime.datetime(2015, 11, 24, 0, 0), datetime.datetime(2015, 11, 25, 0, 0), datetime.datetime(2015, 11, 27, 0, 0), datetime.datetime(2015, 11, 30, 0, 0), datetime.datetime(2015, 12, 1, 0, 0), datetime.datetime(2015, 12, 2, 0, 0), datetime.datetime(2015, 12, 3, 0, 0), datetime.datetime(2015, 12, 4, 0, 0), datetime.datetime(2015, 12, 7, 0, 0), datetime.datetime(2015, 12, 8, 0, 0), datetime.datetime(2015, 12, 9, 0, 0), datetime.datetime(2015, 12, 10, 0, 0), datetime.datetime(2015, 12, 11, 0, 0), datetime.datetime(2015, 12, 14, 0, 0), datetime.datetime(2015, 12, 15, 0, 0), datetime.datetime(2015, 12, 16, 0, 0), datetime.datetime(2015, 12, 17, 0, 0), datetime.datetime(2015, 12, 18, 0, 0), datetime.datetime(2015, 12, 21, 0, 0), datetime.datetime(2015, 12, 22, 0, 0), datetime.datetime(2015, 12, 23, 0, 0), datetime.datetime(2015, 12, 24, 0, 0), datetime.datetime(2015, 12, 28, 0, 0), datetime.datetime(2015, 12, 29, 0, 0), datetime.datetime(2015, 12, 30, 0, 0), datetime.datetime(2015, 12, 31, 0, 0), datetime.datetime(2016, 1, 4, 0, 0), datetime.datetime(2016, 1, 5, 0, 0), datetime.datetime(2016, 1, 6, 0, 0), datetime.datetime(2016, 1, 7, 0, 0), datetime.datetime(2016, 1, 8, 0, 0), datetime.datetime(2016, 1, 11, 0, 0), datetime.datetime(2016, 1, 12, 0, 0), datetime.datetime(2016, 1, 13, 0, 0), datetime.datetime(2016, 1, 14, 0, 0), datetime.datetime(2016, 1, 15, 0, 0), datetime.datetime(2016, 1, 19, 0, 0), datetime.datetime(2016, 1, 20, 0, 0), datetime.datetime(2016, 1, 21, 0, 0), datetime.datetime(2016, 1, 22, 0, 0), datetime.datetime(2016, 1, 25, 0, 0), datetime.datetime(2016, 1, 26, 0, 0), datetime.datetime(2016, 1, 27, 0, 0), datetime.datetime(2016, 1, 28, 0, 0), datetime.datetime(2016, 1, 29, 0, 0), datetime.datetime(2016, 2, 1, 0, 0), datetime.datetime(2016, 2, 2, 0, 0), datetime.datetime(2016, 2, 3, 0, 0), datetime.datetime(2016, 2, 4, 0, 0), datetime.datetime(2016, 2, 5, 0, 0), datetime.datetime(2016, 2, 8, 0, 0), datetime.datetime(2016, 2, 9, 0, 0), datetime.datetime(2016, 2, 10, 0, 0), datetime.datetime(2016, 2, 11, 0, 0), datetime.datetime(2016, 2, 12, 0, 0), datetime.datetime(2016, 2, 16, 0, 0), datetime.datetime(2016, 2, 17, 0, 0), datetime.datetime(2016, 2, 18, 0, 0), datetime.datetime(2016, 2, 19, 0, 0), datetime.datetime(2016, 2, 22, 0, 0), datetime.datetime(2016, 2, 23, 0, 0), datetime.datetime(2016, 2, 24, 0, 0), datetime.datetime(2016, 2, 25, 0, 0), datetime.datetime(2016, 2, 26, 0, 0), datetime.datetime(2016, 2, 29, 0, 0), datetime.datetime(2016, 3, 1, 0, 0), datetime.datetime(2016, 3, 2, 0, 0), datetime.datetime(2016, 3, 3, 0, 0), datetime.datetime(2016, 3, 4, 0, 0), datetime.datetime(2016, 3, 7, 0, 0), datetime.datetime(2016, 3, 8, 0, 0), datetime.datetime(2016, 3, 9, 0, 0), datetime.datetime(2016, 3, 10, 0, 0), datetime.datetime(2016, 3, 11, 0, 0), datetime.datetime(2016, 3, 14, 0, 0), datetime.datetime(2016, 3, 15, 0, 0), datetime.datetime(2016, 3, 16, 0, 0), datetime.datetime(2016, 3, 17, 0, 0), datetime.datetime(2016, 3, 18, 0, 0), datetime.datetime(2016, 3, 21, 0, 0), datetime.datetime(2016, 3, 22, 0, 0), datetime.datetime(2016, 3, 23, 0, 0), datetime.datetime(2016, 3, 24, 0, 0), datetime.datetime(2016, 3, 28, 0, 0), datetime.datetime(2016, 3, 29, 0, 0), datetime.datetime(2016, 3, 30, 0, 0), datetime.datetime(2016, 3, 31, 0, 0), datetime.datetime(2016, 4, 1, 0, 0), datetime.datetime(2016, 4, 4, 0, 0), datetime.datetime(2016, 4, 5, 0, 0), datetime.datetime(2016, 4, 6, 0, 0), datetime.datetime(2016, 4, 7, 0, 0), datetime.datetime(2016, 4, 8, 0, 0), datetime.datetime(2016, 4, 11, 0, 0), datetime.datetime(2016, 4, 12, 0, 0), datetime.datetime(2016, 4, 13, 0, 0), datetime.datetime(2016, 4, 14, 0, 0), datetime.datetime(2016, 4, 15, 0, 0), datetime.datetime(2016, 4, 18, 0, 0), datetime.datetime(2016, 4, 19, 0, 0), datetime.datetime(2016, 4, 20, 0, 0), datetime.datetime(2016, 4, 21, 0, 0), datetime.datetime(2016, 4, 22, 0, 0), datetime.datetime(2016, 4, 25, 0, 0), datetime.datetime(2016, 4, 26, 0, 0), datetime.datetime(2016, 4, 27, 0, 0), datetime.datetime(2016, 4, 28, 0, 0), datetime.datetime(2016, 4, 29, 0, 0), datetime.datetime(2016, 5, 2, 0, 0), datetime.datetime(2016, 5, 3, 0, 0), datetime.datetime(2016, 5, 4, 0, 0), datetime.datetime(2016, 5, 5, 0, 0), datetime.datetime(2016, 5, 6, 0, 0), datetime.datetime(2016, 5, 9, 0, 0), datetime.datetime(2016, 5, 10, 0, 0), datetime.datetime(2016, 5, 11, 0, 0), datetime.datetime(2016, 5, 12, 0, 0), datetime.datetime(2016, 5, 13, 0, 0), datetime.datetime(2016, 5, 16, 0, 0), datetime.datetime(2016, 5, 17, 0, 0), datetime.datetime(2016, 5, 18, 0, 0), datetime.datetime(2016, 5, 19, 0, 0), datetime.datetime(2016, 5, 20, 0, 0), datetime.datetime(2016, 5, 23, 0, 0), datetime.datetime(2016, 5, 24, 0, 0), datetime.datetime(2016, 5, 25, 0, 0), datetime.datetime(2016, 5, 26, 0, 0), datetime.datetime(2016, 5, 27, 0, 0), datetime.datetime(2016, 5, 31, 0, 0), datetime.datetime(2016, 6, 1, 0, 0), datetime.datetime(2016, 6, 2, 0, 0), datetime.datetime(2016, 6, 3, 0, 0), datetime.datetime(2016, 6, 6, 0, 0), datetime.datetime(2016, 6, 7, 0, 0), datetime.datetime(2016, 6, 8, 0, 0), datetime.datetime(2016, 6, 9, 0, 0), datetime.datetime(2016, 6, 10, 0, 0), datetime.datetime(2016, 6, 13, 0, 0), datetime.datetime(2016, 6, 14, 0, 0), datetime.datetime(2016, 6, 15, 0, 0), datetime.datetime(2016, 6, 16, 0, 0), datetime.datetime(2016, 6, 17, 0, 0), datetime.datetime(2016, 6, 20, 0, 0), datetime.datetime(2016, 6, 21, 0, 0), datetime.datetime(2016, 6, 22, 0, 0), datetime.datetime(2016, 6, 23, 0, 0), datetime.datetime(2016, 6, 24, 0, 0), datetime.datetime(2016, 6, 27, 0, 0), datetime.datetime(2016, 6, 28, 0, 0), datetime.datetime(2016, 6, 29, 0, 0), datetime.datetime(2016, 6, 30, 0, 0), datetime.datetime(2016, 7, 1, 0, 0), datetime.datetime(2016, 7, 5, 0, 0), datetime.datetime(2016, 7, 6, 0, 0), datetime.datetime(2016, 7, 7, 0, 0), datetime.datetime(2016, 7, 8, 0, 0), datetime.datetime(2016, 7, 11, 0, 0), datetime.datetime(2016, 7, 12, 0, 0), datetime.datetime(2016, 7, 13, 0, 0), datetime.datetime(2016, 7, 14, 0, 0), datetime.datetime(2016, 7, 15, 0, 0), datetime.datetime(2016, 7, 18, 0, 0), datetime.datetime(2016, 7, 19, 0, 0), datetime.datetime(2016, 7, 20, 0, 0), datetime.datetime(2016, 7, 21, 0, 0), datetime.datetime(2016, 7, 22, 0, 0), datetime.datetime(2016, 7, 25, 0, 0), datetime.datetime(2016, 7, 26, 0, 0), datetime.datetime(2016, 7, 27, 0, 0), datetime.datetime(2016, 7, 28, 0, 0), datetime.datetime(2016, 7, 29, 0, 0), datetime.datetime(2016, 8, 1, 0, 0), datetime.datetime(2016, 8, 2, 0, 0), datetime.datetime(2016, 8, 3, 0, 0), datetime.datetime(2016, 8, 4, 0, 0), datetime.datetime(2016, 8, 5, 0, 0), datetime.datetime(2016, 8, 8, 0, 0), datetime.datetime(2016, 8, 9, 0, 0), datetime.datetime(2016, 8, 10, 0, 0), datetime.datetime(2016, 8, 11, 0, 0), datetime.datetime(2016, 8, 12, 0, 0), datetime.datetime(2016, 8, 15, 0, 0), datetime.datetime(2016, 8, 16, 0, 0), datetime.datetime(2016, 8, 17, 0, 0), datetime.datetime(2016, 8, 18, 0, 0), datetime.datetime(2016, 8, 19, 0, 0), datetime.datetime(2016, 8, 22, 0, 0), datetime.datetime(2016, 8, 23, 0, 0), datetime.datetime(2016, 8, 24, 0, 0), datetime.datetime(2016, 8, 25, 0, 0), datetime.datetime(2016, 8, 26, 0, 0), datetime.datetime(2016, 8, 29, 0, 0), datetime.datetime(2016, 8, 30, 0, 0), datetime.datetime(2016, 8, 31, 0, 0), datetime.datetime(2016, 9, 1, 0, 0), datetime.datetime(2016, 9, 2, 0, 0), datetime.datetime(2016, 9, 6, 0, 0), datetime.datetime(2016, 9, 7, 0, 0), datetime.datetime(2016, 9, 8, 0, 0), datetime.datetime(2016, 9, 9, 0, 0), datetime.datetime(2016, 9, 12, 0, 0), datetime.datetime(2016, 9, 13, 0, 0), datetime.datetime(2016, 9, 14, 0, 0), datetime.datetime(2016, 9, 15, 0, 0), datetime.datetime(2016, 9, 16, 0, 0), datetime.datetime(2016, 9, 19, 0, 0), datetime.datetime(2016, 9, 20, 0, 0), datetime.datetime(2016, 9, 21, 0, 0), datetime.datetime(2016, 9, 22, 0, 0), datetime.datetime(2016, 9, 23, 0, 0), datetime.datetime(2016, 9, 26, 0, 0), datetime.datetime(2016, 9, 27, 0, 0), datetime.datetime(2016, 9, 28, 0, 0), datetime.datetime(2016, 9, 29, 0, 0), datetime.datetime(2016, 9, 30, 0, 0), datetime.datetime(2016, 10, 3, 0, 0), datetime.datetime(2016, 10, 4, 0, 0), datetime.datetime(2016, 10, 5, 0, 0), datetime.datetime(2016, 10, 6, 0, 0), datetime.datetime(2016, 10, 7, 0, 0), datetime.datetime(2016, 10, 10, 0, 0), datetime.datetime(2016, 10, 11, 0, 0), datetime.datetime(2016, 10, 12, 0, 0), datetime.datetime(2016, 10, 13, 0, 0), datetime.datetime(2016, 10, 14, 0, 0), datetime.datetime(2016, 10, 17, 0, 0), datetime.datetime(2016, 10, 18, 0, 0), datetime.datetime(2016, 10, 19, 0, 0), datetime.datetime(2016, 10, 20, 0, 0), datetime.datetime(2016, 10, 21, 0, 0), datetime.datetime(2016, 10, 24, 0, 0), datetime.datetime(2016, 10, 25, 0, 0), datetime.datetime(2016, 10, 26, 0, 0), datetime.datetime(2016, 10, 27, 0, 0), datetime.datetime(2016, 10, 28, 0, 0), datetime.datetime(2016, 10, 31, 0, 0), datetime.datetime(2016, 11, 1, 0, 0), datetime.datetime(2016, 11, 2, 0, 0), datetime.datetime(2016, 11, 3, 0, 0), datetime.datetime(2016, 11, 4, 0, 0), datetime.datetime(2016, 11, 7, 0, 0), datetime.datetime(2016, 11, 8, 0, 0), datetime.datetime(2016, 11, 9, 0, 0), datetime.datetime(2016, 11, 10, 0, 0), datetime.datetime(2016, 11, 11, 0, 0), datetime.datetime(2016, 11, 14, 0, 0), datetime.datetime(2016, 11, 15, 0, 0), datetime.datetime(2016, 11, 16, 0, 0), datetime.datetime(2016, 11, 17, 0, 0), datetime.datetime(2016, 11, 18, 0, 0), datetime.datetime(2016, 11, 21, 0, 0), datetime.datetime(2016, 11, 22, 0, 0), datetime.datetime(2016, 11, 23, 0, 0), datetime.datetime(2016, 11, 25, 0, 0), datetime.datetime(2016, 11, 28, 0, 0), datetime.datetime(2016, 11, 29, 0, 0), datetime.datetime(2016, 11, 30, 0, 0), datetime.datetime(2016, 12, 1, 0, 0), datetime.datetime(2016, 12, 2, 0, 0), datetime.datetime(2016, 12, 5, 0, 0), datetime.datetime(2016, 12, 6, 0, 0), datetime.datetime(2016, 12, 7, 0, 0), datetime.datetime(2016, 12, 8, 0, 0), datetime.datetime(2016, 12, 9, 0, 0), datetime.datetime(2016, 12, 12, 0, 0), datetime.datetime(2016, 12, 13, 0, 0), datetime.datetime(2016, 12, 14, 0, 0), datetime.datetime(2016, 12, 15, 0, 0), datetime.datetime(2016, 12, 16, 0, 0), datetime.datetime(2016, 12, 19, 0, 0), datetime.datetime(2016, 12, 20, 0, 0), datetime.datetime(2016, 12, 21, 0, 0), datetime.datetime(2016, 12, 22, 0, 0), datetime.datetime(2016, 12, 23, 0, 0), datetime.datetime(2016, 12, 27, 0, 0), datetime.datetime(2016, 12, 28, 0, 0), datetime.datetime(2016, 12, 29, 0, 0), datetime.datetime(2016, 12, 30, 0, 0), datetime.datetime(2017, 1, 3, 0, 0), datetime.datetime(2017, 1, 4, 0, 0), datetime.datetime(2017, 1, 5, 0, 0), datetime.datetime(2017, 1, 6, 0, 0), datetime.datetime(2017, 1, 9, 0, 0), datetime.datetime(2017, 1, 10, 0, 0), datetime.datetime(2017, 1, 11, 0, 0), datetime.datetime(2017, 1, 12, 0, 0), datetime.datetime(2017, 1, 13, 0, 0), datetime.datetime(2017, 1, 17, 0, 0), datetime.datetime(2017, 1, 18, 0, 0), datetime.datetime(2017, 1, 19, 0, 0), datetime.datetime(2017, 1, 20, 0, 0), datetime.datetime(2017, 1, 23, 0, 0), datetime.datetime(2017, 1, 24, 0, 0), datetime.datetime(2017, 1, 25, 0, 0), datetime.datetime(2017, 1, 26, 0, 0), datetime.datetime(2017, 1, 27, 0, 0), datetime.datetime(2017, 1, 30, 0, 0), datetime.datetime(2017, 1, 31, 0, 0), datetime.datetime(2017, 2, 1, 0, 0), datetime.datetime(2017, 2, 2, 0, 0), datetime.datetime(2017, 2, 3, 0, 0), datetime.datetime(2017, 2, 6, 0, 0), datetime.datetime(2017, 2, 7, 0, 0), datetime.datetime(2017, 2, 8, 0, 0), datetime.datetime(2017, 2, 9, 0, 0), datetime.datetime(2017, 2, 10, 0, 0), datetime.datetime(2017, 2, 13, 0, 0), datetime.datetime(2017, 2, 14, 0, 0), datetime.datetime(2017, 2, 15, 0, 0), datetime.datetime(2017, 2, 16, 0, 0), datetime.datetime(2017, 2, 17, 0, 0), datetime.datetime(2017, 2, 21, 0, 0), datetime.datetime(2017, 2, 22, 0, 0), datetime.datetime(2017, 2, 23, 0, 0), datetime.datetime(2017, 2, 24, 0, 0), datetime.datetime(2017, 2, 27, 0, 0), datetime.datetime(2017, 2, 28, 0, 0), datetime.datetime(2017, 3, 1, 0, 0), datetime.datetime(2017, 3, 2, 0, 0), datetime.datetime(2017, 3, 3, 0, 0), datetime.datetime(2017, 3, 6, 0, 0), datetime.datetime(2017, 3, 7, 0, 0), datetime.datetime(2017, 3, 8, 0, 0), datetime.datetime(2017, 3, 9, 0, 0), datetime.datetime(2017, 3, 10, 0, 0), datetime.datetime(2017, 3, 13, 0, 0), datetime.datetime(2017, 3, 14, 0, 0), datetime.datetime(2017, 3, 15, 0, 0), datetime.datetime(2017, 3, 16, 0, 0), datetime.datetime(2017, 3, 17, 0, 0), datetime.datetime(2017, 3, 20, 0, 0), datetime.datetime(2017, 3, 21, 0, 0), datetime.datetime(2017, 3, 22, 0, 0), datetime.datetime(2017, 3, 23, 0, 0), datetime.datetime(2017, 3, 24, 0, 0), datetime.datetime(2017, 3, 27, 0, 0), datetime.datetime(2017, 3, 28, 0, 0), datetime.datetime(2017, 3, 29, 0, 0), datetime.datetime(2017, 3, 30, 0, 0), datetime.datetime(2017, 3, 31, 0, 0), datetime.datetime(2017, 4, 3, 0, 0), datetime.datetime(2017, 4, 4, 0, 0), datetime.datetime(2017, 4, 5, 0, 0), datetime.datetime(2017, 4, 6, 0, 0), datetime.datetime(2017, 4, 7, 0, 0), datetime.datetime(2017, 4, 10, 0, 0), datetime.datetime(2017, 4, 11, 0, 0), datetime.datetime(2017, 4, 12, 0, 0), datetime.datetime(2017, 4, 13, 0, 0), datetime.datetime(2017, 4, 17, 0, 0), datetime.datetime(2017, 4, 18, 0, 0), datetime.datetime(2017, 4, 19, 0, 0), datetime.datetime(2017, 4, 20, 0, 0), datetime.datetime(2017, 4, 21, 0, 0), datetime.datetime(2017, 4, 24, 0, 0), datetime.datetime(2017, 4, 25, 0, 0), datetime.datetime(2017, 4, 26, 0, 0), datetime.datetime(2017, 4, 27, 0, 0), datetime.datetime(2017, 4, 28, 0, 0), datetime.datetime(2017, 5, 1, 0, 0), datetime.datetime(2017, 5, 2, 0, 0), datetime.datetime(2017, 5, 3, 0, 0), datetime.datetime(2017, 5, 4, 0, 0), datetime.datetime(2017, 5, 5, 0, 0), datetime.datetime(2017, 5, 8, 0, 0), datetime.datetime(2017, 5, 9, 0, 0), datetime.datetime(2017, 5, 10, 0, 0), datetime.datetime(2017, 5, 11, 0, 0), datetime.datetime(2017, 5, 12, 0, 0), datetime.datetime(2017, 5, 15, 0, 0), datetime.datetime(2017, 5, 16, 0, 0), datetime.datetime(2017, 5, 17, 0, 0), datetime.datetime(2017, 5, 18, 0, 0), datetime.datetime(2017, 5, 19, 0, 0), datetime.datetime(2017, 5, 22, 0, 0), datetime.datetime(2017, 5, 23, 0, 0), datetime.datetime(2017, 5, 24, 0, 0), datetime.datetime(2017, 5, 25, 0, 0), datetime.datetime(2017, 5, 26, 0, 0), datetime.datetime(2017, 5, 30, 0, 0), datetime.datetime(2017, 5, 31, 0, 0), datetime.datetime(2017, 6, 1, 0, 0), datetime.datetime(2017, 6, 2, 0, 0), datetime.datetime(2017, 6, 5, 0, 0), datetime.datetime(2017, 6, 6, 0, 0), datetime.datetime(2017, 6, 7, 0, 0), datetime.datetime(2017, 6, 8, 0, 0), datetime.datetime(2017, 6, 9, 0, 0), datetime.datetime(2017, 6, 12, 0, 0), datetime.datetime(2017, 6, 13, 0, 0), datetime.datetime(2017, 6, 14, 0, 0), datetime.datetime(2017, 6, 15, 0, 0), datetime.datetime(2017, 6, 16, 0, 0), datetime.datetime(2017, 6, 19, 0, 0), datetime.datetime(2017, 6, 20, 0, 0), datetime.datetime(2017, 6, 21, 0, 0), datetime.datetime(2017, 6, 22, 0, 0), datetime.datetime(2017, 6, 23, 0, 0), datetime.datetime(2017, 6, 26, 0, 0), datetime.datetime(2017, 6, 27, 0, 0), datetime.datetime(2017, 6, 28, 0, 0), datetime.datetime(2017, 6, 29, 0, 0), datetime.datetime(2017, 6, 30, 0, 0), datetime.datetime(2017, 7, 3, 0, 0), datetime.datetime(2017, 7, 5, 0, 0), datetime.datetime(2017, 7, 6, 0, 0), datetime.datetime(2017, 7, 7, 0, 0), datetime.datetime(2017, 7, 10, 0, 0), datetime.datetime(2017, 7, 11, 0, 0), datetime.datetime(2017, 7, 12, 0, 0), datetime.datetime(2017, 7, 13, 0, 0), datetime.datetime(2017, 7, 14, 0, 0), datetime.datetime(2017, 7, 17, 0, 0), datetime.datetime(2017, 7, 18, 0, 0), datetime.datetime(2017, 7, 19, 0, 0), datetime.datetime(2017, 7, 20, 0, 0), datetime.datetime(2017, 7, 21, 0, 0), datetime.datetime(2017, 7, 24, 0, 0), datetime.datetime(2017, 7, 25, 0, 0), datetime.datetime(2017, 7, 26, 0, 0), datetime.datetime(2017, 7, 27, 0, 0), datetime.datetime(2017, 7, 28, 0, 0), datetime.datetime(2017, 7, 31, 0, 0), datetime.datetime(2017, 8, 1, 0, 0), datetime.datetime(2017, 8, 2, 0, 0), datetime.datetime(2017, 8, 3, 0, 0), datetime.datetime(2017, 8, 4, 0, 0), datetime.datetime(2017, 8, 7, 0, 0), datetime.datetime(2017, 8, 8, 0, 0), datetime.datetime(2017, 8, 9, 0, 0), datetime.datetime(2017, 8, 10, 0, 0), datetime.datetime(2017, 8, 11, 0, 0), datetime.datetime(2017, 8, 14, 0, 0), datetime.datetime(2017, 8, 15, 0, 0), datetime.datetime(2017, 8, 16, 0, 0), datetime.datetime(2017, 8, 17, 0, 0), datetime.datetime(2017, 8, 18, 0, 0), datetime.datetime(2017, 8, 21, 0, 0), datetime.datetime(2017, 8, 22, 0, 0), datetime.datetime(2017, 8, 23, 0, 0), datetime.datetime(2017, 8, 24, 0, 0), datetime.datetime(2017, 8, 25, 0, 0), datetime.datetime(2017, 8, 28, 0, 0), datetime.datetime(2017, 8, 29, 0, 0), datetime.datetime(2017, 8, 30, 0, 0), datetime.datetime(2017, 8, 31, 0, 0), datetime.datetime(2017, 9, 1, 0, 0), datetime.datetime(2017, 9, 5, 0, 0), datetime.datetime(2017, 9, 6, 0, 0), datetime.datetime(2017, 9, 7, 0, 0), datetime.datetime(2017, 9, 8, 0, 0), datetime.datetime(2017, 9, 11, 0, 0), datetime.datetime(2017, 9, 12, 0, 0), datetime.datetime(2017, 9, 13, 0, 0), datetime.datetime(2017, 9, 14, 0, 0), datetime.datetime(2017, 9, 15, 0, 0), datetime.datetime(2017, 9, 18, 0, 0), datetime.datetime(2017, 9, 19, 0, 0), datetime.datetime(2017, 9, 20, 0, 0), datetime.datetime(2017, 9, 21, 0, 0), datetime.datetime(2017, 9, 22, 0, 0), datetime.datetime(2017, 9, 25, 0, 0), datetime.datetime(2017, 9, 26, 0, 0), d

# PANDAS

## Series

In [3]:
#import package
import pandas as pd

In [4]:
#Get the value of a column
values = ['Apple', 'Tesla', 'Microsoft']

In [5]:
#Create a serie
my_serie = pd.Series(values)
print(my_serie)

0        Apple
1        Tesla
2    Microsoft
dtype: object

In [6]:
#without specification, index are the label
print(my_serie[1])

Tesla

In [7]:
#But you can specify them
my_serie = pd.Series(values, index = ['x', 'y', 'z'])
print(my_serie)
print(my_serie['y'])

x        Apple
y        Tesla
z    Microsoft
dtype: object
Tesla

In [22]:
#Label is automatic from a dictionary
dictionary = {"day1" : 1000, "day2": 1100, "day3": 0}
my_serie = pd.Series(dictionary)
print(my_serie)

day1    1000
day2    1100
day3       0
dtype: int64

In [23]:
#You can choose the one you want to keep
my_serie = pd.Series(dictionary, index = ["day1", "day2"])
print(my_serie)

day1    1000
day2    1100
dtype: int64

## Create DataFrame

In [8]:
#You can create a DataFrame from a Serie
#Create an empty dataframe
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [9]:
#Add Series to the dataframe (index are kept)
dictionary = {"day1" : 1000, "day2": 1100, "day3": 0}
my_serie = pd.Series(dictionary)
df["My numbers"] = my_serie
print(df)
dictionary = {"day1" : 3265, "day2": 6354, "day3": 6463}
my_serie = pd.Series(dictionary)
df["My numbers 2"] = my_serie
print(df)

      My numbers
day1        1000
day2        1100
day3           0
      My numbers  My numbers 2
day1        1000          3265
day2        1100          6354
day3           0          6463

In [10]:
#From a dictionary
#Create the dataset you want to analyze
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'numbers': [3, 7, 2]
}

In [11]:
#Create a Dataframe from the dictionary 
my_df = pd.DataFrame(mydataset)
print(my_df)

    cars  numbers
0    BMW        3
1  Volvo        7
2   Ford        2

In [29]:
#You can locate a row (return a Serie)
print(my_df.loc[1])

cars       Volvo
numbers        7
Name: 1, dtype: object

In [63]:
#Or several row (return a dataframe)
print(my_df.loc[[1,2]])

    cars  numbers
1  Volvo        7
2   Ford        2

## Modify Indexes

In [35]:
#Create dataframe with indexes

df = pd.DataFrame({"Company" : ['Apple', 'Tesla', 'Microsoft'], "Creation" : [1976, 2003, 1975]}, 
                  index = ['favorite', 'so-so', 'Maybe'])
print(df)

            Company  Creation
favorite      Apple      1976
so-so         Tesla      2003
Maybe     Microsoft      1975

In [33]:
#Acces to a value with the index
print(df.loc['favorite'])

Company     Apple
Creation     1976
Name: favorite, dtype: object

# DataFrame for data science

In [38]:
#Read directly csv file to dataframes
df = pd.read_csv(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\lects\lect1\Apple_price_csv.csv")
# print(df)
df['2 times open'] = 2 * df['Open']
print(df)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-08-25   27.777500   27.777500   25.875000   25.934999   23.681032
1     2015-08-26   26.772499   27.472500   26.262501   27.422501   25.039267
2     2015-08-27   28.057501   28.309999   27.504999   28.230000   25.776581
3     2015-08-28   28.042500   28.327499   27.885000   28.322500   25.861042
4     2015-08-31   28.007500   28.632500   28.000000   28.190001   25.740063
...          ...         ...         ...         ...         ...         ...
1758  2022-08-18  173.750000  174.899994  173.119995  174.149994  174.149994
1759  2022-08-19  173.029999  173.740005  171.309998  171.520004  171.520004
1760  2022-08-22  169.690002  169.860001  167.139999  167.570007  167.570007
1761  2022-08-23  167.080002  168.710007  166.649994  167.229996  167.229996
1762  2022-08-24  167.320007  168.110001  166.250000  167.529999  167.529999

         Volume  2 times open
0     414406400     55.555000
1     387098400     53.544998
2     338464400     56.115002
3     212657600     56.085000
4     224917200     56.015000
...         ...           ...
1758   62290100    347.500000
1759   70211500    346.059998
1760   69026800    339.380004
1761   54147100    334.160004
1762   53766800    334.640014

[1763 rows x 8 columns]

In [39]:
#Read directly csv file to dataframes
df = pd.read_json(r"C:\Users\leila\OneDrive\Рабочий стол\IKT\lects\lect1\Example_json_data.json")
print(df)

                                            Indicator PUBLISH STATES  Year  \
0                    Life expectancy at birth (years)      Published  1990
1                    Life expectancy at birth (years)      Published  2000
2                   Life expectancy at age 60 (years)      Published  2012
3                   Life expectancy at age 60 (years)      Published  2000
4                    Life expectancy at birth (years)      Published  2012
...                                               ...            ...   ...
4651  Healthy life expectancy (HALE) at birth (years)      Published  2012
4652  Healthy life expectancy (HALE) at birth (years)      Published  2012
4653  Healthy life expectancy (HALE) at birth (years)      Published  2000
4654  Healthy life expectancy (HALE) at birth (years)      Published  2000
4655  Healthy life expectancy (HALE) at birth (years)      Published  2012

                 WHO region World Bank income group               Country  \
0                    Europe             High-income               Andorra
1                    Europe             High-income               Andorra
2                    Europe             High-income               Andorra
3                    Europe             High-income               Andorra
4     Eastern Mediterranean             High-income  United Arab Emirates
...                     ...                     ...                   ...
4651        Western Pacific     Lower-middle-income                 Samoa
4652  Eastern Mediterranean              Low-income                 Yemen
4653                 Africa     Upper-middle-income          South Africa
4654                 Africa              Low-income                Zambia
4655                 Africa              Low-income              Zimbabwe

             Sex  Display Value  Numeric Low High Comments
0     Both sexes             77       77
1     Both sexes             80       80
2         Female             28       28
3     Both sexes             23       23
4         Female             78       78
...          ...            ...      ...  ..  ...      ...
4651      Female             66       66
4652  Both sexes             54       54
4653        Male             49       49
4654  Both sexes             36       36
4655      Female             51       51

[4656 rows x 12 columns]

## Display a Dataframe

In [40]:
#print all dataframe in string
print(df.to_string())

                                            Indicator PUBLISH STATES  Year             WHO region World Bank income group                                               Country         Sex  Display Value  Numeric Low High Comments
0                    Life expectancy at birth (years)      Published  1990                 Europe             High-income                                               Andorra  Both sexes             77       77
1                    Life expectancy at birth (years)      Published  2000                 Europe             High-income                                               Andorra  Both sexes             80       80
2                   Life expectancy at age 60 (years)      Published  2012                 Europe             High-income                                               Andorra      Female             28       28
3                   Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                               Andorra  Both sexes             23       23
4                    Life expectancy at birth (years)      Published  2012  Eastern Mediterranean             High-income                                  United Arab Emirates      Female             78       78
5                    Life expectancy at birth (years)      Published  2000               Americas             High-income                                   Antigua and Barbuda        Male             72       72
6                   Life expectancy at age 60 (years)      Published  1990               Americas             High-income                                   Antigua and Barbuda        Male             17       17
7                   Life expectancy at age 60 (years)      Published  2012               Americas             High-income                                   Antigua and Barbuda  Both sexes             22       22
8                    Life expectancy at birth (years)      Published  2012        Western Pacific             High-income                                             Australia        Male             81       81
9                    Life expectancy at birth (years)      Published  2000        Western Pacific             High-income                                             Australia  Both sexes             80       80
10                   Life expectancy at birth (years)      Published  2012        Western Pacific             High-income                                             Australia  Both sexes             83       83
11                   Life expectancy at birth (years)      Published  2012                 Europe             High-income                                               Austria      Female             83       83
12                  Life expectancy at age 60 (years)      Published  2012                 Europe             High-income                                               Austria      Female             25       25
13                   Life expectancy at birth (years)      Published  2012                 Europe             High-income                                               Belgium      Female             83       83
14                   Life expectancy at birth (years)      Published  2000  Eastern Mediterranean             High-income                                               Bahrain        Male             73       73
15                   Life expectancy at birth (years)      Published  1990  Eastern Mediterranean             High-income                                               Bahrain      Female             74       74
16                  Life expectancy at age 60 (years)      Published  1990  Eastern Mediterranean             High-income                                               Bahrain        Male             17       17
17                   Life expectancy at birth (years)      Published  2012               Americas             High-income                                               Bahamas        Male             72       72
18                  Life expectancy at age 60 (years)      Published  2000               Americas             High-income                                               Bahamas  Both sexes             21       21
19                   Life expectancy at birth (years)      Published  1990               Americas             High-income                                              Barbados        Male             71       71
20                  Life expectancy at age 60 (years)      Published  2012               Americas             High-income                                              Barbados      Female             25       25
21                  Life expectancy at age 60 (years)      Published  2012               Americas             High-income                                              Barbados  Both sexes             23       23
22                  Life expectancy at age 60 (years)      Published  1990        Western Pacific             High-income                                     Brunei Darussalam      Female             20       20
23                  Life expectancy at age 60 (years)      Published  2000        Western Pacific             High-income                                     Brunei Darussalam      Female             22       22
24                  Life expectancy at age 60 (years)      Published  2012        Western Pacific             High-income                                     Brunei Darussalam      Female             21       21
25                   Life expectancy at birth (years)      Published  2000               Americas             High-income                                                Canada      Female             82       82
26                  Life expectancy at age 60 (years)      Published  2000               Americas             High-income                                                Canada        Male             21       21
27                  Life expectancy at age 60 (years)      Published  1990               Americas             High-income                                                Canada      Female             24       24
28                   Life expectancy at birth (years)      Published  1990                 Europe             High-income                                           Switzerland        Male             74       74
29                   Life expectancy at birth (years)      Published  2012                 Europe             High-income                                           Switzerland  Both sexes             83       83
30                  Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                           Switzerland  Both sexes             23       23
31                   Life expectancy at birth (years)      Published  2012        Western Pacific             High-income                                          Cook Islands  Both sexes             76       76
32                  Life expectancy at age 60 (years)      Published  2012        Western Pacific             High-income                                          Cook Islands      Female             22       22
33                  Life expectancy at age 60 (years)      Published  2000        Western Pacific             High-income                                          Cook Islands  Both sexes             18       18
34                   Life expectancy at birth (years)      Published  2000                 Europe             High-income                                                Cyprus      Female             79       79
35                   Life expectancy at birth (years)      Published  2000                 Europe             High-income                                                Cyprus  Both sexes             77       77
36                  Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                                Cyprus      Female             22       22
37                  Life expectancy at age 60 (years)      Published  2012                 Europe             High-income                                                Cyprus      Female             26       26
38                   Life expectancy at birth (years)      Published  2012                 Europe             High-income                                        Czech Republic        Male             75       75
39                   Life expectancy at birth (years)      Published  1990                 Europe             High-income                                        Czech Republic      Female             75       75
40                   Life expectancy at birth (years)      Published  1990                 Europe             High-income                                               Germany      Female             79       79
41                  Life expectancy at age 60 (years)      Published  1990                 Europe             High-income                                               Germany        Male             18       18
42                  Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                               Germany        Male             20       20
43                   Life expectancy at birth (years)      Published  2012                 Europe             High-income                                               Denmark  Both sexes             80       80
44                  Life expectancy at age 60 (years)      Published  1990                 Europe             High-income                                               Denmark        Male             18       18
45                  Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                               Denmark        Male             19       19
46                  Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                               Denmark  Both sexes             21       21
47                  Life expectancy at age 60 (years)      Published  2012                 Europe             High-income                                               Denmark  Both sexes             23       23
48                   Life expectancy at birth (years)      Published  2012                 Europe             High-income                                                 Spain  Both sexes             82       82
49                  Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                                 Spain      Female             25       25
50                  Life expectancy at age 60 (years)      Published  1990                 Europe             High-income                                                 Spain  Both sexes             22       22
51                   Life expectancy at birth (years)      Published  1990                 Europe             High-income                                               Estonia      Female             75       75
52                   Life expectancy at birth (years)      Published  2012                 Europe             High-income                                               Estonia      Female             81       81
53                  Life expectancy at age 60 (years)      Published  2012                 Europe             High-income                                               Estonia        Male             18       18
54                  Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                               Estonia      Female             21       21
55                  Life expectancy at age 60 (years)      Published  2012                 Europe             High-income                                               Estonia      Female             24       24
56                   Life expectancy at birth (years)      Published  1990                 Europe             High-income                                               Finland      Female             79       79
57                  Life expectancy at age 60 (years)      Published  2012                 Europe             High-income                                               Finland        Male             22       22
58                   Life expectancy at birth (years)      Published  2000                 Europe             High-income                                                France        Male             75       75
59                  Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                                France        Male             20       20
60                   Life expectancy at birth (years)      Published  2012                 Europe             High-income  United Kingdom of Great Britain and Northern Ireland      Female             83       83
61                   Life expectancy at birth (years)      Published  2012                 Europe             High-income  United Kingdom of Great Britain and Northern Ireland  Both sexes             81       81
62                  Life expectancy at age 60 (years)      Published  1990                 Europe             High-income  United Kingdom of Great Britain and Northern Ireland        Male             18       18
63                   Life expectancy at birth (years)      Published  2000                 Africa             High-income                                     Equatorial Guinea      Female             52       52
64                  Life expectancy at age 60 (years)      Published  1990                 Africa             High-income                                     Equatorial Guinea      Female             15       15
65                  Life expectancy at age 60 (years)      Published  2012                 Africa             High-income                                     Equatorial Guinea      Female             17       17
66                   Life expectancy at birth (years)      Published  2012                 Europe             High-income                                                Greece        Male             78       78
67                   Life expectancy at birth (years)      Published  2012                 Europe             High-income                                                Greece      Female             83       83
68                   Life expectancy at birth (years)      Published  2012                 Europe             High-income                                               Croatia  Both sexes             78       78
69                  Life expectancy at age 60 (years)      Published  1990                 Europe             High-income                                               Croatia        Male             16       16
70                  Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                               Croatia  Both sexes             19       19
71                   Life expectancy at birth (years)      Published  2000                 Europe             High-income                                               Hungary        Male             68       68
72                   Life expectancy at birth (years)      Published  2000                 Europe             High-income                                               Hungary  Both sexes             72       72
73                  Life expectancy at age 60 (years)      Published  1990                 Europe             High-income                                               Hungary        Male             15       15
74                  Life expectancy at age 60 (years)      Published  2012                 Europe             High-income                                               Hungary      Female             22       22
75                  Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                               Hungary  Both sexes             18       18
76                   Life expectancy at birth (years)      Published  2000                 Europe             High-income                                               Ireland  Both sexes             77       77
77                  Life expectancy at age 60 (years)      Published  1990                 Europe             High-income                                               Ireland  Both sexes             19       19
78                  Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                               Ireland  Both sexes             20       20
79                   Life expectancy at birth (years)      Published  2012                 Europe             High-income                                               Iceland      Female             84       84
80                  Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                               Iceland      Female             24       24
81                   Life expectancy at birth (years)      Published  1990                 Europe             High-income                                                Israel        Male             75       75
82                  Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                                Israel        Male             21       21
83                  Life expectancy at age 60 (years)      Published  2012                 Europe             High-income                                                Israel  Both sexes             24       24
84                   Life expectancy at birth (years)      Published  1990                 Europe             High-income                                                 Italy        Male             74       74
85                   Life expectancy at birth (years)      Published  2000                 Europe             High-income                                                 Italy        Male             77       77
86                  Life expectancy at age 60 (years)      Published  2000                 Europe             High-income                                                 Italy        Male             21       21
87                  Life expectancy at age 60 (years)      Published  2012                 Europe             High-income                                                 Italy  Both sexes             25       25
88                  Life expectancy at age 60 (years)      Published  2012        Western Pacific             High-income                                                 Japan      Female             29       29
89                  Life expectancy at age 60 (years)      Published  1990        Western Pacific             High-income                                                 Japan  Both sexes             23       23
90                  Life expectancy at age 60 (years)      Published  2000        Western Pacific             High-income                                                 Japan  Both sexes             25       25
91                   Life expectancy at birth (years)      Published  1990        Western Pacific             High-income                                     Republic of Korea      Female             76       76
92                   Life expectancy at birth (years)      Published  1990        Western Pacific             High-income                                     Republic of Korea  Both sexes             72       72

In [41]:
#Print a portion of the dataframe
print(df)

                                            Indicator PUBLISH STATES  Year  \
0                    Life expectancy at birth (years)      Published  1990
1                    Life expectancy at birth (years)      Published  2000
2                   Life expectancy at age 60 (years)      Published  2012
3                   Life expectancy at age 60 (years)      Published  2000
4                    Life expectancy at birth (years)      Published  2012
...                                               ...            ...   ...
4651  Healthy life expectancy (HALE) at birth (years)      Published  2012
4652  Healthy life expectancy (HALE) at birth (years)      Published  2012
4653  Healthy life expectancy (HALE) at birth (years)      Published  2000
4654  Healthy life expectancy (HALE) at birth (years)      Published  2000
4655  Healthy life expectancy (HALE) at birth (years)      Published  2012

                 WHO region World Bank income group               Country  \
0                    Europe             High-income               Andorra
1                    Europe             High-income               Andorra
2                    Europe             High-income               Andorra
3                    Europe             High-income               Andorra
4     Eastern Mediterranean             High-income  United Arab Emirates
...                     ...                     ...                   ...
4651        Western Pacific     Lower-middle-income                 Samoa
4652  Eastern Mediterranean              Low-income                 Yemen
4653                 Africa     Upper-middle-income          South Africa
4654                 Africa              Low-income                Zambia
4655                 Africa              Low-income              Zimbabwe

             Sex  Display Value  Numeric Low High Comments
0     Both sexes             77       77
1     Both sexes             80       80
2         Female             28       28
3     Both sexes             23       23
4         Female             78       78
...          ...            ...      ...  ..  ...      ...
4651      Female             66       66
4652  Both sexes             54       54
4653        Male             49       49
4654  Both sexes             36       36
4655      Female             51       51

[4656 rows x 12 columns]

In [42]:
#change the maximum of displayed rows
print(pd.options.display.max_rows) 
# pd.options.display.max_rows = 2000
# print(df)
pd.options.display.max_rows = 4
print(df)

60
                                            Indicator PUBLISH STATES  Year  \
0                    Life expectancy at birth (years)      Published  1990
1                    Life expectancy at birth (years)      Published  2000
...                                               ...            ...   ...
4654  Healthy life expectancy (HALE) at birth (years)      Published  2000
4655  Healthy life expectancy (HALE) at birth (years)      Published  2012

     WHO region World Bank income group   Country         Sex  Display Value  \
0        Europe             High-income   Andorra  Both sexes             77
1        Europe             High-income   Andorra  Both sexes             80
...         ...                     ...       ...         ...            ...
4654     Africa              Low-income    Zambia  Both sexes             36
4655     Africa              Low-income  Zimbabwe      Female             51

      Numeric Low High Comments
0          77
1          80
...       ...  ..  ...      ...
4654       36
4655       51

[4656 rows x 12 columns]